.msds-category-card {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;

  &:hover {
    .msds-category-card__header {
      color: $yellow;
    }
  }

  &:active {
    .msds-category-card__header {
      box-shadow: inset 0 -1px 0 0 #0175a6, 0 0 0 4px $rgba-3;
    }
  }

  &--disabled {
    pointer-events: none;
    .msds-category-card__header {
      position: relative;
      color: $white;
      overflow: hidden;
    }

    .msds-category-card__header-icon {
      fill: $white;
    }

    .msds-category-card__header-opaque-filter {
      position: absolute;
      top: 0px;
      right: 0px;
      height: 100%;
      background-color: $rgba-10;
      border-radius: 2px 2px 0 0;
    }

    &:hover {
      cursor: unset;
      .msds-category-card__header {
        color: $white;
      }
    }

    &:active {
      .msds-category-card__header {
        box-shadow: unset;
      }
    }
  }

  &--small {
    .msds-category-card__header {
      padding-right: 12px;

      &-body {
        padding: 16px 16px 16px 12px;
      }
      &-icon {
        margin: 20px 0px;
      }
    }

    .msds-category-card__content {
      &-body {
        padding: 16px 16px 32px;
      }
    }
  }

  &--dark {
    .msds-category-card__header {
      background: $rgba-10;
      &:active {
        box-shadow: 0 0 0 4px $rgba-7, $shadow-large;
      }
    }

    .msds-category-card__content {
      color: $white;
      background: $rgba-11;
    }
  }

  &__link {
    text-decoration: none;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    color: $white;
    @include msds-font('header-4');
    padding-right: 16px;
    background: linear-gradient(90deg, #0081c1 0%, #0099da 100%);
  }

  &__header-body {
    padding: 24px 12px 24px 20px;
  }

  &__header-icon {
    fill: $yellow;
    width: 16px;
    height: 16px;
    margin: 28px 0px;
  }

  &__header-opaque-filter {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  &__content {
    @include msds-font('body-1');
    border-radius: 2px;

    &-body {
      padding: 24px 22px 32px 26px;
    }
  }
}
