.msds-accordion {
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  &__header-icon {
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
    max-width: 120px;
    max-height: 90px;
  }

  &__header {
    text-align: center;
    margin: 20px 20px 20px 32px;
  }

  &__list-item {
    flex-direction: column;
    &:last-child {
      border-bottom: 1px solid $gray-4;
    }
  }

  &__list-item-headline {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 24px 8px 24px;
    font-weight: bold;
    border-top: 1px solid $gray-4;
    cursor: pointer;
  }

  &__list-item-headline-icon {
    padding-top: 4px;
    padding-left: 12px;

    svg {
      fill: $clear-blue;
      width: 17px;
      height: 17px;
      transform: rotate(90deg);
      transition: all 0.25s ease-in-out;
    }
  }

  &__list-description {
    padding: 0 8px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.25s ease-in-out;
  }

  & input[type='checkbox'],
  & input[type='radio'] {
    position: absolute;
    opacity: 1;
    z-index: -1;

    &:checked {
      ~ .msds-accordion__list-item-headline {
        padding-bottom: 22px;
        text-decoration: underline;

        .msds-accordion__list-item-headline-icon svg {
          transform: rotate(270deg);
        }
      }

      ~ .msds-accordion__list-description {
        max-height: 1000px;
        padding-top: 10px;
        margin-bottom: 28px;
      }
    }

    &:hover {
      ~ .msds-accordion__list-item-headline {
        background: rgba(2, 56, 82, 0.05);
        text-decoration: underline;
      }
    }

    &:active {
      ~ .msds-accordion__list-item-headline {
        background: rgba(2, 56, 82, 0.05);
        outline: 4px solid $rgba-3;
        &:not(:first-child) {
          margin-bottom: 4px;
        }
      }
    }

    &:focus {
      ~ .msds-accordion__list-item-headline {
        outline: 4px solid $rgba-3;
        &:not(:first-child) {
          margin-bottom: 4px;
        }
      }
    }

    &:disabled {
      ~ .msds-accordion__list-item-headline {
        background: unset;
        outline: unset;
        text-decoration: unset;
        font-weight: unset;
        color: $gray-7;

        &:not(:first-child) {
          margin-bottom: 0;
        }

        .msds-accordion__list-item-headline-icon {
          svg {
            fill: $gray-7;
          }
        }
      }

      ~ .msds-accordion__description {
        opacity: 0.5;
      }
    }
  }

  &--list-content {
    padding-bottom: 56px;
  }

  &--dark {
    .msds-accordion__list-item-headline-icon {
      svg {
        fill: $white;
      }
    }
    .msds-accordion__list-item {
      &:last-child {
        border-bottom: 1px solid $rgba-8;
      }
    }

    .msds-accordion__list-item-headline {
      border-top: 1px solid $rgba-8;
    }

    & input[type='checkbox'],
    & input[type='radio'] {
      &:hover {
        ~ .msds-accordion__list-item-headline {
          background: $rgba-2;
          text-decoration: underline;
        }
      }
      &:active {
        ~ .msds-accordion__list-item-headline {
          background: $rgba-2;
          outline: 4px solid $rgba-7;
        }
      }

      &:focus {
        ~ .msds-accordion__list-item-headline {
          outline: 4px solid $rgba-7;
        }
      }

      &:disabled {
        ~ .msds-accordion__list-item-headline {
          background: unset;
          outline: unset;
          text-decoration: unset;
          font-weight: unset;
          color: $white;
          opacity: 0.5;

          .msds-accordion__list-item-headline-icon svg {
            fill: $white;
          }
        }
      }
    }
  }
}

@media (min-width: 769px) {
  .msds-accordion {
    display: flex;
    flex-direction: row;
    padding-top: 80px;
    padding-bottom: 96px;

    &__header-icon {
      margin-top: unset;
      margin-bottom: unset;
      max-width: 180px;
      max-height: 156px;
    }

    &__header {
      text-align: unset;
      margin: 10px 0 36px 0;
    }

    &--full-width {
      & .msds-accordion__header {
        text-align: center;
      }
    }
  }
}
