<div class="container">
    <div class="msds-accordion msds-accordion--list-content msds-accordion--dark msds-bg-clear-blue-gradient">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="msds-accordion__header-icon msds-contact-illustration" title="Contact Illustration">
                </div>
            </div>
            <div class="col-12 col-md-8">
                <h2 class="msds-accordion__header msds-text-header-2 msds-text-white">Frequently asked questions</h2>

                <div class="msds-accordion__list-item">
                    <legend>
                        <input id="how-does-membership-work" type="radio" name="accordion-level-1" />
                        <label class="msds-accordion__list-item-headline msds-text-body-1 msds-text-white"
                            for="how-does-membership-work">
                            How does the membership model work?

                            <div class="msds-accordion__list-item-headline-icon">
                                <svg>
                                    <use href="/msds-spritemap.svg#right-arrow"></use>
                                </svg>
                            </div>
                        </label>
                        <div class="msds-accordion__list-description msds-text-white">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa omnis aperiam officiis!
                            Dolorum
                            provident et, facilis libero eius molestias sunt porro corporis repudiandae ipsam atque,
                            pariatur, eum unde commodi nesciunt.
                        </div>
                    </legend>

                </div>

                <div class="msds-accordion__list-item">
                    <legend>
                        <input id="how-do-i-find-marketplace" type="radio" name="accordion-level-1" />
                        <label class="msds-accordion__list-item-headline msds-text-body-1 msds-text-white"
                            for="how-do-i-find-marketplace">
                            How do I join Milestone Marketplace?

                            <div class="msds-accordion__list-item-headline-icon">
                                <svg>
                                    <use href="/msds-spritemap.svg#right-arrow"></use>
                                </svg>
                            </div>
                        </label>
                        <div class="msds-accordion__list-description msds-text-white">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa omnis aperiam officiis!
                            Dolorum
                            provident et, facilis libero eius molestias sunt porro corporis repudiandae ipsam atque,
                            pariatur, eum unde commodi nesciunt.
                        </div>
                    </legend>
                </div>
            </div>
        </div>
    </div>
</div>