@mixin msds-font($font) {
  @if $font == 'display-1' {
    @include rfs(80);
    line-height: 88px;
    font-weight: 800;
    letter-spacing: 1.15px;

    @include media-breakpoint-down(lg) {
      line-height: calc(38px + 4.2vw);
    }
  }

  @if $font == 'display-2' {
    @include rfs(56);
    line-height: 64px;
    font-weight: 800;
    letter-spacing: 0.8px;

    @include media-breakpoint-down(lg) {
      line-height: calc(32px + 2.625vw);
    }
  }

  @if $font == 'display-3' {
    @include rfs(42);
    line-height: 48px;
    font-weight: 800;
    letter-spacing: 0.6px;

    @include media-breakpoint-down(lg) {
      line-height: calc(29px + 1.45vw);
    }
  }

  @if $font == 'header-1' {
    @include rfs(42);
    line-height: 48px;
    font-weight: 300;

    @include media-breakpoint-down(lg) {
      line-height: calc(29px + 1.45vw);
    }
  }

  @if $font == 'header-2' {
    @include rfs(32);
    line-height: 38px;
    font-weight: 300;

    @include media-breakpoint-down(lg) {
      line-height: calc(27px + 0.9vw);
    }
  }

  @if $font == 'header-3' {
    @include rfs(20);
    line-height: 28px;
    font-weight: 700;
  }

  @if $font == 'header-4' {
    @include rfs(18);
    line-height: 24px;
    font-weight: 600;
  }

  @if $font == 'header-5' {
    @include rfs(14);
    line-height: 21px;
    font-weight: 700;
    letter-spacing: 0.3px;
  }

  @if $font == 'header-6' {
    @include rfs(12);
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 0.3px;
  }

  @if $font == 'lead' {
    @include rfs(24);
    line-height: 32px;
    font-weight: 300;
  }

  @if $font == 'body-0' {
    @include rfs(18);
    line-height: 26px;
  }

  @if $font == 'body-1' {
    @include rfs(16);
    line-height: 22px;
  }

  @if $font == 'body-2' {
    @include rfs(14);
    line-height: 20px;
  }

  @if $font == 'body-3' {
    @include rfs(12);
    line-height: 18px;
  }

  @if $font == 'body-4' {
    @include rfs(11);
    line-height: 15px;
  }

  @if $font == 'body-5' {
    @include rfs(10);
    line-height: 15px;
  }
}

.msds-enable-font-family {
  font-family: 'Open Sans', sans-serif;
}

.msds-text-display-1 {
  @include msds-font('display-1');
}

.msds-text-display-2 {
  @include msds-font('display-2');
}

.msds-text-display-3 {
  @include msds-font('display-3');
}

.msds-text-header-1 {
  @include msds-font('header-1');
}

.msds-text-header-2 {
  @include msds-font('header-2');
}

.msds-text-header-3 {
  @include msds-font('header-3');
}

.msds-text-header-4 {
  @include msds-font('header-4');
}

.msds-text-header-5 {
  @include msds-font('header-5');
}

.msds-text-header-6 {
  @include msds-font('header-6');
}

.msds-text-lead {
  @include msds-font('lead');
}

.msds-text-body-0 {
  @include msds-font('body-0');
}

.msds-text-body-1 {
  @include msds-font('body-1');
}

.msds-text-body-2 {
  @include msds-font('body-2');
}

.msds-text-body-3 {
  @include msds-font('body-3');
}

.msds-text-body-4 {
  @include msds-font('body-4');
}

.msds-text-body-5 {
  @include msds-font('body-5');
}
