<div class="msds-text-display-1">DISPLAY 1</div>
<div class="msds-text-display-2">DISPLAY 2</div>
<div class="msds-text-display-3">DISPLAY 3</div>
<div class="msds-text-header-1">Header 1</div>
<div class="msds-text-header-2">Header 2</div>
<div class="msds-text-header-3">Header 3</div>
<div class="msds-text-header-4">Header 4</div>
<div class="msds-text-header-5">Header 5</div>
<div class="msds-text-header-6">Header 6</div>
<div class="msds-text-lead">Lead</div>
<div class="msds-text-body-1">Body text 1</div>
<div class="msds-text-body-2">Body text 2</div>
<div class="msds-text-body-3">Body text 3</div>
<div class="msds-text-body-4">Body text 4</div>
<div class="msds-text-body-5">Body text 5</div>
