@mixin border-bottom {
  position: absolute;
  border-top: unset;
  top: unset;
  bottom: 0px;
  left: -0.0625rem;
  content: ' ';
  display: block;
  width: 100%;
  height: calc(100% + 2px);
  border-radius: none;
}

@mixin border-top {
  position: absolute;
  top: -4px;
  left: -0.0625rem;
  content: ' ';
  display: block;
  height: 0%;
  width: calc(100% + 2px);
  border-radius: 2px 2px 0 0;
}

.msds-tabs {
  &--sticky-tabs {
    top: 0;
    position: sticky;
  }

  &__container {
    display: flex;
    flex-direction: row;
    z-index: 10;
  }

  &__tabs-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  &__tab {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    // max-width: 371px;
    border-top: 4px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-radius: 2px 2px 0 0;
    margin-left: 0;
    margin-right: 0;
    @include msds-font('body-1');
    font-weight: bold;
    text-align: center;
    color: $gray-9;
    cursor: pointer;
    padding: 20px 16px 24px 16px;
    border-bottom: 1px solid $gray-4;

    &:hover {
      color: $clear-blue;
    }

    &:focus {
      outline: none;

      &:after {
        border-top: 4px solid $gray-7;
        @include border-top();
      }
    }
  }

  &__tab--active {
    border-top: 4px solid $clear-blue;
    border-left: 1px solid $gray-4;
    border-right: 1px solid $gray-4;
    border-bottom: none;
    background: $white;
    color: $clear-blue;

    &:after {
      @include border-top();
      border-top: 4px solid $clear-blue;
    }

    &:focus {
      &:after {
        @include border-top();
        border-top: 4px solid $clear-blue;
      }
    }
  }

  &__tab--disabled {
    color: $gray-7;
    pointer-events: none;
    svg {
      filter: grayscale(100%);
    }
    .msds-tab__tab--active {
      border-top: 4px solid $gray-5;
    }
    &:hover {
      color: $gray-7;
    }
    &.msds-tab__tab--active {
      border-top: 4px solid $gray-5;
    }
    &.msds-tab__tab--small {
      &.msds-tab__tab--active {
        border-bottom: 4px solid $gray-5;
        border-top: 4px solid $white;
      }
    }
  }

  &__tab--small {
    padding: 20px 20px 12px 20px;
    border-top: 0px solid transparent;
    border-left: none;
    border-right: none;
    text-align: center;
    min-width: 120px;
    @include msds-font('body-2');
    border-bottom: 0.7px solid $gray-4;

    .msds-tab-tile__svg {
      max-width: 80px;
      max-height: 60px;
      margin-bottom: 12px;
    }

    &.msds-tabs__tab--active {
      background-color: transparent;
      &:after {
        @include border-bottom();
        border-top: unset;
        border-bottom: 3px solid $clear-blue;
      }

      &:focus {
        &:after {
          @include border-bottom();
          border-top: unset;
          border-bottom: 3px solid $clear-blue;
        }
      }

      &.msds-tabs__tab {
        border-top: unset;
      }
    }

    &:focus {
      &:after {
        @include border-bottom();
        border-top: unset;
        border-bottom: 3px solid $gray-7;
      }
    }

    &:active {
      &:after {
        @include border-bottom();
        border-top: unset;
        border-bottom: 3px solid $gray-7;
      }
    }
  }

  &--center-tabs {
    justify-content: center;
  }

  &__tab-svg {
    width: 120px;
    height: 90px;
    margin-bottom: 20px;
  }

  &__tab-text {
    width: 100%;
  }

  &__content-container {
    display: none;
    min-height: 100px;

    &--visible {
      display: block;
    }
  }
}

.msds-tabs-other-content {
  height: 100vh;
}

@include media-breakpoint-down(md) {
  .msds-tabs {
    &__tabs-container {
      max-width: 100vw;
      flex-wrap: nowrap;
      overflow-x: hidden;
    }
  }
}

@include media-breakpoint-up(lg) {
  .msds-tabs {
    &__spacer {
      flex-grow: 1;
      border-bottom: 1px solid $gray-4;
    }

    &__tab--active {
      border-bottom: none;
    }
  }
}
