.msds-basic-card {
  display: flex;
  flex-direction: column;
  height: 100%;

  &--vertical-aligned {
    display: flex;
    flex: 1 0 auto;
  }

  &--centered {
    align-items: center;
    text-align: center;
  }

  &__frame {
    margin-bottom: 40px;

    &-image {
      object-fit: cover;
      height: inherit;
      width: inherit;
    }
  }

  &__caption {
    margin-bottom: 24px;
  }

  &__caption-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 3px;
    vertical-align: bottom;

    svg {
      fill: $clear-blue;
    }
  }

  &__caption-title {
    display: inline-block;
    @extend .msds-text-body-1;
    @extend .msds-font-weight-bold;
    color: $clear-blue;
    vertical-align: top;
  }

  &__separator {
    height: 1px;
    width: 32px;
    background-color: $gray-4;
    margin-bottom: 24px;
  }

  &__body {
    border-radius: 0 0 2px 2px;
    flex: 1;

    &-heading-icon {
      margin-bottom: 15px;

      svg {
        fill: $clear-blue;
        width: 32px;
        height: 32px;
      }

      img {
        height: 40px;
      }
    }

    &-heading {
      @extend .msds-text-header-3;
      color: $gray-10;
      margin: 0;
      padding-bottom: 8px;
    }

    &-description {
      @extend .msds-text-body-1;
      @extend .msds-font-weight-light;
      color: $gray-9;
      margin: 0;
      padding-bottom: 10px;
    }
  }

  &__link {
    @extend .msds-text-body-1;
    @extend .msds-font-weight-light;
    color: $clear-blue;
    text-decoration: none;
  }

  &--dark {
    .msds-basic-card__caption-icon {
      svg {
        fill: $yellow;
      }
    }

    .msds-basic-card__caption-title {
      color: $yellow;
    }

    .msds-basic-card__separator {
      background-color: rgba(220, 226, 230, 0.4); //TODO: replace with a correct value.
    }

    .msds-basic-card__body-heading-icon {
      svg {
        fill: $white;
      }
    }

    .msds-basic-card__body-heading {
      color: $white;
    }

    .msds-basic-card__body-description {
      color: $white;
    }

    .msds-basic-card__link {
      color: $yellow;
    }
  }
}
