<div class="row card-row">
    <div class="col-12 col-md-4">
        <div class="msds-basic-card msds-basic-card--vertical-aligned">
            <div class="msds-basic-card__body">
                <div class="msds-basic-card__body-heading-icon">
                    <img src="{{card.placeholderCaptionImg}}" alt="custom image one">
                </div>
                <div class="msds-basic-card__body-heading">
                    {{card.placeholderHeading}}
                </div>
                <div class="msds-basic-card__body-description">
                    {{card.placeholderDescriptionlong}}
                </div>
                <a class="msds-basic-card__link" href="/">
                    {{card.placeholderLinkText}}
                </a>
            </div>            
        </div>
    </div>
</div>