.msds-logo-diamond {
  @include sprite('logo-diamond');
  height: map-get(map-get($sprite-sizes, 'logo-diamond'), 'height');
  width: map-get(map-get($sprite-sizes, 'logo-diamond'), 'width');
}

.msds-dome-cam {
  @include sprite('dome-cam');
  height: map-get(map-get($sprite-sizes, 'dome-cam'), 'height');
  width: map-get(map-get($sprite-sizes, 'dome-cam'), 'width');
}

.msds-dome-cam-8 {
  @include sprite('dome-cam-8');
  height: map-get(map-get($sprite-sizes, 'dome-cam-8'), 'height');
  width: map-get(map-get($sprite-sizes, 'dome-cam-8'), 'width');
}
.msds-cam-group-small {
  @include sprite('cam-group-small');
  height: map-get(map-get($sprite-sizes, 'cam-group-small'), 'height');
  width: map-get(map-get($sprite-sizes, 'cam-group-small'), 'width');
}

.msds-cam-group-big {
  @include sprite('cam-group-big');
  height: map-get(map-get($sprite-sizes, 'cam-group-big'), 'height');
  width: map-get(map-get($sprite-sizes, 'cam-group-big'), 'width');
}

.msds-planet {
  @include sprite('planet');
  height: map-get(map-get($sprite-sizes, 'planet'), 'height');
  width: map-get(map-get($sprite-sizes, 'planet'), 'width');
}

.msds-single-site {
  @include sprite('single-site');
  height: map-get(map-get($sprite-sizes, 'single-site'), 'height');
  width: map-get(map-get($sprite-sizes, 'single-site'), 'width');
}

.msds-advanced-super-surveillance {
  @include sprite('advanced-super-surveillance');
  height: map-get(map-get($sprite-sizes, 'advanced-super-surveillance'), 'height');
  width: map-get(map-get($sprite-sizes, 'advanced-super-surveillance'), 'width');
}

.msds-screen-recording {
  @include sprite('screen-recording');
  height: map-get(map-get($sprite-sizes, 'screen-recording'), 'height');
  width: map-get(map-get($sprite-sizes, 'screen-recording'), 'width');
}

.msds-clock-24-7 {
  @include sprite('clock-24-7');
  height: map-get(map-get($sprite-sizes, 'clock-24-7'), 'height');
  width: map-get(map-get($sprite-sizes, 'clock-24-7'), 'width');
}

.msds-cal-monthly {
  @include sprite('cal-monthly');
  height: map-get(map-get($sprite-sizes, 'cal-monthly'), 'height');
  width: map-get(map-get($sprite-sizes, 'cal-monthly'), 'width');
}

.msds-cal-weekly {
  @include sprite('cal-weekly');
  height: map-get(map-get($sprite-sizes, 'cal-weekly'), 'height');
  width: map-get(map-get($sprite-sizes, 'cal-weekly'), 'width');
}

.msds-backup-important {
  @include sprite('backup-important');
  height: map-get(map-get($sprite-sizes, 'backup-important'), 'height');
  width: map-get(map-get($sprite-sizes, 'backup-important'), 'width');
}

.msds-no-backup {
  @include sprite('no-backup');
  height: map-get(map-get($sprite-sizes, 'no-backup'), 'height');
  width: map-get(map-get($sprite-sizes, 'no-backup'), 'width');
}

.msds-xprotect {
  @include sprite('xprotect');
  height: map-get(map-get($sprite-sizes, 'xprotect'), 'height');
  width: map-get(map-get($sprite-sizes, 'xprotect'), 'width');
}

.msds-access-control-illustration {
  @include sprite('access-control-illustration');
  height: map-get(map-get($sprite-sizes, 'access-control-illustration'), 'height');
  width: map-get(map-get($sprite-sizes, 'access-control-illustration'), 'width');
}

.msds-care {
  @include sprite('care');
  height: map-get(map-get($sprite-sizes, 'care'), 'height');
  width: map-get(map-get($sprite-sizes, 'care'), 'width');
}

.msds-contact-illustration {
  @include sprite('contact-illustration');
  height: map-get(map-get($sprite-sizes, 'contact-illustration'), 'height');
  width: map-get(map-get($sprite-sizes, 'contact-illustration'), 'width');
}

.msds-customizable {
  @include sprite('customizable');
  height: map-get(map-get($sprite-sizes, 'customizable'), 'height');
  width: map-get(map-get($sprite-sizes, 'customizable'), 'width');
}

.msds-download-illustration {
  @include sprite('download-illustration');
  height: map-get(map-get($sprite-sizes, 'download-illustration'), 'height');
  width: map-get(map-get($sprite-sizes, 'download-illustration'), 'width');
}

.msds-end-user {
  @include sprite('end-user');
  height: map-get(map-get($sprite-sizes, 'end-user'), 'height');
  width: map-get(map-get($sprite-sizes, 'end-user'), 'width');
}

.msds-getting-started {
  @include sprite('getting-started');
  height: map-get(map-get($sprite-sizes, 'getting-started'), 'height');
  width: map-get(map-get($sprite-sizes, 'getting-started'), 'width');
}

.msds-interconnect {
  @include sprite('interconnect');
  height: map-get(map-get($sprite-sizes, 'interconnect'), 'height');
  width: map-get(map-get($sprite-sizes, 'interconnect'), 'width');
}

.msds-milestone-global-offices-illustration {
  @include sprite('milestone-global-offices-illustration');
  height: map-get(map-get($sprite-sizes, 'milestone-global-offices-illustration'), 'height');
  width: map-get(map-get($sprite-sizes, 'milestone-global-offices-illustration'), 'width');
}

.msds-product-overview-illustration {
  @include sprite('product-overview-illustration');
  height: map-get(map-get($sprite-sizes, 'product-overview-illustration'), 'height');
  width: map-get(map-get($sprite-sizes, 'product-overview-illustration'), 'width');
}

.msds-reliable {
  @include sprite('reliable');
  height: map-get(map-get($sprite-sizes, 'reliable'), 'height');
  width: map-get(map-get($sprite-sizes, 'reliable'), 'width');
}

.msds-scalable {
  @include sprite('scalable');
  height: map-get(map-get($sprite-sizes, 'scalable'), 'height');
  width: map-get(map-get($sprite-sizes, 'scalable'), 'width');
}

.msds-secure {
  @include sprite('secure');
  height: map-get(map-get($sprite-sizes, 'secure'), 'height');
  width: map-get(map-get($sprite-sizes, 'secure'), 'width');
}

.msds-upgrade {
  @include sprite('upgrade');
  height: map-get(map-get($sprite-sizes, 'upgrade'), 'height');
  width: map-get(map-get($sprite-sizes, 'upgrade'), 'width');
}

.msds-skyline {
  @include sprite('skyline');
  height: map-get(map-get($sprite-sizes, 'skyline'), 'height');
  width: map-get(map-get($sprite-sizes, 'skyline'), 'width');
}

.msds-hardware-track {
  @include sprite('hardware-track');
  height: map-get(map-get($sprite-sizes, 'hardware-track'), 'height');
  width: map-get(map-get($sprite-sizes, 'hardware-track'), 'width');
}

.msds-system-builder-track {
  @include sprite('system-builder-track');
  height: map-get(map-get($sprite-sizes, 'system-builder-track'), 'height');
  width: map-get(map-get($sprite-sizes, 'system-builder-track'), 'width');
}

.msds-service-track {
  @include sprite('service-track');
  height: map-get(map-get($sprite-sizes, 'service-track'), 'height');
  width: map-get(map-get($sprite-sizes, 'service-track'), 'width');
}

.msds-hands {
  @include sprite('hands');
  height: map-get(map-get($sprite-sizes, 'hands'), 'height');
  width: map-get(map-get($sprite-sizes, 'hands'), 'width');
}

.msds-gdpr-info-kit {
  @include sprite('gdpr-info-kit');
  height: map-get(map-get($sprite-sizes, 'gdpr-info-kit'), 'height');
  width: map-get(map-get($sprite-sizes, 'gdpr-info-kit'), 'width');
}

.msds-gdpr-toolbox {
  @include sprite('gdpr-toolbox');
  height: map-get(map-get($sprite-sizes, 'gdpr-toolbox'), 'height');
  width: map-get(map-get($sprite-sizes, 'gdpr-toolbox'), 'width');
}

.msds-gdpr-ready {
  @include sprite('gdpr-ready');
  height: map-get(map-get($sprite-sizes, 'gdpr-ready'), 'height');
  width: map-get(map-get($sprite-sizes, 'gdpr-ready'), 'width');
}

.msds-feature-rich {
  @include sprite('feature-rich');
  height: map-get(map-get($sprite-sizes, 'feature-rich'), 'height');
  width: map-get(map-get($sprite-sizes, 'feature-rich'), 'width');
}

.msds-reduced-investment {
  @include sprite('reduced-investment');
  height: map-get(map-get($sprite-sizes, 'reduced-investment'), 'height');
  width: map-get(map-get($sprite-sizes, 'reduced-investment'), 'width');
}

.msds-ease-of-use {
  @include sprite('ease-of-use');
  height: map-get(map-get($sprite-sizes, 'ease-of-use'), 'height');
  width: map-get(map-get($sprite-sizes, 'ease-of-use'), 'width');
}

.msds-wifi {
  @include sprite('wifi');
  height: map-get(map-get($sprite-sizes, 'wifi'), 'height');
  width: map-get(map-get($sprite-sizes, 'wifi'), 'width');
}

.msds-xprotect-compare-matrix {
  @include sprite('xprotect-compare-matrix');
  height: map-get(map-get($sprite-sizes, 'xprotect-compare-matrix'), 'height');
  width: map-get(map-get($sprite-sizes, 'xprotect-compare-matrix'), 'width');
}

.msds-xprotect-compare-products {
  @include sprite('xprotect-compare-products');
  height: map-get(map-get($sprite-sizes, 'xprotect-compare-products'), 'height');
  width: map-get(map-get($sprite-sizes, 'xprotect-compare-products'), 'width');
}

.msds-xprotect-compare-releases {
  @include sprite('xprotect-compare-releases');
  height: map-get(map-get($sprite-sizes, 'xprotect-compare-releases'), 'height');
  width: map-get(map-get($sprite-sizes, 'xprotect-compare-releases'), 'width');
}

.msds-okay {
  @include sprite('okay');
  height: map-get(map-get($sprite-sizes, 'okay'), 'height');
  width: map-get(map-get($sprite-sizes, 'okay'), 'width');
}

.msds-analytics {
  @include sprite('analytics');
  height: map-get(map-get($sprite-sizes, 'analytics'), 'height');
  width: map-get(map-get($sprite-sizes, 'analytics'), 'width');
}

.msds-body-worn {
  @include sprite('body-worn');
  height: map-get(map-get($sprite-sizes, 'body-worn'), 'height');
  width: map-get(map-get($sprite-sizes, 'body-worn'), 'width');
}

.msds-catalogue {
  @include sprite('catalogue');
  height: map-get(map-get($sprite-sizes, 'catalogue'), 'height');
  width: map-get(map-get($sprite-sizes, 'catalogue'), 'width');
}
.msds-community {
  @include sprite('community');
  height: map-get(map-get($sprite-sizes, 'community'), 'height');
  width: map-get(map-get($sprite-sizes, 'community'), 'width');
}

.msds-crime {
  @include sprite('crime');
  height: map-get(map-get($sprite-sizes, 'crime'), 'height');
  width: map-get(map-get($sprite-sizes, 'crime'), 'width');
}

.msds-crowd-management {
  @include sprite('crowd-management');
  height: map-get(map-get($sprite-sizes, 'crowd-management'), 'height');
  width: map-get(map-get($sprite-sizes, 'crowd-management'), 'width');
}

.msds-customer-stories {
  @include sprite('customer-stories');
  height: map-get(map-get($sprite-sizes, 'customer-stories'), 'height');
  width: map-get(map-get($sprite-sizes, 'customer-stories'), 'width');
}

.msds-cyber-security {
  @include sprite('cyber-security');
  height: map-get(map-get($sprite-sizes, 'cyber-security'), 'height');
  width: map-get(map-get($sprite-sizes, 'cyber-security'), 'width');
}
.msds-decision-making {
  @include sprite('decision-making');
  height: map-get(map-get($sprite-sizes, 'decision-making'), 'height');
  width: map-get(map-get($sprite-sizes, 'decision-making'), 'width');
}
.msds-design {
  @include sprite('design');
  height: map-get(map-get($sprite-sizes, 'design'), 'height');
  width: map-get(map-get($sprite-sizes, 'design'), 'width');
}
.msds-devices {
  @include sprite('devices');
  height: map-get(map-get($sprite-sizes, 'devices'), 'height');
  width: map-get(map-get($sprite-sizes, 'devices'), 'width');
}
.msds-document {
  @include sprite('document');
  height: map-get(map-get($sprite-sizes, 'document'), 'height');
  width: map-get(map-get($sprite-sizes, 'document'), 'width');
}
.msds-emergency {
  @include sprite('emergency');
  height: map-get(map-get($sprite-sizes, 'emergency'), 'height');
  width: map-get(map-get($sprite-sizes, 'emergency'), 'width');
}
.msds-employees {
  @include sprite('employees');
  height: map-get(map-get($sprite-sizes, 'employees'), 'height');
  width: map-get(map-get($sprite-sizes, 'employees'), 'width');
}
.msds-get-leads {
  @include sprite('get-leads');
  height: map-get(map-get($sprite-sizes, 'get-leads'), 'height');
  width: map-get(map-get($sprite-sizes, 'get-leads'), 'width');
}
.msds-growth-data {
  @include sprite('growth-data');
  height: map-get(map-get($sprite-sizes, 'growth-data'), 'height');
  width: map-get(map-get($sprite-sizes, 'growth-data'), 'width');
}
.msds-hardware-applications-software {
  @include sprite('hardware-applications-software');
  height: map-get(map-get($sprite-sizes, 'hardware-applications-software'), 'height');
  width: map-get(map-get($sprite-sizes, 'hardware-applications-software'), 'width');
}
.msds-hardware {
  @include sprite('hardware');
  height: map-get(map-get($sprite-sizes, 'hardware'), 'height');
  width: map-get(map-get($sprite-sizes, 'hardware'), 'width');
}
.msds-integrator-searching-female {
  @include sprite('integrator-searching-female');
  height: map-get(map-get($sprite-sizes, 'integrator-searching-female'), 'height');
  width: map-get(map-get($sprite-sizes, 'integrator-searching-female'), 'width');
}
.msds-integrator-searching-male {
  @include sprite('integrator-searching-male');
  height: map-get(map-get($sprite-sizes, 'integrator-searching-male'), 'height');
  width: map-get(map-get($sprite-sizes, 'integrator-searching-male'), 'width');
}
.msds-investigation {
  @include sprite('investigation');
  height: map-get(map-get($sprite-sizes, 'investigation'), 'height');
  width: map-get(map-get($sprite-sizes, 'investigation'), 'width');
}
.msds-lpr {
  @include sprite('lpr');
  height: map-get(map-get($sprite-sizes, 'lpr'), 'height');
  width: map-get(map-get($sprite-sizes, 'lpr'), 'width');
}
.msds-marketplace-filter {
  @include sprite('marketplace-filter');
  height: map-get(map-get($sprite-sizes, 'marketplace-filter'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-filter'), 'width');
}
.msds-marketplace-interface {
  @include sprite('marketplace-interface');
  height: map-get(map-get($sprite-sizes, 'marketplace-interface'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-interface'), 'width');
}
.msds-milestone-in-the-media {
  @include sprite('milestone-in-the-media');
  height: map-get(map-get($sprite-sizes, 'milestone-in-the-media'), 'height');
  width: map-get(map-get($sprite-sizes, 'milestone-in-the-media'), 'width');
}
.msds-mobile-support {
  @include sprite('mobile-support');
  height: map-get(map-get($sprite-sizes, 'mobile-support'), 'height');
  width: map-get(map-get($sprite-sizes, 'mobile-support'), 'width');
}
.msds-my-milestone {
  @include sprite('my-milestone');
  height: map-get(map-get($sprite-sizes, 'my-milestone'), 'height');
  width: map-get(map-get($sprite-sizes, 'my-milestone'), 'width');
}
.msds-network {
  @include sprite('network');
  height: map-get(map-get($sprite-sizes, 'network'), 'height');
  width: map-get(map-get($sprite-sizes, 'network'), 'width');
}
.msds-newspaper {
  @include sprite('newspaper');
  height: map-get(map-get($sprite-sizes, 'newspaper'), 'height');
  width: map-get(map-get($sprite-sizes, 'newspaper'), 'width');
}
.msds-open-platform-community {
  @include sprite('open-platform-community');
  height: map-get(map-get($sprite-sizes, 'open-platform-community'), 'height');
  width: map-get(map-get($sprite-sizes, 'open-platform-community'), 'width');
}
.msds-outdated-hardware {
  @include sprite('outdated-hardware');
  height: map-get(map-get($sprite-sizes, 'outdated-hardware'), 'height');
  width: map-get(map-get($sprite-sizes, 'outdated-hardware'), 'width');
}
.msds-partnership {
  @include sprite('partnership');
  height: map-get(map-get($sprite-sizes, 'partnership'), 'height');
  width: map-get(map-get($sprite-sizes, 'partnership'), 'width');
}
.msds-press-release {
  @include sprite('press-release');
  height: map-get(map-get($sprite-sizes, 'press-release'), 'height');
  width: map-get(map-get($sprite-sizes, 'press-release'), 'width');
}
.msds-privacy {
  @include sprite('privacy');
  height: map-get(map-get($sprite-sizes, 'privacy'), 'height');
  width: map-get(map-get($sprite-sizes, 'privacy'), 'width');
}
.msds-project {
  @include sprite('project');
  height: map-get(map-get($sprite-sizes, 'project'), 'height');
  width: map-get(map-get($sprite-sizes, 'project'), 'width');
}
.msds-promotion {
  @include sprite('promotion');
  height: map-get(map-get($sprite-sizes, 'promotion'), 'height');
  width: map-get(map-get($sprite-sizes, 'promotion'), 'width');
}
.msds-publish {
  @include sprite('publish');
  height: map-get(map-get($sprite-sizes, 'publish'), 'height');
  width: map-get(map-get($sprite-sizes, 'publish'), 'width');
}
.msds-quote {
  @include sprite('quote');
  height: map-get(map-get($sprite-sizes, 'quote'), 'height');
  width: map-get(map-get($sprite-sizes, 'quote'), 'width');
}
.msds-reaction-mode {
  @include sprite('reaction-mode');
  height: map-get(map-get($sprite-sizes, 'reaction-mode'), 'height');
  width: map-get(map-get($sprite-sizes, 'reaction-mode'), 'width');
}
.msds-save-money {
  @include sprite('save-money');
  height: map-get(map-get($sprite-sizes, 'save-money'), 'height');
  width: map-get(map-get($sprite-sizes, 'save-money'), 'width');
}
.msds-searching {
  @include sprite('searching');
  height: map-get(map-get($sprite-sizes, 'searching'), 'height');
  width: map-get(map-get($sprite-sizes, 'searching'), 'width');
}
.msds-self-service-support {
  @include sprite('self-service-support');
  height: map-get(map-get($sprite-sizes, 'self-service-support'), 'height');
  width: map-get(map-get($sprite-sizes, 'self-service-support'), 'width');
}
.msds-sign-up {
  @include sprite('sign-up');
  height: map-get(map-get($sprite-sizes, 'sign-up'), 'height');
  width: map-get(map-get($sprite-sizes, 'sign-up'), 'width');
}
.msds-smart-wall-person {
  @include sprite('smart-wall-person');
  height: map-get(map-get($sprite-sizes, 'smart-wall-person'), 'height');
  width: map-get(map-get($sprite-sizes, 'smart-wall-person'), 'width');
}
.msds-smart-wall {
  @include sprite('smart-wall');
  height: map-get(map-get($sprite-sizes, 'smart-wall'), 'height');
  width: map-get(map-get($sprite-sizes, 'smart-wall'), 'width');
}
.msds-solutions-design-tool {
  @include sprite('solutions-design-tool');
  height: map-get(map-get($sprite-sizes, 'solutions-design-tool'), 'height');
  width: map-get(map-get($sprite-sizes, 'solutions-design-tool'), 'width');
}
.msds-subscriptions {
  @include sprite('subscriptions');
  height: map-get(map-get($sprite-sizes, 'subscriptions'), 'height');
  width: map-get(map-get($sprite-sizes, 'subscriptions'), 'width');
}
.msds-tailored {
  @include sprite('tailored');
  height: map-get(map-get($sprite-sizes, 'tailored'), 'height');
  width: map-get(map-get($sprite-sizes, 'tailored'), 'width');
}
.msds-time-to-market {
  @include sprite('time-to-market');
  height: map-get(map-get($sprite-sizes, 'time-to-market'), 'height');
  width: map-get(map-get($sprite-sizes, 'time-to-market'), 'width');
}
.msds-upgrade-marketplace-subscription {
  @include sprite('upgrade-marketplace-subscription');
  height: map-get(map-get($sprite-sizes, 'upgrade-marketplace-subscription'), 'height');
  width: map-get(map-get($sprite-sizes, 'upgrade-marketplace-subscription'), 'width');
}
.msds-world-leading {
  @include sprite('world-leading');
  height: map-get(map-get($sprite-sizes, 'world-leading'), 'height');
  width: map-get(map-get($sprite-sizes, 'world-leading'), 'width');
}
.msds-marketplace-challenges-assist-people-feel-safe-leaving {
  @include sprite('marketplace-challenges-assist-people-feel-safe-leaving');
  height: map-get(map-get($sprite-sizes, 'marketplace-challenges-assist-people-feel-safe-leaving'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-challenges-assist-people-feel-safe-leaving'), 'width');
}

.msds-marketplace-challenges-assist-people-feel-safe-leaving {
  @include sprite('marketplace-challenges-assist-people-feel-safe-leaving');
  height: map-get(map-get($sprite-sizes, 'marketplace-challenges-assist-people-feel-safe-leaving'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-challenges-assist-people-feel-safe-leaving'), 'width');
}
.msds-marketplace-challenges-assist-people-in-finding-their-vehicles {
  @include sprite('marketplace-challenges-assist-people-in-finding-their-vehicles');
  height: map-get(map-get($sprite-sizes, 'marketplace-challenges-assist-people-in-finding-their-vehicles'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-challenges-assist-people-in-finding-their-vehicles'), 'width');
}
.msds-marketplace-challenges-avoid-employee-theft {
  @include sprite('marketplace-challenges-avoid-employee-theft');
  height: map-get(map-get($sprite-sizes, 'marketplace-challenges-avoid-employee-theft'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-challenges-avoid-employee-theft'), 'width');
}
.msds-marketplace-challenges-control-access-to-restricted-areas {
  @include sprite('marketplace-challenges-control-access-to-restricted-areas');
  height: map-get(map-get($sprite-sizes, 'marketplace-challenges-control-access-to-restricted-areas'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-challenges-control-access-to-restricted-areas'), 'width');
}
.msds-marketplace-challenges-discover-inefficiencies-in-cargo-movement {
  @include sprite('marketplace-challenges-discover-inefficiencies-in-cargo-movement');
  height: map-get(map-get($sprite-sizes, 'marketplace-challenges-discover-inefficiencies-in-cargo-movement'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-challenges-discover-inefficiencies-in-cargo-movement'), 'width');
}
.msds-marketplace-challenges-find-lost-children {
  @include sprite('marketplace-challenges-find-lost-children');
  height: map-get(map-get($sprite-sizes, 'marketplace-challenges-find-lost-children'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-challenges-find-lost-children'), 'width');
}
.msds-marketplace-challenges-gather-evidence-for-criminal-investigation {
  @include sprite('marketplace-challenges-gather-evidence-for-criminal-investigation');
  height: map-get(
    map-get($sprite-sizes, 'marketplace-challenges-gather-evidence-for-criminal-investigation'),
    'height'
  );
  width: map-get(map-get($sprite-sizes, 'marketplace-challenges-gather-evidence-for-criminal-investigation'), 'width');
}
.msds-marketplace-challenges-improve-wait-time-in-lines {
  @include sprite('marketplace-challenges-improve-wait-time-in-lines');
  height: map-get(map-get($sprite-sizes, 'marketplace-challenges-improve-wait-time-in-lines'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-challenges-improve-wait-time-in-lines'), 'width');
}
.msds-marketplace-challenges-money-disputes-with-customers {
  @include sprite('marketplace-challenges-money-disputes-with-customers');
  height: map-get(map-get($sprite-sizes, 'marketplace-challenges-money-disputes-with-customers'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-challenges-money-disputes-with-customers'), 'width');
}
.msds-marketplace-challenges-personalized-customer-experience {
  @include sprite('marketplace-challenges-personalized-customer-experience');
  height: map-get(map-get($sprite-sizes, 'marketplace-challenges-personalized-customer-experience'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-challenges-personalized-customer-experience'), 'width');
}
.msds-marketplace-challenges-prevent-multiple-people-from-entering-a-door-on-a-single-access-badge {
  @include sprite('marketplace-challenges-prevent-multiple-people-from-entering-a-door-on-a-single-access-badge');
  height: map-get(
    map-get(
      $sprite-sizes,
      'marketplace-challenges-prevent-multiple-people-from-entering-a-door-on-a-single-access-badge'
    ),
    'height'
  );
  width: map-get(
    map-get(
      $sprite-sizes,
      'marketplace-challenges-prevent-multiple-people-from-entering-a-door-on-a-single-access-badge'
    ),
    'width'
  );
}
.msds-marketplace-challenges-provide-evidence-against-lawsuit {
  @include sprite('marketplace-challenges-provide-evidence-against-lawsuit');
  height: map-get(map-get($sprite-sizes, 'marketplace-challenges-provide-evidence-against-lawsuit'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-challenges-provide-evidence-against-lawsuit'), 'width');
}
.msds-marketplace-challenges-react-to-confrontations-before-they-escalate {
  @include sprite('marketplace-challenges-react-to-confrontations-before-they-escalate');
  height: map-get(
    map-get($sprite-sizes, 'marketplace-challenges-react-to-confrontations-before-they-escalate'),
    'height'
  );
  width: map-get(
    map-get($sprite-sizes, 'marketplace-challenges-react-to-confrontations-before-they-escalate'),
    'width'
  );
}
.msds-marketplace-challenges-reduce-property-damage {
  @include sprite('marketplace-challenges-reduce-property-damage');
  height: map-get(map-get($sprite-sizes, 'marketplace-challenges-reduce-property-damage'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-challenges-reduce-property-damage'), 'width');
}
.msds-marketplace-challenges-reduce-workplace-accidents {
  @include sprite('marketplace-challenges-reduce-workplace-accidents');
  height: map-get(map-get($sprite-sizes, 'marketplace-challenges-reduce-workplace-accidents'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-challenges-reduce-workplace-accidents'), 'width');
}
.msds-marketplace-challenges-respond-to-medical-emergencies {
  @include sprite('marketplace-challenges-respond-to-medical-emergencies');
  height: map-get(map-get($sprite-sizes, 'marketplace-challenges-respond-to-medical-emergencies'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-challenges-respond-to-medical-emergencies'), 'width');
}
.msds-marketplace-challenges-situational-awareness-to-response-teams {
  @include sprite('marketplace-challenges-situational-awareness-to-response-teams');
  height: map-get(map-get($sprite-sizes, 'marketplace-challenges-situational-awareness-to-response-teams'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-challenges-situational-awareness-to-response-teams'), 'width');
}
.msds-marketplace-challenges-understand-customer-behavior {
  @include sprite('marketplace-challenges-understand-customer-behavior');
  height: map-get(map-get($sprite-sizes, 'marketplace-challenges-understand-customer-behavior'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-challenges-understand-customer-behavior'), 'width');
}
.msds-marketplace-challenges-vandalism {
  @include sprite('marketplace-challenges-vandalism');
  height: map-get(map-get($sprite-sizes, 'marketplace-challenges-vandalism'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-challenges-vandalism'), 'width');
}
.msds-marketplace-industries-airports {
  @include sprite('marketplace-industries-airports');
  height: map-get(map-get($sprite-sizes, 'marketplace-industries-airports'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-industries-airports'), 'width');
}
.msds-marketplace-industries-art-and-entertainment {
  @include sprite('marketplace-industries-art-and-entertainment');
  height: map-get(map-get($sprite-sizes, 'marketplace-industries-art-and-entertainment'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-industries-art-and-entertainment'), 'width');
}
.msds-marketplace-industries-city-surveillance {
  @include sprite('marketplace-industries-city-surveillance');
  height: map-get(map-get($sprite-sizes, 'marketplace-industries-city-surveillance'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-industries-city-surveillance'), 'width');
}
.msds-marketplace-industries-construction {
  @include sprite('marketplace-industries-construction');
  height: map-get(map-get($sprite-sizes, 'marketplace-industries-construction'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-industries-construction'), 'width');
}
.msds-marketplace-industries-critical-infrastructure {
  @include sprite('marketplace-industries-critical-infrastructure');
  height: map-get(map-get($sprite-sizes, 'marketplace-industries-critical-infrastructure'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-industries-critical-infrastructure'), 'width');
}
.msds-marketplace-industries-education {
  @include sprite('marketplace-industries-education');
  height: map-get(map-get($sprite-sizes, 'marketplace-industries-education'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-industries-education'), 'width');
}
.msds-marketplace-industries-finance-and-insurance {
  @include sprite('marketplace-industries-finance-and-insurance');
  height: map-get(map-get($sprite-sizes, 'marketplace-industries-finance-and-insurance'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-industries-finance-and-insurance'), 'width');
}
.msds-marketplace-industries-healthcare {
  @include sprite('marketplace-industries-healthcare');
  height: map-get(map-get($sprite-sizes, 'marketplace-industries-healthcare'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-industries-healthcare'), 'width');
}
.msds-marketplace-industries-information-technology {
  @include sprite('marketplace-industries-information-technology');
  height: map-get(map-get($sprite-sizes, 'marketplace-industries-information-technology'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-industries-information-technology'), 'width');
}
.msds-marketplace-industries-manufacturing {
  @include sprite('marketplace-industries-manufacturing');
  height: map-get(map-get($sprite-sizes, 'marketplace-industries-manufacturing'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-industries-manufacturing'), 'width');
}
.msds-marketplace-industries-public-administration {
  @include sprite('marketplace-industries-public-administration');
  height: map-get(map-get($sprite-sizes, 'marketplace-industries-public-administration'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-industries-public-administration'), 'width');
}
.msds-marketplace-industries-public-transport {
  @include sprite('marketplace-industries-public-transport');
  height: map-get(map-get($sprite-sizes, 'marketplace-industries-public-transport'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-industries-public-transport'), 'width');
}
.msds-marketplace-industries-retail {
  @include sprite('marketplace-industries-retail');
  height: map-get(map-get($sprite-sizes, 'marketplace-industries-retail'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-industries-retail'), 'width');
}
.msds-marketplace-industries-seaports {
  @include sprite('marketplace-industries-seaports');
  height: map-get(map-get($sprite-sizes, 'marketplace-industries-seaports'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-industries-seaports'), 'width');
}
.msds-marketplace-industries-trafic-monitoring {
  @include sprite('marketplace-industries-trafic-monitoring');
  height: map-get(map-get($sprite-sizes, 'marketplace-industries-trafic-monitoring'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-industries-trafic-monitoring'), 'width');
}
.msds-marketplace-industries-utilities {
  @include sprite('marketplace-industries-utilities');
  height: map-get(map-get($sprite-sizes, 'marketplace-industries-utilities'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-industries-utilities'), 'width');
}
.msds-marketplace-practice-access-control {
  @include sprite('marketplace-practice-access-control');
  height: map-get(map-get($sprite-sizes, 'marketplace-practice-access-control'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-practice-access-control'), 'width');
}
.msds-marketplace-practice-business-intelligence {
  @include sprite('marketplace-practice-business-intelligence');
  height: map-get(map-get($sprite-sizes, 'marketplace-practice-business-intelligence'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-practice-business-intelligence'), 'width');
}
.msds-marketplace-practice-business-solutions {
  @include sprite('marketplace-practice-business-solutions');
  height: map-get(map-get($sprite-sizes, 'marketplace-practice-business-solutions'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-practice-business-solutions'), 'width');
}
.msds-marketplace-practice-central-monitoring {
  @include sprite('marketplace-practice-central-monitoring');
  height: map-get(map-get($sprite-sizes, 'marketplace-practice-central-monitoring'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-practice-central-monitoring'), 'width');
}
.msds-marketplace-practice-cloud-and-managed-services {
  @include sprite('marketplace-practice-cloud-and-managed-services');
  height: map-get(map-get($sprite-sizes, 'marketplace-practice-cloud-and-managed-services'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-practice-cloud-and-managed-services'), 'width');
}
.msds-marketplace-practice-communication {
  @include sprite('marketplace-practice-communication');
  height: map-get(map-get($sprite-sizes, 'marketplace-practice-communication'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-practice-communication'), 'width');
}
.msds-marketplace-practice-crisis-emergency {
  @include sprite('marketplace-practice-crisis-emergency');
  height: map-get(map-get($sprite-sizes, 'marketplace-practice-crisis-emergency'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-practice-crisis-emergency'), 'width');
}
.msds-marketplace-practice-cyber-security {
  @include sprite('marketplace-practice-cyber-security');
  height: map-get(map-get($sprite-sizes, 'marketplace-practice-cyber-security'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-practice-cyber-security'), 'width');
}
.msds-marketplace-practice-detection-and-deterrence {
  @include sprite('marketplace-practice-detection-and-deterrence');
  height: map-get(map-get($sprite-sizes, 'marketplace-practice-detection-and-deterrence'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-practice-detection-and-deterrence'), 'width');
}
.msds-marketplace-practice-digital-infrastructure {
  @include sprite('marketplace-practice-digital-infrastructure');
  height: map-get(map-get($sprite-sizes, 'marketplace-practice-digital-infrastructure'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-practice-digital-infrastructure'), 'width');
}
.msds-marketplace-practice-facilities-management {
  @include sprite('marketplace-practice-facilities-management');
  height: map-get(map-get($sprite-sizes, 'marketplace-practice-facilities-management'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-practice-facilities-management'), 'width');
}
.msds-marketplace-practice-fire-and-life-safety {
  @include sprite('marketplace-practice-fire-and-life-safety');
  height: map-get(map-get($sprite-sizes, 'marketplace-practice-fire-and-life-safety'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-practice-fire-and-life-safety'), 'width');
}
.msds-marketplace-practice-home-automation-iot {
  @include sprite('marketplace-practice-home-automation-iot');
  height: map-get(map-get($sprite-sizes, 'marketplace-practice-home-automation-iot'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-practice-home-automation-iot'), 'width');
}
.msds-marketplace-practice-intrusion-and-alarm {
  @include sprite('marketplace-practice-intrusion-and-alarm');
  height: map-get(map-get($sprite-sizes, 'marketplace-practice-intrusion-and-alarm'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-practice-intrusion-and-alarm'), 'width');
}
.msds-marketplace-practice-investigation {
  @include sprite('marketplace-practice-investigation');
  height: map-get(map-get($sprite-sizes, 'marketplace-practice-investigation'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-practice-investigation'), 'width');
}
.msds-marketplace-practice-it-hardware-and-equipment {
  @include sprite('marketplace-practice-it-hardware-and-equipment');
  height: map-get(map-get($sprite-sizes, 'marketplace-practice-it-hardware-and-equipment'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-practice-it-hardware-and-equipment'), 'width');
}
.msds-marketplace-practice-privacy-protection {
  @include sprite('marketplace-practice-privacy-protection');
  height: map-get(map-get($sprite-sizes, 'marketplace-practice-privacy-protection'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-practice-privacy-protection'), 'width');
}
.msds-marketplace-practice-smart-city {
  @include sprite('marketplace-practice-smart-city');
  height: map-get(map-get($sprite-sizes, 'marketplace-practice-smart-city'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-practice-smart-city'), 'width');
}
.msds-marketplace-practice-surveillance {
  @include sprite('marketplace-practice-surveillance');
  height: map-get(map-get($sprite-sizes, 'marketplace-practice-surveillance'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-practice-surveillance'), 'width');
}
.msds-marketplace-practice-tracking-and-monitoring {
  @include sprite('marketplace-practice-tracking-and-monitoring');
  height: map-get(map-get($sprite-sizes, 'marketplace-practice-tracking-and-monitoring'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-practice-tracking-and-monitoring'), 'width');
}
.msds-marketplace-practice-vehicles-and-traffic {
  @include sprite('marketplace-practice-vehicles-and-traffic');
  height: map-get(map-get($sprite-sizes, 'marketplace-practice-vehicles-and-traffic'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-practice-vehicles-and-traffic'), 'width');
}

//Generic Flat Animated Icons
use[href*='/msds-spritemap.svg#loader-animated'] {
  animation: animationFrames cubic-bezier(0.165, 0.84, 0.44, 1) 1.5s infinite;
  transform-box: fill-box;
  transform-origin: center;

  @keyframes animationFrames {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
