.msds-logo-diamond {
  @include sprite('logo-diamond');
  height: map-get(map-get($sprite-sizes, 'logo-diamond'), 'height');
  width: map-get(map-get($sprite-sizes, 'logo-diamond'), 'width');
}

.msds-dome-cam {
  @include sprite('dome-cam');
  height: map-get(map-get($sprite-sizes, 'dome-cam'), 'height');
  width: map-get(map-get($sprite-sizes, 'dome-cam'), 'width');
}

.msds-dome-cam-8 {
  @include sprite('dome-cam-8');
  height: map-get(map-get($sprite-sizes, 'dome-cam-8'), 'height');
  width: map-get(map-get($sprite-sizes, 'dome-cam-8'), 'width');
}
.msds-cam-group-small {
  @include sprite('cam-group-small');
  height: map-get(map-get($sprite-sizes, 'cam-group-small'), 'height');
  width: map-get(map-get($sprite-sizes, 'cam-group-small'), 'width');
}

.msds-cam-group-big {
  @include sprite('cam-group-big');
  height: map-get(map-get($sprite-sizes, 'cam-group-big'), 'height');
  width: map-get(map-get($sprite-sizes, 'cam-group-big'), 'width');
}

.msds-planet {
  @include sprite('planet');
  height: map-get(map-get($sprite-sizes, 'planet'), 'height');
  width: map-get(map-get($sprite-sizes, 'planet'), 'width');
}

.msds-single-site {
  @include sprite('single-site');
  height: map-get(map-get($sprite-sizes, 'single-site'), 'height');
  width: map-get(map-get($sprite-sizes, 'single-site'), 'width');
}

.msds-advanced-super-surveillance {
  @include sprite('advanced-super-surveillance');
  height: map-get(map-get($sprite-sizes, 'advanced-super-surveillance'), 'height');
  width: map-get(map-get($sprite-sizes, 'advanced-super-surveillance'), 'width');
}

.msds-screen-recording {
  @include sprite('screen-recording');
  height: map-get(map-get($sprite-sizes, 'screen-recording'), 'height');
  width: map-get(map-get($sprite-sizes, 'screen-recording'), 'width');
}

.msds-clock-24-7 {
  @include sprite('clock-24-7');
  height: map-get(map-get($sprite-sizes, 'clock-24-7'), 'height');
  width: map-get(map-get($sprite-sizes, 'clock-24-7'), 'width');
}

.msds-cal-monthly {
  @include sprite('cal-monthly');
  height: map-get(map-get($sprite-sizes, 'cal-monthly'), 'height');
  width: map-get(map-get($sprite-sizes, 'cal-monthly'), 'width');
}

.msds-cal-weekly {
  @include sprite('cal-weekly');
  height: map-get(map-get($sprite-sizes, 'cal-weekly'), 'height');
  width: map-get(map-get($sprite-sizes, 'cal-weekly'), 'width');
}

.msds-backup-important {
  @include sprite('backup-important');
  height: map-get(map-get($sprite-sizes, 'backup-important'), 'height');
  width: map-get(map-get($sprite-sizes, 'backup-important'), 'width');
}

.msds-no-backup {
  @include sprite('no-backup');
  height: map-get(map-get($sprite-sizes, 'no-backup'), 'height');
  width: map-get(map-get($sprite-sizes, 'no-backup'), 'width');
}

.msds-xprotect {
  @include sprite('xprotect');
  height: map-get(map-get($sprite-sizes, 'xprotect'), 'height');
  width: map-get(map-get($sprite-sizes, 'xprotect'), 'width');
}

.msds-access-control-illustration {
  @include sprite('access-control-illustration');
  height: map-get(map-get($sprite-sizes, 'access-control-illustration'), 'height');
  width: map-get(map-get($sprite-sizes, 'access-control-illustration'), 'width');
}

.msds-care {
  @include sprite('care');
  height: map-get(map-get($sprite-sizes, 'care'), 'height');
  width: map-get(map-get($sprite-sizes, 'care'), 'width');
}

.msds-contact-illustration {
  @include sprite('contact-illustration');
  height: map-get(map-get($sprite-sizes, 'contact-illustration'), 'height');
  width: map-get(map-get($sprite-sizes, 'contact-illustration'), 'width');
}

.msds-customizable {
  @include sprite('customizable');
  height: map-get(map-get($sprite-sizes, 'customizable'), 'height');
  width: map-get(map-get($sprite-sizes, 'customizable'), 'width');
}

.msds-download-illustration {
  @include sprite('download-illustration');
  height: map-get(map-get($sprite-sizes, 'download-illustration'), 'height');
  width: map-get(map-get($sprite-sizes, 'download-illustration'), 'width');
}

.msds-end-user {
  @include sprite('end-user');
  height: map-get(map-get($sprite-sizes, 'end-user'), 'height');
  width: map-get(map-get($sprite-sizes, 'end-user'), 'width');
}

.msds-getting-started {
  @include sprite('getting-started');
  height: map-get(map-get($sprite-sizes, 'getting-started'), 'height');
  width: map-get(map-get($sprite-sizes, 'getting-started'), 'width');
}

.msds-interconnect {
  @include sprite('interconnect');
  height: map-get(map-get($sprite-sizes, 'interconnect'), 'height');
  width: map-get(map-get($sprite-sizes, 'interconnect'), 'width');
}

.msds-milestone-global-offices-illustration {
  @include sprite('milestone-global-offices-illustration');
  height: map-get(map-get($sprite-sizes, 'milestone-global-offices-illustration'), 'height');
  width: map-get(map-get($sprite-sizes, 'milestone-global-offices-illustration'), 'width');
}

.msds-product-overview-illustration {
  @include sprite('product-overview-illustration');
  height: map-get(map-get($sprite-sizes, 'product-overview-illustration'), 'height');
  width: map-get(map-get($sprite-sizes, 'product-overview-illustration'), 'width');
}

.msds-reliable {
  @include sprite('reliable');
  height: map-get(map-get($sprite-sizes, 'reliable'), 'height');
  width: map-get(map-get($sprite-sizes, 'reliable'), 'width');
}

.msds-scalable {
  @include sprite('scalable');
  height: map-get(map-get($sprite-sizes, 'scalable'), 'height');
  width: map-get(map-get($sprite-sizes, 'scalable'), 'width');
}

.msds-secure {
  @include sprite('secure');
  height: map-get(map-get($sprite-sizes, 'secure'), 'height');
  width: map-get(map-get($sprite-sizes, 'secure'), 'width');
}

.msds-upgrade {
  @include sprite('upgrade');
  height: map-get(map-get($sprite-sizes, 'upgrade'), 'height');
  width: map-get(map-get($sprite-sizes, 'upgrade'), 'width');
}

.msds-skyline {
  @include sprite('skyline');
  height: map-get(map-get($sprite-sizes, 'skyline'), 'height');
  width: map-get(map-get($sprite-sizes, 'skyline'), 'width');
}

.msds-benefits-and-requirements {
  @include sprite('benefits-and-requirements');
  height: map-get(map-get($sprite-sizes, 'benefits-and-requirements'), 'height');
  width: map-get(map-get($sprite-sizes, 'benefits-and-requirements'), 'width');
}

.msds-hardware-track {
  @include sprite('hardware-track');
  height: map-get(map-get($sprite-sizes, 'hardware-track'), 'height');
  width: map-get(map-get($sprite-sizes, 'hardware-track'), 'width');
}

.msds-application-track {
  @include sprite('application-track');
  height: map-get(map-get($sprite-sizes, 'application-track'), 'height');
  width: map-get(map-get($sprite-sizes, 'application-track'), 'width');
}

.msds-device-track {
  @include sprite('device-track');
  height: map-get(map-get($sprite-sizes, 'device-track'), 'height');
  width: map-get(map-get($sprite-sizes, 'device-track'), 'width');
}

.msds-system-builder-track {
  @include sprite('system-builder-track');
  height: map-get(map-get($sprite-sizes, 'system-builder-track'), 'height');
  width: map-get(map-get($sprite-sizes, 'system-builder-track'), 'width');
}

.msds-service-track {
  @include sprite('service-track');
  height: map-get(map-get($sprite-sizes, 'service-track'), 'height');
  width: map-get(map-get($sprite-sizes, 'service-track'), 'width');
}

.msds-hands {
  @include sprite('hands');
  height: map-get(map-get($sprite-sizes, 'hands'), 'height');
  width: map-get(map-get($sprite-sizes, 'hands'), 'width');
}

.msds-gdpr-info-kit {
  @include sprite('gdpr-info-kit');
  height: map-get(map-get($sprite-sizes, 'gdpr-info-kit'), 'height');
  width: map-get(map-get($sprite-sizes, 'gdpr-info-kit'), 'width');
}

.msds-gdpr-toolbox {
  @include sprite('gdpr-toolbox');
  height: map-get(map-get($sprite-sizes, 'gdpr-toolbox'), 'height');
  width: map-get(map-get($sprite-sizes, 'gdpr-toolbox'), 'width');
}

.msds-about-gdpr {
  @include sprite('about-gdpr');
  height: map-get(map-get($sprite-sizes, 'about-gdpr'), 'height');
  width: map-get(map-get($sprite-sizes, 'about-gdpr'), 'width');
}

.msds-gdpr-ready {
  @include sprite('gdpr-ready');
  height: map-get(map-get($sprite-sizes, 'gdpr-ready'), 'height');
  width: map-get(map-get($sprite-sizes, 'gdpr-ready'), 'width');
}

.msds-feature-rich {
  @include sprite('feature-rich');
  height: map-get(map-get($sprite-sizes, 'feature-rich'), 'height');
  width: map-get(map-get($sprite-sizes, 'feature-rich'), 'width');
}

.msds-reduced-investment {
  @include sprite('reduced-investment');
  height: map-get(map-get($sprite-sizes, 'reduced-investment'), 'height');
  width: map-get(map-get($sprite-sizes, 'reduced-investment'), 'width');
}

.msds-ease-of-use {
  @include sprite('ease-of-use');
  height: map-get(map-get($sprite-sizes, 'ease-of-use'), 'height');
  width: map-get(map-get($sprite-sizes, 'ease-of-use'), 'width');
}

.msds-wifi {
  @include sprite('wifi');
  height: map-get(map-get($sprite-sizes, 'wifi'), 'height');
  width: map-get(map-get($sprite-sizes, 'wifi'), 'width');
}

.msds-xprotect-compare-matrix {
  @include sprite('xprotect-compare-matrix');
  height: map-get(map-get($sprite-sizes, 'xprotect-compare-matrix'), 'height');
  width: map-get(map-get($sprite-sizes, 'xprotect-compare-matrix'), 'width');
}

.msds-xprotect-compare-products {
  @include sprite('xprotect-compare-products');
  height: map-get(map-get($sprite-sizes, 'xprotect-compare-products'), 'height');
  width: map-get(map-get($sprite-sizes, 'xprotect-compare-products'), 'width');
}

.msds-xprotect-compare-releases {
  @include sprite('xprotect-compare-releases');
  height: map-get(map-get($sprite-sizes, 'xprotect-compare-releases'), 'height');
  width: map-get(map-get($sprite-sizes, 'xprotect-compare-releases'), 'width');
}

.msds-okay {
  @include sprite('okay');
  height: map-get(map-get($sprite-sizes, 'okay'), 'height');
  width: map-get(map-get($sprite-sizes, 'okay'), 'width');
}

.msds-analytics {
  @include sprite('analytics');
  height: map-get(map-get($sprite-sizes, 'analytics'), 'height');
  width: map-get(map-get($sprite-sizes, 'analytics'), 'width');
}

.msds-body-worn {
  @include sprite('body-worn');
  height: map-get(map-get($sprite-sizes, 'body-worn'), 'height');
  width: map-get(map-get($sprite-sizes, 'body-worn'), 'width');
}

.msds-catalogue {
  @include sprite('catalogue');
  height: map-get(map-get($sprite-sizes, 'catalogue'), 'height');
  width: map-get(map-get($sprite-sizes, 'catalogue'), 'width');
}
.msds-community {
  @include sprite('community');
  height: map-get(map-get($sprite-sizes, 'community'), 'height');
  width: map-get(map-get($sprite-sizes, 'community'), 'width');
}

.msds-crime {
  @include sprite('crime');
  height: map-get(map-get($sprite-sizes, 'crime'), 'height');
  width: map-get(map-get($sprite-sizes, 'crime'), 'width');
}

.msds-crowd-management {
  @include sprite('crowd-management');
  height: map-get(map-get($sprite-sizes, 'crowd-management'), 'height');
  width: map-get(map-get($sprite-sizes, 'crowd-management'), 'width');
}

.msds-customer-stories {
  @include sprite('customer-stories');
  height: map-get(map-get($sprite-sizes, 'customer-stories'), 'height');
  width: map-get(map-get($sprite-sizes, 'customer-stories'), 'width');
}

.msds-cyber-security {
  @include sprite('cyber-security');
  height: map-get(map-get($sprite-sizes, 'cyber-security'), 'height');
  width: map-get(map-get($sprite-sizes, 'cyber-security'), 'width');
}
.msds-decision-making {
  @include sprite('decision-making');
  height: map-get(map-get($sprite-sizes, 'decision-making'), 'height');
  width: map-get(map-get($sprite-sizes, 'decision-making'), 'width');
}
.msds-design {
  @include sprite('design');
  height: map-get(map-get($sprite-sizes, 'design'), 'height');
  width: map-get(map-get($sprite-sizes, 'design'), 'width');
}
.msds-devices {
  @include sprite('devices');
  height: map-get(map-get($sprite-sizes, 'devices'), 'height');
  width: map-get(map-get($sprite-sizes, 'devices'), 'width');
}
.msds-document {
  @include sprite('document');
  height: map-get(map-get($sprite-sizes, 'document'), 'height');
  width: map-get(map-get($sprite-sizes, 'document'), 'width');
}
.msds-emergency {
  @include sprite('emergency');
  height: map-get(map-get($sprite-sizes, 'emergency'), 'height');
  width: map-get(map-get($sprite-sizes, 'emergency'), 'width');
}
.msds-employees {
  @include sprite('employees');
  height: map-get(map-get($sprite-sizes, 'employees'), 'height');
  width: map-get(map-get($sprite-sizes, 'employees'), 'width');
}
.msds-get-leads {
  @include sprite('get-leads');
  height: map-get(map-get($sprite-sizes, 'get-leads'), 'height');
  width: map-get(map-get($sprite-sizes, 'get-leads'), 'width');
}
.msds-growth-data {
  @include sprite('growth-data');
  height: map-get(map-get($sprite-sizes, 'growth-data'), 'height');
  width: map-get(map-get($sprite-sizes, 'growth-data'), 'width');
}
.msds-hardware-applications-software {
  @include sprite('hardware-applications-software');
  height: map-get(map-get($sprite-sizes, 'hardware-applications-software'), 'height');
  width: map-get(map-get($sprite-sizes, 'hardware-applications-software'), 'width');
}
.msds-hardware {
  @include sprite('hardware');
  height: map-get(map-get($sprite-sizes, 'hardware'), 'height');
  width: map-get(map-get($sprite-sizes, 'hardware'), 'width');
}
.msds-integrator-searching-female {
  @include sprite('integrator-searching-female');
  height: map-get(map-get($sprite-sizes, 'integrator-searching-female'), 'height');
  width: map-get(map-get($sprite-sizes, 'integrator-searching-female'), 'width');
}
.msds-integrator-searching-male {
  @include sprite('integrator-searching-male');
  height: map-get(map-get($sprite-sizes, 'integrator-searching-male'), 'height');
  width: map-get(map-get($sprite-sizes, 'integrator-searching-male'), 'width');
}
.msds-investigation {
  @include sprite('investigation');
  height: map-get(map-get($sprite-sizes, 'investigation'), 'height');
  width: map-get(map-get($sprite-sizes, 'investigation'), 'width');
}
.msds-lpr {
  @include sprite('lpr');
  height: map-get(map-get($sprite-sizes, 'lpr'), 'height');
  width: map-get(map-get($sprite-sizes, 'lpr'), 'width');
}
.msds-marketplace-filter {
  @include sprite('marketplace-filter');
  height: map-get(map-get($sprite-sizes, 'marketplace-filter'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-filter'), 'width');
}
.msds-marketplace-interface {
  @include sprite('marketplace-interface');
  height: map-get(map-get($sprite-sizes, 'marketplace-interface'), 'height');
  width: map-get(map-get($sprite-sizes, 'marketplace-interface'), 'width');
}
.msds-milestone-in-the-media {
  @include sprite('milestone-in-the-media');
  height: map-get(map-get($sprite-sizes, 'milestone-in-the-media'), 'height');
  width: map-get(map-get($sprite-sizes, 'milestone-in-the-media'), 'width');
}
.msds-mobile-support {
  @include sprite('mobile-support');
  height: map-get(map-get($sprite-sizes, 'mobile-support'), 'height');
  width: map-get(map-get($sprite-sizes, 'mobile-support'), 'width');
}
.msds-my-milestone {
  @include sprite('my-milestone');
  height: map-get(map-get($sprite-sizes, 'my-milestone'), 'height');
  width: map-get(map-get($sprite-sizes, 'my-milestone'), 'width');
}
.msds-network {
  @include sprite('network');
  height: map-get(map-get($sprite-sizes, 'network'), 'height');
  width: map-get(map-get($sprite-sizes, 'network'), 'width');
}
.msds-newspaper {
  @include sprite('newspaper');
  height: map-get(map-get($sprite-sizes, 'newspaper'), 'height');
  width: map-get(map-get($sprite-sizes, 'newspaper'), 'width');
}
