
    <div class="container divider-bottom">
        <h2 class="msds-text-header-1">Dropdown, standard</h1>
    </div>
    <div class="msds-form">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h4>Sizes and states</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                <h5 class="msds-text-header-5 msds-text-gray-9">LARGE</h5>
                    <select id="1" class="msds-select-input" aria-placeholder="test">
                       
                    </select>
                </div>
                <div class="col-3 offset-1">
                    <h5 class="msds-text-header-5 msds-text-gray-9">Small</h5>
                    <select id="2" class="msds-select-input msds-select-input--small" aria-placeholder="test">
                     
                    </select>
                </div>
            </div>
        </div>
    </div>
