
    <div class="container divider-bottom">
        <h2 class="msds-text-header-1">Dropdown, standard</h1>
    </div>
    <div class="msds-form">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h4>Sizes and states</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                <h5 class="msds-text-header-5 msds-text-gray-9">LARGE</h5>
                <div id="input-1" class="msds-select-input">
                    <select class="msds-select-input__select" aria-placeholder="test">
                    </select>
                    <div class="msds-select-input__icon">
                        <svg title="button-icon">
                            <use href="/msds-spritemap.svg#arrow"></use>
                        </svg>
                    </div>
                    <div class="msds-select-input__validation-msg msds-text-body-4 msds-text-danger-red-1">
                        
                    </div>
                </div>
                </div>
                <div class="col-3 offset-1">
                    <h5 class="msds-text-header-5 msds-text-gray-9">Small</h5>
                    <div id="input-2" class="msds-select-input">
                        <select class="msds-select-input__select msds-select-input__select--small" aria-placeholder="test">             
                        </select>

                        <div class="msds-select-input__icon">
                            <svg title="button-icon">
                                <use href="/msds-spritemap.svg#arrow"></use>
                            </svg>
                        </div>
                        <div class="msds-select-input__validation-msg msds-text-body-4 msds-text-danger-red-1">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
