<div class="msds-form">
    <select id="1" class="msds-select-input" aria-placeholder="test">
        {{!-- <option value="0" disabled selected>Select Country</option> --}}
        {{!-- <option value="1">Albania</option>
        <option value="2">Afganistan</option>
        <option value="3">Aland Island</option>
        <option value="4">Algeria</option>
        <option value="5">Algeria</option> --}}
    </select>
</div>