<h1>{{general.cardDescription}} Aspect 2 by 1</h1>
<h2>Large cards</h2>
<div class="container">
    <div class="row card-row">
        <div class="col-12 col-md-4">
            <div class="msds-solution-card">
                <div class="msds-solution-card__header">
                    <div class="msds-solution-card__header-logo-container">
                        <img src="https://via.placeholder.com/110x26" alt="solution card image"
                            class="msds-solution-card__header-logo-container-logo">
                    </div>
                    <div class="msds-solution-card__header-tag-container">
                        <div class="msds-tag msds-bg-clear-blue msds-text-white">
                            <svg title="reliable">
                                <use href="/msds-spritemap.svg#reliable" />
                            </svg>
                            <div class="tag-text msds-text-header-6">Solution</div>
                        </div>
                    </div>
                    <h3 class="msds-solution-card__header-headline msds-text-header-4">
                        VisionLabs Face Recognition Plug-in
                    </h3>
                </div>
                <div class="msds-solution-card__body">
                    <h3 class="msds-solution-card__body-headline">
                        By xPrime
                    </h3>
                    <ul class="msds-solution-card__body-list">
                        <li class="msds-solution-card__body-list-item">
                            Prevent Vandalism
                        </li>
                        <li class="msds-solution-card__body-list-item">
                            Prevent Vandalism
                        </li>
                        <li class="msds-solution-card__body-list-item">
                            Control access to restricted areas
                        </li>
                    </ul>
                </div>
                <div class="msds-solution-card__footer">
                    <div class="msds-solution-card__footer-certification">
                        <span class="msds-solution-card__footer-certification-text">Milestone Verified</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>