.msds-tag {
  position: absolute;
  transform: translateY(-50%);
  border-radius: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 16px;
  padding-right: 16px;
}

.msds-solution-card {
  padding-top: 20px;
  background-color: $white;
  box-shadow: $shadow-small;
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-logo-container {
      width: 110px;
      height: 62px;
      margin-bottom: 28px;
      &-logo {
        height: 100%;
        width: 100%;
      }
    }
    &-tag-container {
      width: 100%;
      height: 1px;
      background-color: $gray-4;
      margin-bottom: 5px;
    }
    &-headline {
      align-self: flex-start;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  &__body {
    &-headline {
      padding-left: 20px;
      font-size: 14px;
      font-weight: 500;
      margin-top: 0;
      margin-bottom: 16px;
    }
    &-description {
      padding-left: 20px;
      padding-right: 20px;
      color: $gray-9;
      font-size: 12px;
    }
  }
  &__footer {
    &-buttons {
      display: flex;
      margin-top: 20px;

      &-button {
        cursor: pointer;
        background-color: $gray-1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        &:hover {
          text-decoration: underline;
          background-color: $white;
          background-color: $gray-3;
        }
        width: 100%;
        padding-top: 18px;
        padding-bottom: 18px;
        &:first-child {
          border-right: 1px solid $gray-4;
        }
      }
    }
  }

  &__badge {
    padding-left: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    &-icon-container {
      margin-right: 10px;
    }

    &-text {
      font-size: 12px;
      color: $gray-9;
      font-weight: 600;
    }
  }

  @include media-breakpoint-between(md, lg) {
    .msds-tag {
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .msds-solution-card__footer-buttons {
      flex-direction: column;
      &-button {
        width: 100%;
        padding-top: 13px;
        padding-bottom: 13px;
        &:first-child {
          border-bottom: 1px solid $gray-4;
          border-right: none;
        }
      }
    }
  }
  &--small {
    .msds-tag {
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .msds-solution-card__footer-buttons {
      flex-direction: column;
      &-button {
        width: 100%;
        padding-top: 13px;
        padding-bottom: 13px;
        &:first-child {
          border-bottom: 1px solid $gray-4;
          border-right: none;
        }
      }
    }
  }
}
