.card-row > div {
  margin-top: 20px;
}

.msds-tag {
  position: absolute;
  transform: translateY(-50%);

  border-radius: 20px;
  right: 20px;
  display: flex;

  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 12px;
  padding-right: 16px;
  svg {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
}

.msds-solution-card {
  padding-top: 20px;
  background-color: #fff;
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-logo-container {
      width: 110px;
      height: 62px;
      margin-bottom: 28px;
      &-logo {
        height: 100%;
        width: 100%;
      }
    }
    &-tag-container {
      width: 100%;
      height: 1px;
      background-color: #dce2e6;
    }
    &-headline {
      align-self: flex-start;
      padding-left: 20px;
    }
  }
  &__body {
    &-headline {
      padding-left: 20px;
      font-size: 14px;
      font-weight: 500;
    }
    &-list {
      list-style: none;
      display: flex;
      padding-left: 20px;
      padding-right: 20px;
      &-item {
        display: flex;
        flex-wrap: nowrap;
        color: #6d6f71;
        font-size: 12px;
      }
    }
  }
  &__footer {
  }
}
