<p class="msds-incontext-link">
  Incontext links <b>without</b> class directly assigned: <a href=#>text links</a>
</p>

<p>
  Incontext links <b>with</b> class directly assigned: <a class="msds-incontext-link" href=#>text links</a>
</p>

<p>
  Incontext links grey color: <a class="msds-incontext-link msds-incontext-link--grey" href=#>text links</a>
</p>

<p>
  Stand alone links: <a class="msds-link" href=#>text links</a>
</p>
