<ul class="msds-ul msds-text-body-1">
  <li class="msds-ul__item">List default</li>
  <li class="msds-ul__item">Number two item</li>
  <li class="msds-ul__item">awdawd</li>
  <li class="msds-ul__item">Number four item
    <ul class="msds-ul">
      <li class="msds-ul__item">Level 2 item</li>
      <li class="msds-ul__item">Level 2 item</li>
      <li class="msds-ul__item">Billy</li>
      <li class="msds-ul__item">Bob</li>
    </ul>
  </li>
</ul>