<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-2 mb-5">
      <div class="msds-bg-white p-6">
        <h3>White</h3>
        <a href="/docs/content/typography/links">Read more</a>
      </div>
    </div>
    <div class="col-12 col-sm-2 mb-5">
      <div class="msds-bg-gray-1 p-6">
        <h3>Gray 2</h3>
        <a href="/docs/content/typography/links">Read more</a>
      </div>
    </div>
    <div class="col-12 col-sm-2 mb-5">
      <div class="msds-bg-gray-3 p-6">
        <h3>Gray 3</h3>
        <a href="/docs/content/typography/links">Read more</a>
      </div>
    </div>
    <div class="col-12 col-sm-2 mb-5">
      <div class="msds-bg-gray-4 p-6">
        <h3>Gray 4</h3>
        <a href="/docs/content/typography/links">Read more</a>
      </div>
    </div>
    <div class="col-12 col-sm-2 mb-5">
      <div class="msds-bg-gray-5 p-6">
        <h3>Gray 5</h3>
        <a href="/docs/content/typography/links">Read more</a>
      </div>
    </div>
    <div class="col-12 col-sm-2 mb-5">
      <div class="msds-bg-yellow p-6">
        <h3>Yellow</h3>
        <a href="/docs/content/typography/links">Read more</a>
      </div>
    </div>
    <div class="col-12 col-sm-2 mb-5">
      <div class="msds-bg-white-gradient p-6">
        <h3>White Gradient</h3>
        <a href="/docs/content/typography/links">Read more</a>
      </div>
    </div>
    <div class="col-12 col-sm-2 mb-5">
      <div class="msds-bg-white-gradient-reverse p-6">
        <h3>White Gradient Reverse</h3>
        <a href="/docs/content/typography/links">Read more</a>
      </div>
    </div>
    <div class="col-12 col-sm-2 mb-5">
      <div class="msds-bg-gray-gradient-1 p-6">
        <h3>Gray Gradient 1</h3>
        <a href="/docs/content/typography/links">Read more</a>
      </div>
    </div>
    <div class="col-12 col-sm-2 mb-5">
      <div class="msds-bg-gray-gradient-2 p-6">
        <h3>Gray Gradient 2</h3>
        <a href="/docs/content/typography/links">Read more</a>
      </div>
    </div>
    <div class="col-12 col-sm-2 mb-5">
      <div class="msds-bg-gray-gradient-3 p-6">
        <h3>Gray Gradient 3</h3>
        <a href="/docs/content/typography/links">Read more</a>
      </div>
    </div>
    <div class="col-12 col-sm-2 mb-5">
      <div class="msds-bg-gray-gradient-4 p-6">
        <h3>Gray Gradient 4</h3>
        <a href="/docs/content/typography/links">Read more</a>
      </div>
    </div>
    <div class="col-12 col-sm-2 mb-5">
      <div class="msds-bg-gray-gradient-5 p-6">
        <h3>Gray Gradient 5</h3>
        <a href="/docs/content/typography/links">Read more</a>
      </div>
    </div>
    <div class="col-12 col-sm-2 mb-5">
      <div class="msds-bg-yellow-gradient p-6">
        <h3>Yellow Gradient</h3>
        <a href="/docs/content/typography/links">Read more</a>
      </div>
    </div>
  </div>
</div>
