<div class="msds-text-body-0">Body text 0 - Regular</div>
<div class="msds-text-body-0-bold">Body text 0 - Bold</div>
<div class="msds-text-body-0-italic">Body text 0 - Italic</div>
<br />
<div class="msds-text-body-1">Body text 1 - Regular</div>
<div class="msds-text-body-1-bold">Body text 1 - Bold</div>
<div class="msds-text-body-1-italic">Body text 1 - Italic</div>
<br />
<div class="msds-text-body-2">Body text 2 - Regular</div>
<div class="msds-text-body-2-bold">Body text 2 - Bold</div>
<div class="msds-text-body-2-italic">Body text 2 - Italic</div>
<br />
<div class="msds-text-body-3">Body text 3 - Regular</div>
<div class="msds-text-body-3-bold">Body text 3 - Bold</div>
<div class="msds-text-body-3-italic">Body text 3 - Italic</div>
<br />
<div class="msds-text-body-4">Body text 4 - Regular</div>
<div class="msds-text-body-4-bold">Body text 4 - Bold</div>
<div class="msds-text-body-4-italic">Body text 4 - Italic</div>
<br />
<div class="msds-text-body-5">Body text 5 - Regular</div>
<div class="msds-text-body-5-bold">Body text 5 - Bold</div>
<div class="msds-text-body-5-italic">Body text 5 - Italic</div>
