

<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="d-none msds-alert msds-alert--dark-theme msds-alert--solution msds-bg-dark-blue-gradient" data-alert-id="222">
				<div class="msds-alert__close-click-area">
					<svg class="msds-alert__close-icon">
						<use href="../../msds-spritemap.svg#cross" />
					</svg>
				</div>
				<div class="msds-alert__content-container">
					<div class="msds-alert__image msds-innovation"></div>
					<div class="msds-alert__text-container">
						<div class="msds-alert__header">
							AGG Solution
						</div>
						<p class="msds-alert__text">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit
							amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie.
							Mauris malesuada nisi sit amet augue accumsan tincidunt. Maecenas tincidunt, velit ac
							porttitor pulvinar.
						</p>
						<div class="msds-alert__action-container">
							<button type="button" class="msds-btn msds-btn--secondary-dark msds-btn--sm">ok,
								i get it</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
