

<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="d-none msds-alert msds-alert--solution msds-bg-gray-2" data-alert-id="111">
				<div class="msds-alert__close-click-area">
					<svg class="msds-alert__close-icon">
						<use href="../../msds-spritemap.svg#cross" />
					</svg>
				</div>
				<div class="msds-alert__content-container">
					<div class="msds-alert__image msds-innovation"></div>
					<div class="msds-alert__text-container">
						<div class="msds-alert__header">
							AGG Solution
							<span class="msds-alert__header-state">ready to publish</span>
						</div>
						<div class="msds-alert__alert-badge msds-bg-dusty-green msds-text-white">
                            <div class="msds-text-body-3-bold text-nowrap">Solution Service</div>
                        </div>
						<p class="msds-alert__text">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit
							amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie.
							Mauris malesuada nisi sit amet augue accumsan tincidunt. Maecenas tincidunt, velit ac
							porttitor pulvinar.
						</p>
						<div class="msds-alert__action-container">
							<button type="button"
								class="msds-btn msds-btn--secondary msds-btn--sm">ok,
								i get it</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
