

<div class="row card-row">
    <div class="col-12 col-md-4">
        <div class="msds-basic-card msds-basic-card--vertical-aligned">
            <div class="msds-basic-card__body">
                <div class="msds-basic-card__body-heading-icon">
                    <img src="../../../src/demo-img/milestone-systems-logo.png" alt="custom image one">
                </div>
                <div class="msds-basic-card__body-heading">
                    Headline lorem ipsum
                </div>
                <div class="msds-basic-card__body-description">
                    Malesuada vestibulum morbi aliquam commodo. Rhoncus id semper pellentesque. Nibh conseqtetuer eros nullam.
                </div>
                <a class="msds-basic-card__link" href="/">
                    read more
                </a>
            </div>            
        </div>
    </div>
</div>
