

<div class="row card-row">
    <div class="col-12 col-md-4">
        <div class="msds-basic-card msds-basic-card--vertical-aligned">
            <div class="msds-basic-card__frame embed-responsive embed-responsive-16by9">
                <img class="msds-basic-card__frame-image embed-responsive-item" src=../../../src/demo-img/xprotect.jpg
                    alt="Card image">
            </div>
            <div class="msds-basic-card__caption">
                <div class="msds-basic-card__caption-icon" title="logo-diamond">
                    <svg class="msds-icon">
                        <use href="../../msds-spritemap.svg#demo"></use>
                    </svg>
                </div>
                <div class="msds-basic-card__caption-title">
                    Basic Cards caption title
                </div>
            </div>
            <div class="msds-basic-card__separator"></div>
            <div class="msds-basic-card__body">
                <div class="msds-basic-card__body-heading">
                    Headline lorem ipsum
                </div>
                <div class="msds-basic-card__body-description">
                    Malesuada vestibulum morbi aliquam commodo. Rhoncus id semper pellentesque. Nibh conseqtetuer eros nullam.
                </div>
                <a class="msds-basic-card__link" href="/">
                    read more
                </a>
            </div>            
        </div>
    </div>
</div>
