

<div class="row">
  <div class="col-4">
    <h3>Large</h3>
    <button type="button" class="msds-btn-floating msds-btn-floating--lg msds-btn-floating--secondary msds-btn-floating--right">
      <svg class="msds-icon">
        <use href="../../msds-spritemap.svg#right-arrow" />
      </svg>
      See more
    </button>
  </div>
  <div class="col-4">
    <h3>Medium (default)</h3>
    <button type="button" class="msds-btn-floating msds-btn-floating--secondary msds-btn-floating--right">
      <svg class="msds-icon">
        <use href="../../msds-spritemap.svg#right-arrow" />
      </svg>
      See more
    </button>
  </div>
  <div class="col-4">
    <h3>Small</h3>
    <button type="button" class="msds-btn-floating msds-btn-floating--sm msds-btn-floating--secondary msds-btn-floating--right">
      <svg class="msds-icon">
        <use href="../../msds-spritemap.svg#right-arrow" />
      </svg>
      See more
    </button>
  </div>
</div>
