

<div class="container">
  <div class="row">
    <div class="col-12">
      <br /><br />
      <h1>Milestone buttons</h1>
      <h2>All type of buttons</h2>
      <h3>Without Icons</h3>
      <div class="msds-btn-group--left">
        <button type="button" class="msds-btn msds-btn--primary">Primary</button>
        <button type="button" class="msds-btn msds-btn--secondary">Secondary</button>
        <button type="button" class="msds-btn msds-btn--tertiary">Tertiary</button>
        <button type="button" class="msds-btn msds-btn--gray">Gray</button>
        <button type="button" class="msds-btn msds-btn--danger">Danger</button>
      </div>
      <h3>With Icons</h3>
      <div class="msds-btn-group--left">
        <button type="button" class="msds-btn msds-btn--primary ">
          Primary
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>          
        </button>
        <button type="button" class="msds-btn msds-btn--secondary ">
          Secondary
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--tertiary ">
          Tertiary
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--gray ">
          Gray
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--danger ">
          Danger
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
      </div>
      <br /><br /><br />
      <h2>Primary Button</h2>
      <h3>Large</h3>
      <div class="msds-btn-group--left">
        <button type="button" class="msds-btn msds-btn--primary msds-btn--lg">Enabled</button>
        <button type="button" class="msds-btn msds-btn--primary msds-btn--lg ">
          With icon, enabled
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--primary msds-btn--lg">Hover</button>
        <button type="button" class="msds-btn msds-btn--primary msds-btn--lg ">
          With icon, hover
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--primary msds-btn--lg">Active (pressed)</button>
        <button type="button" class="msds-btn msds-btn--primary msds-btn--lg ">
          With icon, active (pressed)
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--primary msds-btn--lg">Focus</button>
        <button type="button" class="msds-btn msds-btn--primary msds-btn--lg ">
          With icon, focus
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--primary msds-btn--lg" disabled>Disabled</button>
        <button type="button" class="msds-btn msds-btn--primary msds-btn--lg " disabled>
          With icon, disabled
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
      </div>
      <br />
      <h3>Medium</h3>
      <div class="msds-btn-group--left">
        <button type="button" class="msds-btn msds-btn--primary">Enabled</button>
        <button type="button" class="msds-btn msds-btn--primary ">
          With icon, enabled
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--primary">Hover</button>
        <button type="button" class="msds-btn msds-btn--primary ">
          With icon, hover
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--primary">Active (pressed)</button>
        <button type="button" class="msds-btn msds-btn--primary ">
          With icon, active (pressed)
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--primary">Focus</button>
        <button type="button" class="msds-btn msds-btn--primary ">
          With icon, focus
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--primary" disabled>Disabled</button>
        <button type="button" class="msds-btn msds-btn--primary " disabled>
          With icon, disabled
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
      </div>
      <br />
      <h3>Small</h3>
      <div class="msds-btn-group--left">
        <button type="button" class="msds-btn msds-btn--primary msds-btn--sm">Enabled</button>
        <button type="button" class="msds-btn msds-btn--primary msds-btn--sm ">
          With icon, enabled
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--primary msds-btn--sm">Hover</button>
        <button type="button" class="msds-btn msds-btn--primary msds-btn--sm ">
          With icon, hover
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--primary msds-btn--sm">Active (pressed)</button>
        <button type="button" class="msds-btn msds-btn--primary msds-btn--sm ">
          With icon, active (pressed)
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--primary msds-btn--sm">Focus</button>
        <button type="button" class="msds-btn msds-btn--primary msds-btn--sm ">
          With icon, focus
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--primary msds-btn--sm" disabled>Disabled</button>
        <button type="button" class="msds-btn msds-btn--primary msds-btn--sm " disabled>
          With icon, disabled
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
      </div>
      <br /><br /><br />
      <h2>Secondary Button</h2>
      <h3>Large</h3>
      <div class="msds-btn-group--left">
        <button type="button" class="msds-btn msds-btn--secondary msds-btn--lg">Enabled</button>
        <button type="button" class="msds-btn msds-btn--secondary msds-btn--lg ">
          With icon, enabled
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--secondary msds-btn--lg">Hover</button>
        <button type="button" class="msds-btn msds-btn--secondary msds-btn--lg ">
          With icon, hover
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--secondary msds-btn--lg">Active (pressed)</button>
        <button type="button" class="msds-btn msds-btn--secondary msds-btn--lg ">
          With icon, active (pressed)
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--secondary msds-btn--lg">Focus</button>
        <button type="button" class="msds-btn msds-btn--secondary msds-btn--lg ">
          With icon, focus
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--secondary msds-btn--lg" disabled>Disabled</button>
        <button type="button" class="msds-btn msds-btn--secondary msds-btn--lg " disabled>
          With icon, disabled
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
      </div>
      <br />
      <h3>Medium</h3>
      <div class="msds-btn-group--left">
        <button type="button" class="msds-btn msds-btn--secondary">Enabled</button>
        <button type="button" class="msds-btn msds-btn--secondary ">
          With icon, enabled
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--secondary">Hover</button>
        <button type="button" class="msds-btn msds-btn--secondary ">
          With icon, hover
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--secondary">Active (pressed)</button>
        <button type="button" class="msds-btn msds-btn--secondary ">
          With icon, active (pressed)
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--secondary">Focus</button>
        <button type="button" class="msds-btn msds-btn--secondary ">
          With icon, focus
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--secondary" disabled>Disabled</button>
        <button type="button" class="msds-btn msds-btn--secondary " disabled>
          With icon, disabled
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
      </div>
      <br />
      <h3>Small</h3>
      <div class="msds-btn-group--left">
        <button type="button" class="msds-btn msds-btn--secondary msds-btn--sm">Enabled</button>
        <button type="button" class="msds-btn msds-btn--secondary msds-btn--sm ">
          With icon, enabled
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--secondary msds-btn--sm">Hover</button>
        <button type="button" class="msds-btn msds-btn--secondary msds-btn--sm ">
          With icon, hover
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--secondary msds-btn--sm">Active (pressed)</button>
        <button type="button" class="msds-btn msds-btn--secondary msds-btn--sm ">
          With icon, active (pressed)
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--secondary msds-btn--sm">Focus</button>
        <button type="button" class="msds-btn msds-btn--secondary msds-btn--sm ">
          With icon, focus
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--secondary msds-btn--sm" disabled>Disabled</button>
        <button type="button" class="msds-btn msds-btn--secondary msds-btn--sm " disabled>
          With icon, disabled
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
      </div>
      <br /><br /><br />
      <h2>Tertiary Button</h2>
      <h3>Large</h3>
      <div class="msds-btn-group--left">
        <button type="button" class="msds-btn msds-btn--tertiary msds-btn--lg">Enabled</button>
        <button type="button" class="msds-btn msds-btn--tertiary msds-btn--lg ">
          With icon, enabled
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--tertiary msds-btn--lg">Hover</button>
        <button type="button" class="msds-btn msds-btn--tertiary msds-btn--lg ">
          With icon, hover
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--tertiary msds-btn--lg">Active (pressed)</button>
        <button type="button" class="msds-btn msds-btn--tertiary msds-btn--lg ">
          With icon, active (pressed)
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--tertiary msds-btn--lg">Focus</button>
        <button type="button" class="msds-btn msds-btn--tertiary msds-btn--lg ">
          With icon, focus
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--tertiary msds-btn--lg" disabled>Disabled</button>
        <button type="button" class="msds-btn msds-btn--tertiary msds-btn--lg " disabled>
          With icon, disabled
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
      </div>
      <br />
      <h3>Medium</h3>
      <div class="msds-btn-group--left">
        <button type="button" class="msds-btn msds-btn--tertiary">Enabled</button>
        <button type="button" class="msds-btn msds-btn--tertiary ">
          With icon, enabled
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--tertiary">Hover</button>
        <button type="button" class="msds-btn msds-btn--tertiary ">
          With icon, hover
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--tertiary">Active (pressed)</button>
        <button type="button" class="msds-btn msds-btn--tertiary ">
          With icon, active (pressed)
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--tertiary">Focus</button>
        <button type="button" class="msds-btn msds-btn--tertiary ">
          With icon, focus
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--tertiary" disabled>Disabled</button>
        <button type="button" class="msds-btn msds-btn--tertiary " disabled>
          With icon, disabled
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
      </div>
      <br />
      <h3>Small</h3>
      <div class="msds-btn-group--left">
        <button type="button" class="msds-btn msds-btn--tertiary msds-btn--sm">Enabled</button>
        <button type="button" class="msds-btn msds-btn--tertiary msds-btn--sm ">
          With icon, enabled
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--tertiary msds-btn--sm">Hover</button>
        <button type="button" class="msds-btn msds-btn--tertiary msds-btn--sm ">
          With icon, hover
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--tertiary msds-btn--sm">Active (pressed)</button>
        <button type="button" class="msds-btn msds-btn--tertiary msds-btn--sm ">
          With icon, active (pressed)
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--tertiary msds-btn--sm">Focus</button>
        <button type="button" class="msds-btn msds-btn--tertiary msds-btn--sm ">
          With icon, focus
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--tertiary msds-btn--sm" disabled>Disabled</button>
        <button type="button" class="msds-btn msds-btn--tertiary msds-btn--sm " disabled>
          With icon, disabled
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
      </div>
      <br /><br /><br />
      <h2>Gray Button</h2>
      <h3>Large</h3>
      <div class="msds-btn-group--left">
        <button type="button" class="msds-btn msds-btn--gray msds-btn--lg">Enabled</button>
        <button type="button" class="msds-btn msds-btn--gray msds-btn--lg ">
          With icon, enabled
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--gray msds-btn--lg">Hover</button>
        <button type="button" class="msds-btn msds-btn--gray msds-btn--lg ">
          With icon, hover
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--gray msds-btn--lg">Active (pressed)</button>
        <button type="button" class="msds-btn msds-btn--gray msds-btn--lg ">
          With icon, active (pressed)
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--gray msds-btn--lg">Focus</button>
        <button type="button" class="msds-btn msds-btn--gray msds-btn--lg ">
          With icon, focus
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--gray msds-btn--lg" disabled>Disabled</button>
        <button type="button" class="msds-btn msds-btn--gray msds-btn--lg " disabled>
          With icon, disabled
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
      </div>
      <br />
      <h3>Medium</h3>
      <div class="msds-btn-group--left">
        <button type="button" class="msds-btn msds-btn--gray">Enabled</button>
        <button type="button" class="msds-btn msds-btn--gray ">
          With icon, enabled
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--gray">Hover</button>
        <button type="button" class="msds-btn msds-btn--gray ">
          With icon, hover
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--gray">Active (pressed)</button>
        <button type="button" class="msds-btn msds-btn--gray ">
          With icon, active (pressed)
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--gray">Focus</button>
        <button type="button" class="msds-btn msds-btn--gray ">
          With icon, focus
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--gray" disabled>Disabled</button>
        <button type="button" class="msds-btn msds-btn--gray " disabled>
          With icon, disabled
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
      </div>
      <br />
      <h3>Small</h3>
      <div class="msds-btn-group--left">
        <button type="button" class="msds-btn msds-btn--gray msds-btn--sm">Enabled</button>
        <button type="button" class="msds-btn msds-btn--gray msds-btn--sm ">
          With icon, enabled
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--gray msds-btn--sm">Hover</button>
        <button type="button" class="msds-btn msds-btn--gray msds-btn--sm ">
          With icon, hover
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--gray msds-btn--sm">Active (pressed)</button>
        <button type="button" class="msds-btn msds-btn--gray msds-btn--sm ">
          With icon, active (pressed)
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--gray msds-btn--sm">Focus</button>
        <button type="button" class="msds-btn msds-btn--gray msds-btn--sm ">
          With icon, focus
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--gray msds-btn--sm" disabled>Disabled</button>
        <button type="button" class="msds-btn msds-btn--gray msds-btn--sm " disabled>
          With icon, disabled
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
      </div>
      <br /><br /><br />
      <h2>Danger Button</h2>
      <h3>Large</h3>
      <div class="msds-btn-group--left">
        <button type="button" class="msds-btn msds-btn--danger msds-btn--lg">Enabled</button>
        <button type="button" class="msds-btn msds-btn--danger msds-btn--lg ">
          With icon, enabled
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--danger msds-btn--lg">Hover</button>
        <button type="button" class="msds-btn msds-btn--danger msds-btn--lg ">
          With icon, hover
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--danger msds-btn--lg">Active (pressed)</button>
        <button type="button" class="msds-btn msds-btn--danger msds-btn--lg ">
          With icon, active (pressed)
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--danger msds-btn--lg">Focus</button>
        <button type="button" class="msds-btn msds-btn--danger msds-btn--lg ">
          With icon, focus
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--danger msds-btn--lg" disabled>Disabled</button>
        <button type="button" class="msds-btn msds-btn--danger msds-btn--lg " disabled>
          With icon, disabled
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
      </div>
      <br />
      <h3>Medium</h3>
      <div class="msds-btn-group--left">
        <button type="button" class="msds-btn msds-btn--danger">Enabled</button>
        <button type="button" class="msds-btn msds-btn--danger ">
          With icon, enabled
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--danger">Hover</button>
        <button type="button" class="msds-btn msds-btn--danger ">
          With icon, hover
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--danger">Active (pressed)</button>
        <button type="button" class="msds-btn msds-btn--danger ">
          With icon, active (pressed)
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--danger">Focus</button>
        <button type="button" class="msds-btn msds-btn--danger ">
          With icon, focus
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--danger" disabled>Disabled</button>
        <button type="button" class="msds-btn msds-btn--danger " disabled>
          With icon, disabled
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
      </div>
      <br />
      <h3>Small</h3>
      <div class="msds-btn-group--left">
        <button type="button" class="msds-btn msds-btn--danger msds-btn--sm">Enabled</button>
        <button type="button" class="msds-btn msds-btn--danger msds-btn--sm ">
          With icon, enabled
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--danger msds-btn--sm">Hover</button>
        <button type="button" class="msds-btn msds-btn--danger msds-btn--sm ">
          With icon, hover
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--danger msds-btn--sm">Active (pressed)</button>
        <button type="button" class="msds-btn msds-btn--danger msds-btn--sm ">
          With icon, active (pressed)
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--danger msds-btn--sm">Focus</button>
        <button type="button" class="msds-btn msds-btn--danger msds-btn--sm ">
          With icon, focus
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
        <button type="button" class="msds-btn msds-btn--danger msds-btn--sm" disabled>Disabled</button>
        <button type="button" class="msds-btn msds-btn--danger msds-btn--sm " disabled>
          With icon, disabled
          <svg class="msds-icon"><use href="../../msds-spritemap.svg#publish" /></svg>
        </button>
      </div>
      <br /><br /><br /><br />
    </div>
  </div>
</div>

