

<div class="container">
  <div class="row card-row">
    <div class="col-12 col-md-4">
      <div class="msds-category-card msds-category-card--disabled">
        <div class="msds-category-card__header">
          <div class="msds-category-card__header-body">Deployment Best Practices</div>
          <div class="msds-category-card__header-icon-container">
            <svg class="msds-category-card__header-icon">
              <use href="../../msds-spritemap.svg#right-arrow" />
            </svg>
          </div>
        </div>
        <div class="msds-category-card__content">
          <div class="msds-category-card__content-body">Ask ideas and share ideas and experiences.</div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="msds-category-card msds-category-card--disabled">
        <div class="msds-category-card__header">
          <div class="msds-category-card__header-body">Deployment Best Practices</div>
          <div class="msds-category-card__header-icon-container">
            <svg class="msds-category-card__header-icon">
              <use href="../../msds-spritemap.svg#right-arrow" />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
