

<h1>Primary colors</h1>
<div class="color-container">  
    <div class="color-square msds-text-white msds-bg-clear-blue">Milestone clear blue<span class="variable-name">$clear-blue</span></div>
    <div class="color-square msds-text-white msds-bg-dark-blue">Milestone dark blue<span class="variable-name">$dark-blue</span></div>
    <div class="color-square msds-text-black msds-bg-yellow">Milestone yellow<span class="variable-name">$yellow</span></div>
</div>

<h1>Grays, white, black</h1>
<div class="color-container">  
    <div class="color-square msds-text-black msds-bg-gray-1">gray 1<span class="variable-name">$gray-1</span></div>
    <div class="color-square msds-text-black msds-bg-gray-2">gray 2<span class="variable-name">$gray-2</span></div>
    <div class="color-square msds-text-black msds-bg-gray-3">gray 3<span class="variable-name">$gray-3</span></div>
    <div class="color-square msds-text-black msds-bg-gray-4">gray 4<span class="variable-name">$gray-4</span></div>
    <div class="color-square msds-text-black msds-bg-gray-5">gray 5<span class="variable-name">$gray-5</span></div>
    <div class="color-square msds-text-black msds-bg-gray-6">gray 6<span class="variable-name">$gray-6</span></div>
    <div class="color-square msds-text-white msds-bg-gray-7">gray 7<span class="variable-name">$gray-7</span></div>
    <div class="color-square msds-text-white msds-bg-gray-8">gray 8<span class="variable-name">$gray-8</span></div>
    <div class="color-square msds-text-white msds-bg-gray-9">gray 9<span class="variable-name">$gray-9</span></div>
    <div class="color-square msds-text-white msds-bg-gray-10">gray 10<span class="variable-name">$gray-10</span></div>
    <div class="color-square msds-text-black msds-bg-white">white<span class="variable-name">$white</span></div>
    <div class="color-square msds-text-white msds-bg-black">black<span class="variable-name">$black</span></div>
</div>

<h1>Alternative colors</h1>
<div class="color-container">  
    <div class="color-square msds-text-white msds-bg-alt-blue-1">Alt blue 1<span class="variable-name">$alt-blue-1</span></div>
    <div class="color-square msds-text-white msds-bg-alt-blue-2">alt blue 2<span class="variable-name">$alt-blue-2</span></div>
    <div class="color-square msds-text-white msds-bg-alt-blue-3">alt blue 3<span class="variable-name">$alt-blue-3</span></div>
    <div class="color-square msds-text-black msds-bg-alt-yellow-1">alt yellow 1<span class="variable-name">$alt-yellow-1</span></div>
    <div class="color-square msds-text-black msds-bg-alt-yellow-2">alt yellow 2<span class="variable-name">$alt-yellow-2</span></div>
    <div class="color-square msds-text-white msds-bg-confirm-green">confirm green<span class="variable-name">$confirm-green</span></div>
    <div class="color-square msds-text-white msds-bg-danger-red-1">danger red 1<span class="variable-name">$danger-red-1</span></div>
    <div class="color-square msds-text-white msds-bg-danger-red-2">danger red 2<span class="variable-name">$danger-red-2</span></div>
    <div class="color-square msds-text-white msds-bg-sand">sand<span class="variable-name">$sand</span></div>
</div>

<h1>Transparent Colors</h1>
<div class="color-container">  
    <div class="color-square msds-text-black msds-white-50-transparent">white 50%<span class="variable-name">$rgba-7</span></div>
    <div class="color-square msds-text-black msds-white-30-transparent">white 30%<span class="variable-name">$rgba-8</span></div>
    <div class="color-square msds-text-black msds-white-10-transparent">white 10%<span class="variable-name">$rgba-9</span></div>
    <div class="color-square msds-text-white msds-black-30-transparent">black 30%<span class="variable-name">$rgba-10</span></div>
    <div class="color-square msds-text-black msds-black-10-transparent">black 10%<span class="variable-name">$rgba-11</span></div>
    <div class="color-square msds-text-black msds-black-3-transparent">black 3%<span class="variable-name">$rgba-16</span></div>
    <div class="color-square msds-text-black msds-gray-6-50-transparent">gray 6 50%<span class="variable-name">$rgba-12</span></div>
    <div class="color-square msds-text-black msds-gray-7-50-transparent">gray 7 50%<span class="variable-name">$rgba-4</span></div>
    <div class="color-square msds-text-black msds-gray-8-50-transparent">gray 8 50%<span class="variable-name">$rgba-13</span></div>
    <div class="color-square msds-text-black msds-dark-blue-12-transparent">dark blue 12%<span class="variable-name">$rgba-2</span></div>
    <div class="color-square msds-text-black msds-dark-blue-17-transparent">dark blue 17%<span class="variable-name">$rgba-1</span></div>
    <div class="color-square msds-text-black msds-dark-blue-30-transparent">dark blue 30%<span class="variable-name">$rgba-6</span></div>
    <div class="color-square msds-text-white msds-danger-red-50-transparent">danger red 50%<span class="variable-name">$rgba-5</span></div>
    <div class="color-square msds-text-white msds-clear-blue-50-transparent">clear blue 50%<span class="variable-name">$rgba-3</span></div>
</div>

<h1>Gradients</h1>
<div class="color-container">  
    <div class="color-square msds-text-white msds-bg-clear-blue-gradient">clear blue gradient<span class="variable-name">$clear-blue-gradient</span></div>
    <div class="color-square msds-text-white msds-bg-clear-blue-gradient-reverse">clear blue gradient reverse<span class="variable-name">$clear-blue-gradient-reverse</span></div>
    <div class="color-square msds-text-white msds-bg-dark-blue-gradient">dark blue gradient<span class="variable-name">$dark-blue-gradient</span></div>
    <div class="color-square msds-text-white msds-bg-dark-blue-gradient-reverse">dark blue gradient reverse<span class="variable-name">$dark-blue-gradient-reverse</span></div>
    <div class="color-square msds-text-white msds-bg-dark-blue-gradient">dark blue gradient<span class="variable-name">$dark-blue-gradient</span></div>
    <div class="color-square msds-text-white msds-bg-mixed-blue-gradient">mixed blue gradient<span class="variable-name">$mixed-blue-gradient</span></div>
    <div class="color-square msds-text-white msds-bg-mixed-blue-gradient-reverse">mixed blue gradient reverse<span class="variable-name">$mixed-blue-gradient-reverse</span></div>
    <div class="color-square msds-text-black msds-bg-yellow-gradient">yellow gradient<span class="variable-name">$yellow-gradient</span></div>
    <div class="color-square msds-text-black msds-bg-gray-gradient-1">gray gradient 1<span class="variable-name">$gray-gradient-1</span></div>
    <div class="color-square msds-text-black msds-bg-gray-gradient-2">gray gradient 2<span class="variable-name">$gray-gradient-2</span></div>
    <div class="color-square msds-text-black msds-bg-gray-gradient-3">gray gradient 3<span class="variable-name">$gray-gradient-3</span></div>
    <div class="color-square msds-text-black msds-bg-gray-gradient-4">gray gradient 4<span class="variable-name">$gray-gradient-4</span></div>
    <div class="color-square msds-text-black msds-bg-gray-gradient-5">gray gradient 5<span class="variable-name">$gray-gradient-5</span></div>
</div>

<h1>Shadows</h1>
<div class="color-container" style="background: white; padding: 30px 0 30px 0;">  
    <div style="height: 170px; width: 170px; border-radius: 50%;" class="color-square msds-bg-white msds-text-black msds-shadow-small">shadow small<span class="variable-name">$shadow-small</span></div>
    <div style="height: 170px; width: 170px; border-radius: 50%;" class="color-square msds-bg-white msds-text-black msds-shadow-medium">shadow medium<span class="variable-name">$shadow-medium</span></div>
    <div style="height: 170px; width: 170px; border-radius: 50%;" class="color-square msds-bg-white msds-text-black msds-shadow-large">shadow large<span class="variable-name">$shadow-large</span></div>
</div>

