

<div class="container">
  <div class="row">
    <div class="col-12 col-md-3">
      <div class="msds-contact-card msds-contact-card--small-without-image msds-contact-card--vertically-aligned">
        <div class="msds-contact-card__overlay"></div>
        <div class="msds-contact-card__headline">
          APAC &amp; Corporate
        </div>
        <div class="msds-contact-card__body">
          <div class="msds-contact-card__body-contact-person">
            Pernille Larsen
          </div>
          <div class="msds-contact-card__body-contact-position">
            Corporate Communications Manager and PR &amp; Communications Manager APAC
          </div>
          <div class="msds-contact-card__body-contact-details">
            <a class="msds-contact-card__link" href="#">
              <svg title="email" class="msds-contact-card__icon">
                <use href="../../msds-spritemap.svg#email" />
              </svg>
              Contact
            </a>
            <a class="msds-contact-card__link" href="#">
              <svg title="linkedin" class="msds-contact-card__icon">
                <use href="../../msds-spritemap.svg#linkedin" />
              </svg>
              Visit on LinkedIn
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
