

<h1>Cards Aspect 16 by 9</h1>
<div class="row card-row">
    <div class="col-12 col-md-4">
        <div class="msds-generic-card msds-generic-card--vertical-aligned">
            <a href="#" class="msds-generic-card--link">
                <div class="msds-generic-card__frame embed-responsive embed-responsive-16by9">
                    <img class="msds-generic-card__frame-image embed-responsive-item" src=../../../src/demo-img/xprotect.jpg
                        alt="Card image">
                </div>
                <div class="msds-generic-card__body">
                    <h3 class="msds-generic-card__body-heading">
                        Headline lorem ipsum
                    </h3>
                    <p class="msds-generic-card__body-description">
                        Malesuada vestibulum morbi aliquam commodo. Rhoncus id semper pellentesque. Nibh conseqtetuer eros nullam.
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>
