

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="msds-text-header-2-bold">Medium Spacing - Desktop</h2>            
            <div class="section-spacing section-spacing--medium-desktop msds-bg-gray-4">
                <div class="msds-text-header-2-bold mb-4">PREVENT. PROTECT. PROVE.</div>
                <div class="msds-text-body-1">
                    Milestone XProtect® video management software (VMS) brings all the puzzle pieces for video surveillance together in a perfect combination to create a solution that keeps people and property safe today – and tomorrow.
                </div>                
            </div>
        </div>        
        <div class="col-8">            
            <h2 class="msds-text-header-2-bold mt-10">Medium Spacing - Tablets</h2>            
            <div class="section-spacing section-spacing--medium-tablet msds-bg-gray-4">
                <div class="msds-text-header-2-bold mb-4">PREVENT. PROTECT. PROVE.</div>
                <div class="msds-text-body-1">
                    Milestone XProtect® video management software (VMS) brings all the puzzle pieces for video surveillance together in a perfect combination to create a solution that keeps people and property safe today – and tomorrow.
                </div>
            </div>
        </div>
        <div class="col-4">
            <h2 class="msds-text-header-2-bold mt-10">Medium Spacing - Mobile</h2>            
            <div class="section-spacing section-spacing--medium-mobile msds-bg-gray-4">
                <div class="msds-text-header-2-bold mb-4">PREVENT. PROTECT. PROVE.</div>
                <div class="msds-text-body-1">
                    Milestone XProtect® video management software (VMS) brings all the puzzle pieces for video surveillance together in a perfect combination to create a solution that keeps people and property safe today – and tomorrow.
                </div>
            </div>
        </div>
    </div>
</div>
