

<div id="modalOnLoad" class="msds-modal msds-modal--documentation-demo msds-modal--banner-center text-left">
    <a
        class="msds-modal__close text-decoration-none msds-btn-floating msds-btn-floating--lg msds-btn-floating--secondary">
        <svg class="msds-icon">
            <use href="../../msds-spritemap.svg#cross" />
        </svg>
    </a>
    <div class="msds-modal__overlay">
        <div class="msds-modal__content container">
            <div class="msds-modal__banner d-md-flex justify-content-md-center">
                <div class="msds-applications msds-rich-icon" title="Applications"></div>
            </div>
            <div class="msds-modal__headline msds-text-header-2 msds-text-gray-10 
                d-flex justify-content-sm-center justify-content-md-start justify-content-lg-center
                text-sm-center text-lg-left text-xl-center">
                Commodo nunc quam et ligula ut nec pulvinar justo malesuada
            </div>
            <div class="msds-modal__description msds-text-body-1 msds-text-gray-9 
                d-flex justify-content-sm-center justify-content-md-start justify-content-lg-center
                text-sm-center text-lg-left text-xl-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit amet tempor
                nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie. Mauris malesuada nisi sit
                amet augue accumsan tincidunt. Maecenas tincidunt, velit ac porttitor pulvinar, tortor eros facilisis
                libero, vitae commodo nunc quam et ligula. Ut nec ipsum sapien. Interdum et malesuada fames ac ante
                ipsum primis in faucibus. Integer id nisi nec nulla luctus lacinia non eu turpis.
            </div>
            <div class="msds-modal__cta msds-btn-group--right">
                <button type="button" class="msds-btn msds-btn--secondary">Cancel</button>
                <button type="button" class="msds-btn msds-btn--danger">Delete</button>
            </div>
        </div>
    </div>
</div>
