

<!DOCTYPE html>
<html class="msds-enable-font-family">
	<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../rich-icons-bundle.css">
    <link media="all" rel="stylesheet" href="../../main.css">
    <title>Dark Preview Layout</title>
		<script defer src="../../main.js"></script>    

    <style>
      body {
        margin: 100px 0 10px 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        background: linear-gradient(90deg, #035d88 0%, #0099da 100%);
        margin-bottom: 20px;
      }

      h1, h2, h3, h4, h5, h6, p{
        color: white;
      }

      
    </style>
	</head>
	<body>
		
	</body>
</html>

