

<div class="container">
  <div class="row">
    <div class="col-12">        
      <h1>Progress Bar</h1>
      <h2>Dark Theme</h2>      
      <div class="row">          
          <div class="col-8">
            <div id="DarkThemeProgressBar" class="msds-progress-bar msds-progress-bar--dark">
              <span class="msds-progress-bar__progression-counter"></span>
              <div class="msds-progress-bar__base-bar">
                <div class="msds-progress-bar__progression-bar"></div>
              </div>            
              <div class="progress-pagination progress-pagination--dark">  
                <div id="DarkThemePrevStep" class="prevStep">Previous step</div>
                <div class="currentsteps">
                  <input id="DarkThemeCurrentStep" type="number"> / <span id="DarkThemeBaseNumber" ></span>
                </div>
                <div id="DarkThemeNextStep" class="nextStep">Next step</div>                
              </div>  
            </div>
          </div>
      </div>      
    </div>
  </div>
</div>
