

<div class="container">
    <div class="row card-row">
        <div class="col-12 col-md-4">
            <div class="msds-solution-card">
                <div class="msds-solution-card__header">
                    <div class="msds-solution-card__header-logo-container">
                        <img src=" ../../src/demo-img/visionlabs.jpg" alt="solution card image"
                            class="msds-solution-card__header-logo-container-logo">
                    </div>
                    <div class="msds-solution-card__header-tag-container">
                        <div class="msds-tag msds-bg-dusty-green msds-text-white">
                            <div class="msds-msds-tag-text msds-text-body-3-bold text-nowrap">Hardware & software</div>
                        </div>
                    </div>
                    <h3 class="msds-solution-card__header-headline msds-text-header-4">
                        VisionLabs Face Recognition Plug-in
                    </h3>
                </div>
                <div class="msds-solution-card__body">
                    <div class="msds-solution-card__body-headline">
                        By xPrime
                    </div>
                    <p class="msds-solution-card__body-description ">
                        Prevent Vandalism | Prevent Vandalism | Control access to restricted areas 
                    </p>
                </div>
                <div class="msds-solution-card__footer">
                    <div class="msds-solution-card__badge">
                        <div class="msds-solution-card__badge-icon-container msds-icon-certification msds-icon-certification--certified">
                            <svg class="msds-icon"><use href="../../msds-spritemap.svg#checkmark" /></svg>
                        </div>
                        <span class="msds-solution-card__badge-text">Milestone Certified</span>
                    </div>
                    <div class="msds-solution-card__footer-buttons">
                        <div class="msds-solution-card__footer-buttons-button msds-text-header-5 msds-text-gray-8">
                            GET IN TOUCH
                        </div>
                        <div class="msds-solution-card__footer-buttons-button msds-text-header-5 msds-text-clear-blue">
                            EXPLORE
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="msds-solution-card">
                <div class="msds-solution-card__header">
                    <div class="msds-solution-card__header-logo-container">
                        <img src=" ../../src/demo-img/visionlabs.jpg" alt="solution card image"
                            class="msds-solution-card__header-logo-container-logo">
                    </div>
                    <div class="msds-solution-card__header-tag-container">
                        <div class="msds-tag msds-bg-dusty-green msds-text-white">
                            <div class="msds-msds-tag-text msds-text-body-3-bold text-nowrap">Hardware & software</div>
                        </div>
                    </div>
                    <h3 class="msds-solution-card__header-headline msds-text-header-4">
                        VisionLabs Face Recognition Plug-in
                    </h3>
                </div>
                <div class="msds-solution-card__body">
                    <div class="msds-solution-card__body-headline">
                        By xPrime
                    </div>
                    <p class="msds-solution-card__body-description ">
                        Prevent Vandalism | Prevent Vandalism | Control access to restricted areas 
                    </p>
                </div>
                <div class="msds-solution-card__footer">
                    <div class="msds-solution-card__badge">
                        <div class="msds-solution-card__badge-icon-container msds-icon-certification msds-icon-certification--certified">
                            <svg class="msds-icon"><use href="../../msds-spritemap.svg#checkmark" /></svg>
                        </div>
                        <span class="msds-solution-card__badge-text">Milestone Certified</span>
                    </div>
                    <div class="msds-solution-card__footer-buttons">
                        <div class="msds-solution-card__footer-buttons-button msds-text-header-5 msds-text-gray-8">
                            GET IN TOUCH
                        </div>
                        <div class="msds-solution-card__footer-buttons-button msds-text-header-5 msds-text-clear-blue">
                            EXPLORE
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
