

<div class="container-fluid">
  <div class="row">    
    <div class="col-12 col-sm-4 mb-5">
      <div class="msds-bg-gray-8 p-6">
        <h3 class="msds-text-white">Gray 8</h3>
        <a href="/docs/content/typography/links">Read more</a>
      </div>
    </div>
    <div class="col-12 col-sm-4 mb-5">
      <div class="msds-bg-gray-9 p-6">
        <h3 class="msds-text-white">Gray 9</h3>
        <a href="/docs/content/typography/links">Read more</a>
      </div>
    </div>
    <div class="col-12 col-sm-4 mb-5">
      <div class="msds-bg-gray-10 p-6">
        <h3 class="msds-text-white">Gray 10</h3>
        <a href="/docs/content/typography/links">Read more</a>
      </div>
    </div>
    <div class="col-12 col-sm-4 mb-5">      
      <div class="msds-bg-clear-blue p-6">
        <h3 class="msds-text-white">Milestone Clear Blue</h3>
        <a href="/docs/content/typography/links">Read more</a>
      </div>
    </div>
    <div class="col-12 col-sm-4 mb-5">      
      <div class="msds-bg-dark-blue p-6">
        <h3 class="msds-text-white">Milestone Dark Blue</h3>
        <a href="/docs/content/typography/links">Read more</a>
      </div>
    </div>
    <div class="col-12 col-sm-4 mb-5">      
      <div class="msds-bg-orange p-6">
        <h3 class="msds-text-white">Orange</h3>
        <a href="/docs/content/typography/links">Read more</a>
      </div>
    </div>
    <div class="col-12 col-sm-4 mb-5">      
      <div class="msds-bg-dusty-green p-6">
        <h3 class="msds-text-white">Dusty Green</h3>
        <a href="/docs/content/typography/links">Read more</a>
      </div>
    </div>
    <div class="col-12 col-sm-4 mb-5">
      <div class="msds-bg-gray-gradient-6 p-6">
        <h3 class="msds-text-white">Gray Gradient 6</h3>
        <a href="/docs/content/typography/links">Read more</a>
      </div>
    </div>
    <div class="col-12 col-sm-4 mb-5">
      <div class="msds-bg-gray-gradient-6-reverse p-6 text-right">
        <h3 class="msds-text-white">Gray Gradient 6 Reverse</h3>
        <a href="/docs/content/typography/links">Read more</a>
      </div>
    </div>    
    <div class="col-12 col-sm-4 mb-5">
      <div class="msds-bg-blue-to-yellow-gradient p-6">
        <h3 class="msds-text-white">Blue To Yellow Gradient</h3>
        <a href="/docs/content/typography/links">Read more</a>
      </div>
    </div>
    <div class="col-12 col-sm-4 mb-5">
      <div class="msds-bg-clear-blue-gradient p-6">
        <h3 class="msds-text-white">Clear Blue Gradient</h3>
        <a href="/docs/content/typography/links">Read more</a>
      </div>
    </div>
    <div class="col-12 col-sm-4 mb-5">
      <div class="msds-bg-clear-blue-gradient-2 p-6">
        <h3 class="msds-text-white">Clear Blue Gradient 2</h3>
        <a href="/docs/content/typography/links">Read more</a>
      </div>
    </div>
    <div class="col-12 col-sm-4 mb-5">
      <div class="msds-bg-clear-blue-gradient-2-reverse p-6 text-right">
        <h3 class="msds-text-white">Clear Blue Gradient 2 Reverse</h3>
        <a href="/docs/content/typography/links">Read more</a>
      </div>
    </div>
    <div class="col-12 col-sm-4 mb-5">
      <div class="msds-bg-dark-blue-gradient p-6">
        <h3 class="msds-text-white">Dark Blue Gradient</h3>
        <a href="/docs/content/typography/links">Read more</a>
      </div>
    </div>
    <div class="col-12 col-sm-4 mb-5">
      <div class="msds-bg-dark-blue-gradient-2 p-6">
        <h3 class="msds-text-white">Dark Blue Gradient 2</h3>
        <a href="/docs/content/typography/links">Read more</a>
      </div>
    </div>
    <div class="col-12 col-sm-4 mb-5">
      <div class="msds-bg-dark-blue-gradient-2-reverse p-6 text-right">
        <h3 class="msds-text-white">Dark Blue Gradient 2 Reverse</h3>
        <a href="/docs/content/typography/links">Read more</a>
      </div>
    </div>
    <div class="col-12 col-sm-4 mb-5">
      <div class="msds-bg-mixed-blue-gradient p-6">
        <h3 class="msds-text-white">Mixed Blue Gradient</h3>
        <a href="/docs/content/typography/links">Read more</a>
      </div>
    </div>
  </div>
</div>

