<div class="col-12 col-md-3 offset-md-1">
    <div id="input-small" class="msds-select-input">
        <select class="msds-select-input__select msds-select-input__select--small" aria-placeholder="test">
        </select>

        <div class="msds-select-input__icon">
            <svg title="button-icon">
                <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
            </svg>
        </div>
        <div class="msds-select-input__validation-msg msds-text-body-4 msds-text-danger-red-1"></div>
    </div>
</div>