<form class="msds-form">
    <input class="msds-form__input" type="text" placeholder="{{placeholder}}" name="default-input">

    <label class="msds-form__input-label" for="default-input">{{message}}</label>
</form>