.msds-form {
  display: flex;
  flex-direction: column;
  &__input {
    font-family: 'Open-sans', sans-serif;
    font-size: 16px;
    line-height: 22px;
    height: 56px;
    width: 463px;
    padding-left: 20px;
    border: 1px solid $gray-5;
    border-radius: 2px;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;

    &::placeholder {
      color: $gray-8;
      font-size: 16px;
      line-height: 22px;
    }
    &:hover {
      background-color: $gray-2;
    }

    &:focus {
      outline: 4px solid rgba(0, 153, 218, 0.5);
    }
    &--small {
      height: 36px;
    }
  }
  &__input-label {
    font-size: 12px;
    line-height: 18px;
    color: $gray-9;
    margin-right: 50px;
  }
}
