<form class="msds-form">
    <div class="msds-form__input-container">
        <input class="msds-form__input-container-input" type="text" placeholder="{{placeholder}}" name="default-input">
        <label class="msds-form__input-container-input-label" for="default-input">{{placeholder}}</label>
        <p class="msds-form__input-container-input-message">{{message}}</p>
    </div>
</form>