.msds-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  &__input-container {
    position: relative;
    &-input {
      font-family: 'Open-sans', sans-serif;
      font-size: 16px;
      color: $gray-10;
      height: 56px;
      width: 463px;
      padding-left: 20px;
      border: 1px solid $gray-5;
      border-radius: 2px;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: $gray-2;
      }
      &:focus {
        outline: 4px solid rgba(0, 153, 218, 0.5);
      }
      &:focus ~ label {
        top: 1px;
        font-size: 10px;
      }
      &::placeholder {
        color: transparent;
      }
      &:not(:placeholder-shown) ~ label {
        top: 1px;
        font-size: 10px;
      }
      &--small {
        height: 36px;
        font-size: 12px;
        line-height: 18px;
      }
      &--disabled {
        & ~ label {
          color: $gray-7;
        }
        background: $gray-3;
      }
    }
    &-input-label {
      position: absolute;
      top: calc(50% - 30px);
      left: 20px;
      transition: 0.5s;
      pointer-events: none;
      color: $gray-8;
      font-size: 16px;

      &--small {
        font-size: 12px;
        top: calc(50% - 25px);
      }
    }
    &-input-message {
      font-size: 12px;
      line-height: 18px;
      color: $gray-9;
      margin-left: 3px;
      margin-top: 6px;
    }
  }
}
