<div class="d-inline-block msds-popover">
    <div class="msds-text-header-1-bold msds-text-clear-blue mb-3">
        MilestonePartnerLevelText
    </div>
    <div class="msds-text-body-3-bold msds-text-gray-9 mb-3">
        MilestonePartnerLevelLabel
    </div>
    <a class="msds-text-body-2 msds-text-clear-blue" href="#">
        MarketplaceSolutionLearnMoreButtonText
    </a>
    <div class="msds-popover__item text-left p-4 msds-text-gray-10">
        <div class="msds-popover__content">
            <div class="msds-text-header-4 mb-4">
                PartnerClassificationTitle
            </div>
            <p class="m-0 msds-text-body-3">
                PartnerClassificationDescription
            </p>
        </div>
        <div class="msds-popover__arrow">
        </div>
    </div>
</div>