<div class="d-inline-block msds-popover msds-popover--left">
    <div class="msds-text-header-1-bold msds-text-clear-blue mb-3">
        Invite a coworker
    </div>
    <div class="msds-text-body-2 msds-text-gray-9 mb-3">
        pop over left
    </div>
    <div class="msds-popover__item msds-text-gray-10">
        <div class="msds-popover__content">
            <div class="msds-popover__header mb-4">
                <svg title="icon" class="msds-icon msds-text-alt-blue-1">
                    <use href="{{ path '/msds-spritemap.svg' }}#colleague" />
                </svg>
                <div class="ml-2">
                    {{general.popoverHeadline}}
                </div>
            </div>
            <div class="msds-popover__description mb-1">
                <p class="mb-2">
                    {{general.coworkersDescription}}
                </p>
                <p class="mb-2">John Doe</p>
                <p class="mb-2">Jane Doe</p>
                <p class="mb-2">Janie Doe</p>
                <p class="mb-2">Johnny Doe</p>
                <p class="mb-2">John Roe</p>
                <p class="mb-2">Richard Roe</p>
            </div>
        </div>
        <div class="msds-popover__arrow">
        </div>
    </div>
</div>