.msds-contact-card {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  background: $white;
  height: 100%;
  padding-top: 24px;
  padding-bottom: 32px;
  box-shadow: 0 1px 2px 0 $rgba-6;

  &--vertically-aligned {
    display: flex;
    flex: 1 0 auto;
  }

  &--small {
    padding-top: 24px;
    padding-bottom: 24px;
    justify-content: flex-start;

    .msds-contact-card__caption {
      max-width: 130px;
      max-height: 130px;
      margin: 0 auto 24px;
      z-index: 2;
    }
  }

  &--without-image {
    padding-top: 0px;
    text-align: left;

    .msds-contact-card__headline {
      display: flex;
      text-align: left;
      background: $gray-3;
      margin: 0px;
      padding: 24px 20px;
      min-height: 72px;
      line-height: 24px;
    }

    .msds-contact-card__body {
      padding-top: 25px;
    }

    .msds-contact-card__body-contact-person {
      margin-bottom: 8px;
    }

    .msds-contact-card__body-contact-details {
      display: block;
      margin-top: auto;
      padding-top: 12px;
    }

    .msds-contact-card__overlay {
      display: none;
    }
  }

  &--small-without-image {
    padding-top: 0px;
    text-align: left;

    .msds-contact-card__headline {
      display: flex;
      text-align: center;
      background: $gray-3;
      margin: 0px;
      padding: 16px;
      min-height: 56px;
      line-height: 24px;
    }

    .msds-contact-card__body {
      padding-top: 20px;
      padding-left: 16px;
      padding-right: 16px;
    }

    .msds-contact-card__body-contact-person {
      margin-bottom: 8px;
    }

    .msds-contact-card__body-contact-details {
      display: block;
      margin-top: auto;
      padding-top: 12px;
    }

    .msds-contact-card__overlay {
      display: none;
    }
  }

  &--content {
    padding-bottom: 32px;
    box-shadow: unset;
    background: transparent;

    .msds-contact-card__body-contact-position {
      margin-bottom: 4px;
    }

    .msds-contact-card__body-contact-details {
      padding-top: 0;
      margin: auto auto 0;
    }
  }

  &__headline {
    color: $gray-10;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 16px;
    z-index: 2;
    @extend .msds-text-header-4;
  }

  &__body {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__body-contact-person {
    color: $gray-10;
    margin-bottom: 8px;
    @extend .msds-text-header-4;
  }

  &__body-contact-position {
    @extend .msds-text-body-1;
    color: $gray-8;
  }

  &__body-contact-details {
    color: $clear-blue;
    @extend .msds-text-body-1;
    display: table;
    margin: auto 0 0;
    padding-top: 24px;

    .msds-contact-card__body-contact-details-wrapper {
      display: table-cell;
      text-align: left;
    }

    .msds-contact-card__icon {
      fill: $clear-blue;
      width: 16px;
      height: 16px;
      margin-right: 25px;
    }

    .msds-contact-card__link {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: $clear-blue;
      text-decoration: none;
      margin-bottom: 16px;

      &:hover {
        text-decoration: underline;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__caption {
    max-width: 170px;
    max-height: 170px;
    margin: 0 auto 16px;
    z-index: 2;
  }

  &__caption-image {
    height: 100%;
    width: 100%;
    box-shadow: 0 2px 12px 0 $rgba-1;
  }

  &__overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 157px;
    background: $gray-3;
    z-index: 1;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .msds-contact-card__caption {
    max-width: 146px;
    max-height: 146px;
  }

  .msds-contact-card--small {
    .msds-contact-card__icon {
      margin-right: 15px;
    }
  }
}

@media (max-width: 768px) {
  .msds-contact-card {
    margin-bottom: 20px;
  }
}
