<div class="msds-generic-content-card">
    <div class="msds-generic-content-card__cap">
        <img src={{placeholderImg}} alt="Card image">
    </div>
    <div class="msds-generic-content-card__body">
        <h3 class="msds-generic-content-card__body-heading">
            {{placeholderHeading}}
        </h3>
        <p class="msds-generic-content-card__body-description">
            {{placeholderDescription}}
        </p>
    </div>
</div>