.msds-category-card {
  cursor: pointer;
  position: relative;
  width: 280px;

  &:hover {
    .msds-category-card__header {
      color: $yellow;
    }
  }

  &:active {
    .msds-category-card__header {
      box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
    }
  }

  &--disabled {
    .msds-category-card__header {
      position: relative;
      color: $white;
      overflow: hidden;
    }

    .msds-category-card__header-icon {
      fill: $white;
    }

    .msds-category-card__header-opaque-filter {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 360px;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 2px 2px 0 0;
    }

    &:hover {
      cursor: unset;
      .msds-category-card__header {
        color: $white;
      }
    }

    &:active {
      .msds-category-card__header {
        box-shadow: unset;
      }
    }
  }

  &--large {
    width: 360px;

    .msds-category-card__header {
      width: 360px;
    }

    .msds-category-card__content {
      width: 360px;
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.3);
    color: $white;
    @include msds-font('header-4');
    padding-right: 16px;
  }

  &__header-body {
    padding: 24px 10px 24px 20px;
  }

  &__header-icon {
    fill: $yellow;
    width: 18px;
    height: 18px;
    margin: 30px 0px;
  }

  &__header-opaque-filter {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  &__content {
    width: 280px;
    color: $white;
    @include msds-font('body-1');
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.1);

    &-body {
      padding: 24px 20px;
    }
  }
}
