<div class="col-6">
    <div class="msds-checkbox">
        <input class="msds-checkbox__input" id="defaul-checkbox" type="checkbox">
        <label class="msds-checkbox__label msds-text-body-1 msds-text-gray-10" for="defaul-checkbox">
            <svg class="msds-checkbox__checkmark">
                <use href="{{ path '/msds-spritemap.svg' }}#checkmark" /></svg>
            Default
        </label>
    </div>
</div>