<div class="row">

  <div class="col-4">
    <h3>Icon left, text right</h3>
    <button type="button" class="msds-btn-floating">
      <svg class="msds-icon">
        <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
      </svg>
      See more
    </button>
  </div>
  <div class="col-4">
    <h3>Text left, icon right</h3>
    <button type="button" class="msds-btn-floating msds-btn-floating--right">
      <svg class="msds-icon">
        <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
      </svg>
      See more
    </button>
  </div>
  <div class="col-4">
    <h3>Text above icon</h3>
    <button type="button" class="msds-btn-floating msds-btn-floating--column">
      <svg class="msds-icon">
        <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
      </svg>
      See more
    </button>
  </div>
</div>