@mixin floating-light-theme-disabled {
  cursor: initial;
  color: $gray-7;

  .msds-icon {
    color: $gray-4;
    border: 1px solid $gray-4;
  }

  &:hover {
    text-decoration: none;
    .msds-icon {
      background: unset;
      box-shadow: unset;
    }
  }
}

@mixin floating-dark-theme-disabled {
  cursor: initial;
  color: $white;
  opacity: 0.5;

  .msds-icon {
    color: $white;
    border: 1px solid $white;
  }

  &:hover {
    text-decoration: none;
    .msds-icon {
      background: unset;
      box-shadow: unset;
    }
  }
}

// Floating Button
.msds-btn-floating {
  display: flex;
  align-items: center;
  user-select: none;
  padding: 0px;
  @extend .msds-text-body-1;
  color: $clear-blue;
  background-color: transparent;
  text-transform: unset;
  text-align: center;
  cursor: pointer;

  .msds-icon {
    width: 13.33px;
    height: 13.33px;
    padding: 9.34px;
    margin-right: 20px;
    transform: rotate(90deg);
    border: 1px solid $clear-blue;
    border-radius: 50%;
  }

  &:hover {
    text-decoration: underline;
    padding: 0px;
    .msds-icon {
      color: $white;
      background: $clear-blue-gradient;
      box-shadow: inset 0 -1px 0 0 #0175a6, 0 2px 12px 0 $rgba-1;
    }
  }

  &:active {
    text-decoration: underline;
    .msds-icon {
      color: $white;
      background: $clear-blue-gradient;
      box-shadow: 0 0 0 4px rgba(0, 153, 218, 0.5);
    }
  }

  &:focus {
    outline: none;

    .msds-icon {
      box-shadow: 0 0 0 4px rgba(0, 153, 218, 0.5);
    }
  }

  &:disabled {
    @include floating-light-theme-disabled();
  }

  &--sm {
    .msds-icon {
      width: 10px;
      height: 10px;
      padding: 7px;
      margin-right: 16px;
    }
  }

  &--lg {
    .msds-icon {
      width: 20px;
      height: 20px;
      padding: 14px;
      margin-right: 24px;
    }
  }

  &--column {
    flex-direction: column-reverse;
    justify-content: center;
    .msds-icon {
      margin-top: 12px;
      margin-right: 0px;
    }
  }

  &--right {
    flex-direction: row-reverse;
    .msds-icon {
      margin-right: 0px;
      margin-left: 12px;
    }
  }

  &--secondary {
    .msds-icon {
      border: unset;
    }

    &:hover {
      text-decoration: underline;
      padding: 0px;
      .msds-icon {
        color: $clear-blue;
        background: $rgba-2;
        box-shadow: unset;
      }
    }

    &:active {
      text-decoration: underline;
      .msds-icon {
        color: $clear-blue;
        background: $rgba-2;
        box-shadow: 0 0 0 4px rgba(0, 153, 218, 0.5);
      }
    }

    &:focus {
      .msds-icon {
        box-shadow: 0 0 0 4px rgba(0, 153, 218, 0.5);
      }
    }
  }

  &--dark {
    color: $white;
    .msds-icon {
      border: 1px solid $white;
    }

    &:hover {
      text-decoration: underline;
      .msds-icon {
        color: $clear-blue;
        background: $white;
        box-shadow: 0 2px 12px 0 $rgba-1;
      }
    }

    &:active {
      text-decoration: underline;
      .msds-icon {
        color: $clear-blue;
        background: $white;
        box-shadow: 0 1px 2px 0 $rgba-6, 0 0 0 4px $rgba-7;
      }
    }

    &:focus {
      .msds-icon {
        box-shadow: 0 1px 2px 0 $rgba-6, 0 0 0 4px $rgba-7;
      }
    }

    &:disabled {
      @include floating-dark-theme-disabled();
    }
  }

  &--dark-secondary {
    color: $white;
    .msds-icon {
      border: unset;
    }

    &:hover {
      text-decoration: underline;
      .msds-icon {
        color: $white;
        background: $rgba-9;
      }
    }

    &:active {
      text-decoration: underline;
      .msds-icon {
        color: $white;
        background: $rgba-9;
        box-shadow: 0 1px 2px 0 $rgba-6, 0 0 0 4px $rgba-7;
      }
    }

    &:focus {
      .msds-icon {
        box-shadow: 0 1px 2px 0 $rgba-6, 0 0 0 4px $rgba-7;
      }
    }

    &:disabled {
      @include floating-dark-theme-disabled();
    }
  }
}
