<div class="row">
    <div class="msds-expander msds-expander--dark msds-bg-clear-blue-gradient">
        <div class="col-12 col-md-3">
            <div class="msds-expander__header">
                <div class="msds-expander__header-icon msds-contact-illustration" title="Contact Illustration">
                </div>
                <div
                    class="msds-expander__header-headline msds-expander--hide-mobile-element msds-text-header-2 msds-text-white">
                    Frequently asked questions
                </div>
            </div>
        </div>
        <div class="col-12 col-md-9">
            <div
                class="msds-expander__header-headline msds-expander--hide-desktop-element msds-text-header-2 msds-text-white">
                Frequently asked questions
            </div>
            <ul class="msds-expander__body ">
                <li class="msds-expander__list-item" tabindex="0">
                    <input class="msds-expander__checkbox" type="checkbox" tabindex="-1" checked>
                    <div class="msds-expander__headline msds-text-body-1 msds-text-white">
                        How do I add a solution to Marketplace?
                        <div class="msds-expander__headline-icon">
                            <svg>
                                <use href="/msds-spritemap.svg#right-arrow"></use>
                            </svg>
                        </div>
                    </div>
                    <p class="msds-expander__content msds-text-body-1 msds-text-white">Quisque dictum elementum maximus.
                        Sed
                        leo arcu, laoreet faucibus iaculis
                        sit
                        amet, ultricies in elit. Praesent sit amet massa vel lacus hendrerit facilisis. Nulla lectus
                        elit,
                        dictum et
                        metus nec, venenatis luctus lacus. Ut ut maximus sapien. Suspendisse varius molestie mauris, in
                        rhoncus
                        purus bibendum a.
                    </p>
                </li>
                <li class="msds-expander__list-item" tabindex="0">
                    <input class="msds-expander__checkbox" type="checkbox" tabindex="-1" checked>
                    <div class="msds-expander__headline msds-text-body-1 msds-text-white">
                        How does the subscription model work?
                        <div class="msds-expander__headline-icon">
                            <svg>
                                <use href="/msds-spritemap.svg#right-arrow"></use>
                            </svg>
                        </div>
                    </div>
                    <p class="msds-expander__content msds-text-body-1 msds-text-white">Quisque dictum elementum maximus.
                        Sed
                        Eu eu eros maecenas risus tristique, ipsum tellus. Congue faucibus conubia. Donec velit mauris
                        repudiandae arcu nec.

                        Arcu ipsum nec blandit rhoncus eleifend, fermentum lectus donec rutrum sem nunc, ac dolor,
                        accumsan
                        autem iaculis aliquam viverra non laoreet, volutpat dolor magna fringilla in ut ut. Non vitae
                        amet
                        ac
                        semper montes massa, nunc orci condimentum mattis dui vestibulum, porta diam odio vehicula a
                        justo
                        nec,
                        vehicula ultrices mollis quas, sed dolor volutpat odio dis.

                        Non vitae amet ac semper.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>