<div class="row">
    <div class="msds-expander msds-expander--section-expander msds-bg-gray-gradient-2">
        <div class="col-12 col-md-9">
            <ul class="msds-expander__body ">
                <li class="msds-expander__list-item" tabindex="0">
                    <input class="msds-expander__checkbox" type="checkbox" tabindex="-1" checked></input>
                    <div class="msds-btn-floating msds-btn-floating--secondary msds-btn-floating--column">
                        <svg class="msds-icon msds-expander__opened">
                            <use href="/msds-spritemap.svg#right-arrow"></use>
                        </svg>
                         <svg class="msds-icon msds-expander__closed">
                            <use href="/msds-spritemap.svg#cross"></use>
                        </svg>
                        <div class="msds-expander__opened msds-expander__button-text">
                        Show more
                        </div>
                        <div class="msds-expander__closed msds-expander__button-text">
                        Show less
                        </div>
                    </div>
                    <p class="msds-expander__content msds-text-body-1 msds-text-gray-9">
                        Quisque dictum elementum maximus. Sed leo arcu, laoreet faucibus iaculis sit amet,
                        ultricies in elit. Praesent sit amet massa vel lacus hendrerit facilisis. Nulla lectus
                        elit, dictum et metus nec, venenatis luctus lacus. Ut ut maximus sapien. Suspendisse
                        varius molestie mauris, in rhoncus purus bibendum a.
                    </p>
                </li> 
            </ul>
        </div>
    </div>
</div>