<h1>Medium Accordion - Radio</h1>
<div class="msds-accordion">
    <div class="msds-accordion__list-item msds-accordion__list-item--animate-icon-rotate">
        <input type="radio" class="msds-accordion__list-item-input" id="accordion-list-item_overview-medium-radio-1" name="accordion-with-radio">
        <label class="msds-accordion__list-item-header" for="accordion-list-item_overview-medium-radio-1">
            <span class="msds-accordion__list-item-header-title">Accordion List Item 1 - One Item Open At A Time</span>
            <span class="msds-accordion__list-item-header-icon">
                <svg>
                    <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
                </svg>
            </span>
        </label>
        <div class="msds-accordion__list-item-body">
            <div class="msds-accordion__list-item-subtitle">
                This is the Accordion List Item 1 long title
            </div>
            <div class="msds-accordion__list-item-description">
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </span>
            </div>
        </div>
    </div>
    <div class="msds-accordion__list-item msds-accordion__list-item--animate-icon-rotate">
        <input type="radio" class="msds-accordion__list-item-input" id="accordion-list-item_overview-medium-radio-2" name="accordion-with-radio">
        <label class="msds-accordion__list-item-header" for="accordion-list-item_overview-medium-radio-2">
            <span class="msds-accordion__list-item-header-title">Accordion List Item 2 - One Item Open At A Time</span>
            <span class="msds-accordion__list-item-header-icon">
                <svg>
                    <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
                </svg>
            </span>
        </label>
        <div class="msds-accordion__list-item-body">
            <div class="msds-accordion__list-item-subtitle">
                This is the Accordion List Item 1 long title
            </div>
            <div class="msds-accordion__list-item-description">
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </span>
            </div>
        </div>
    </div>
</div>

