<div class="container">
    <div class="row">
        <div class="msds-expanding-section msds-bg-gray-gradient-2">
            <div class="col-12">
                <input id="expanding-section-1-checkbox" class="msds-expanding-section__checkbox" type="checkbox"/>
                <label class="msds-expanding-section__buttons-container" for="expanding-section-1-checkbox">
                    <div class="msds-btn-floating msds-btn-floating--secondary msds-btn-floating--column
                         msds-expanding-section--closed">
                        <svg class="msds-icon">
                             <use href="{{ path '/msds-spritemap.svg' }}#right-arrow"></use>
                        </svg>
                        <div class="msds-expanding-section__button-text">
                            Show more
                        </div>
                    </div>
                    <div class="msds-btn-floating msds-btn-floating--secondary msds-btn-floating--column 
                        msds-expanding-section--open">
                        <svg class="msds-icon">
                             <use href="{{ path '/msds-spritemap.svg' }}#cross"></use>
                        </svg>
                        <div class="msds-expanding-section__button-text">
                            Show less
                        </div>
                    </div>
                </label>
                </input>
                <div class="msds-expanding-section__content msds-text-body-1 msds-text-gray-9">
                    Quisque dictum elementum maximus. Sed leo arcu, laoreet faucibus iaculis sit amet,
                    ultricies in elit. Praesent sit amet massa vel lacus hendrerit facilisis. Nulla lectus
                    elit, dictum et metus nec, venenatis luctus lacus. Ut ut maximus sapien. Suspendisse
                    varius molestie mauris, in rhoncus purus bibendum a.
                </div>
            </div>
        </div>
         <div class="msds-expanding-section msds-bg-gray-gradient-2">
            <div class="col-12">
                <input id="expanding-section-2-checkbox" class="msds-expanding-section__checkbox" type="checkbox"/>
                <label class="msds-expanding-section__buttons-container" for="expanding-section-2-checkbox">
                    <div class="msds-btn-floating msds-btn-floating--secondary msds-btn-floating--column
                         msds-expanding-section--closed">
                        <svg class="msds-icon">
                             <use href="{{ path '/msds-spritemap.svg' }}#right-arrow"></use>
                        </svg>
                        <div class="msds-expanding-section__button-text">
                            Show more
                        </div>
                    </div>
                    <div class="msds-btn-floating msds-btn-floating--secondary msds-btn-floating--column 
                        msds-expanding-section--open">
                        <svg class="msds-icon">
                             <use href="{{ path '/msds-spritemap.svg' }}#cross"></use>
                        </svg>
                        <div class="msds-expanding-section__button-text">
                            Show less
                        </div>
                    </div>
                </label>
                </input>
                <div class="msds-expanding-section__content msds-text-body-1 msds-text-gray-9">
                    Quisque dictum elementum maximus. Sed leo arcu, laoreet faucibus iaculis sit amet,
                    ultricies in elit. Praesent sit amet massa vel lacus hendrerit facilisis. Nulla lectus
                    elit, dictum et metus nec, venenatis luctus lacus. Ut ut maximus sapien. Suspendisse
                    varius molestie mauris, in rhoncus purus bibendum a.
                </div>
            </div>
        </div>
    </div>
</div>