// Text colors **Add colors when needed**
.msds-text-clear-blue {
  color: $clear-blue;
}

.msds-text-dark-blue {
  color: $dark-blue;
}

.msds-text-yellow {
  color: $yellow;
}

.msds-text-gray-1 {
  color: $gray-1;
}

.msds-text-gray-2 {
  color: $gray-2;
}

.msds-text-gray-3 {
  color: $gray-3;
}

.msds-text-gray-4 {
  color: $gray-4;
}

.msds-text-gray-5 {
  color: $gray-5;
}

.msds-text-gray-6 {
  color: $gray-6;
}

.msds-text-gray-7 {
  color: $gray-7;
}

.msds-text-gray-8 {
  color: $gray-8;
}

.msds-text-gray-9 {
  color: $gray-9;
}

.msds-text-gray-10 {
  color: $gray-10;
}

.msds-text-white {
  color: $white;
}

.msds-text-black {
  color: $black;
}

.msds-text-alt-blue-1 {
  color: $alt-blue-1;
}

.msds-text-alt-blue-2 {
  color: $alt-blue-2;
}

.msds-text-alt-blue-3 {
  color: $alt-blue-3;
}

.msds-text-alt-yellow-1 {
  color: $alt-yellow-1;
}

.msds-text-alt-yellow-2 {
  color: $alt-yellow-2;
}

.msds-text-confirm-green {
  color: $confirm-green;
}

.msds-text-danger-red-1 {
  color: $danger-red-1;
}

.msds-text-danger-red-2 {
  color: $danger-red-2;
}

.msds-text-sand {
  color: $sand;
}

// Background colors
.msds-bg-clear-blue {
  background: $clear-blue;
}
.msds-bg-dark-blue {
  background: $dark-blue;
}
.msds-bg-yellow {
  background: $yellow;
}
.msds-bg-gray-1 {
  background: $gray-1;
}
.msds-bg-gray-2 {
  background: $gray-2;
}
.msds-bg-gray-3 {
  background: $gray-3;
}
.msds-bg-gray-4 {
  background: $gray-4;
}
.msds-bg-gray-5 {
  background: $gray-5;
}
.msds-bg-gray-6 {
  background: $gray-6;
}
.msds-bg-gray-7 {
  background: $gray-7;
}
.msds-bg-gray-8 {
  background: $gray-8;
}
.msds-bg-gray-9 {
  background: $gray-9;
}
.msds-bg-gray-10 {
  background: $gray-10;
}
.msds-bg-white {
  background: $white;
}
.msds-bg-black {
  background: $black;
}
.msds-bg-alt-blue-1 {
  background: $alt-blue-1;
}
.msds-bg-alt-blue-2 {
  background: $alt-blue-2;
}
.msds-bg-alt-blue-3 {
  background: $alt-blue-3;
}
.msds-bg-alt-yellow-1 {
  background: $alt-yellow-1;
}
.msds-bg-alt-yellow-2 {
  background: $alt-yellow-2;
}
.msds-bg-confirm-green {
  background: $confirm-green;
}
.msds-bg-danger-red-1 {
  background: $danger-red-1;
}
.msds-bg-danger-red-2 {
  background: $danger-red-2;
}
.msds-bg-sand {
  background: $sand;
}
.msds-white-50-transparent {
  background: $rgba-7;
}
.msds-white-30-transparent {
  background: $rgba-8;
}
.msds-white-10-transparent {
  background: $rgba-9;
}
.msds-black-30-transparent {
  background: $rgba-10;
}
.msds-black-10-transparent {
  background: $rgba-11;
}
.msds-gray-6-50-transparent {
  background: $rgba-12;
}
.msds-gray-7-50-transparent {
  background: $rgba-4;
}
.msds-gray-8-50-transparent {
  background: $rgba-13;
}
.msds-dark-blue-12-transparent {
  background: $rgba-2;
}
.msds-dark-blue-17-transparent {
  background: $rgba-1;
}
.msds-dark-blue-30-transparent {
  background: $rgba-6;
}
.msds-danger-red-50-transparent {
  background: $rgba-5;
}
.msds-clear-blue-50-transparent {
  background: $rgba-3;
}
.msds-bg-clear-blue-gradient {
  background: $clear-blue-gradient;
}
.msds-bg-dark-blue-gradient {
  background: $dark-blue-gradient;
}
.msds-bg-mixed-blue-gradient {
  background: $mixed-blue-gradient;
}
.msds-bg-yellow-gradient {
  background: $yellow-gradient;
}
.msds-bg-gray-gradient-1 {
  background: $gray-gradient-1;
}
.msds-bg-gray-gradient-2 {
  background: $gray-gradient-2;
}
.msds-bg-gray-gradient-3 {
  background: $gray-gradient-3;
}
.msds-bg-gray-gradient-4 {
  background: $gray-gradient-4;
}
.msds-bg-gray-gradient-5 {
  background: $gray-gradient-5;
}

// Shadows
.msds-shadow-small {
  box-shadow: $shadow-small;
}
.msds-shadow-medium {
  box-shadow: $shadow-medium;
}
.msds-shadow-large {
  box-shadow: $shadow-large;
}
