<div class="color-container" style="background: white; padding: 30px 0 30px 0;">  
  {{#each shadows}}
    <div style="height: 170px; width: 170px; border-radius: 50%;" class="color-square msds-bg-white {{textColor}} {{shadow}}">{{text}}<span class="variable-name">{{scssVarName}}</span></div>
  {{/each}}
</div>
