<div class="color-container">  
  {{#each primaryColors}}
    <div class="color-square {{textColor}} {{backgroundColor}}">{{text}}<span class="variable-name">{{scssVarName}}</span></div>
  {{/each}}
</div>