<div class="row">
    <div class="col-12 col-sm-4 mb-4">
        <div class="d-flex flex-column justify-content-center align-items-center p-6 msds-bg-white-gradient">
            <div class="msds-text-header-3 msds-text-danger-red-2 mb-2">White Gradient</div>
            <div class="msds-text-body-2 msds-text-danger-red-2">msds-bg-white-gradient</div>
        </div>        
    </div>
    <div class="col-12 col-sm-4 mb-4">
        <div class="d-flex flex-column justify-content-center align-items-center p-6 msds-bg-white-gradient-reverse">
            <div class="msds-text-header-3 msds-text-danger-red-2 mb-2">White Gradient Reverse</div>
            <div class="msds-text-body-2 msds-text-danger-red-2">msds-bg-white-gradient-reverse</div>
        </div>        
    </div>
    <div class="col-12 col-sm-4 mb-4">
        <div class="d-flex flex-column justify-content-center align-items-center p-6 msds-bg-gray-gradient-1">
            <div class="msds-text-header-3 msds-text-danger-red-2 mb-2">Gray Gradient 1</div>
            <div class="msds-text-body-2 msds-text-danger-red-2">msds-bg-gray-gradient-1</div>
        </div>        
    </div>
    <div class="col-12 col-sm-4 mb-4">
        <div class="d-flex flex-column justify-content-center align-items-center p-6 msds-bg-gray-gradient-2">
            <div class="msds-text-header-3 msds-text-danger-red-2 mb-2">Gray Gradient 2</div>
            <div class="msds-text-body-2 msds-text-danger-red-2">msds-bg-gray-gradient-2</div>
        </div>        
    </div>
    <div class="col-12 col-sm-4 mb-4">
        <div class="d-flex flex-column justify-content-center align-items-center p-6 msds-bg-gray-gradient-3">
            <div class="msds-text-header-3 msds-text-danger-red-2 mb-2">Gray Gradient 3</div>
            <div class="msds-text-body-2 msds-text-danger-red-2">msds-bg-gray-gradient-3</div>
        </div>        
    </div>
    <div class="col-12 col-sm-4 mb-4">
        <div class="d-flex flex-column justify-content-center align-items-center p-6 msds-bg-gray-gradient-4">
            <div class="msds-text-header-3 msds-text-danger-red-2 mb-2">Gray Gradient 4</div>
            <div class="msds-text-body-2 msds-text-danger-red-2">msds-bg-gray-gradient-4</div>
        </div>        
    </div>
    <div class="col-12 col-sm-4 mb-4">
        <div class="d-flex flex-column justify-content-center align-items-center p-6 msds-bg-gray-gradient-5">
            <div class="msds-text-header-3 msds-text-danger-red-2 mb-2">Gray Gradient 5</div>
            <div class="msds-text-body-2 msds-text-danger-red-2">msds-bg-gray-gradient-5</div>
        </div>        
    </div>
    <div class="col-12 col-sm-4 mb-4">
        <div class="d-flex flex-column justify-content-center align-items-center p-6 msds-bg-gray-gradient-6">
            <div class="msds-text-header-3 msds-text-danger-red-2 mb-2">Gray Gradient 6</div>
            <div class="msds-text-body-2 msds-text-danger-red-2">msds-bg-gray-gradient-6</div>
        </div>        
    </div>
    <div class="col-12 col-sm-4 mb-4">
        <div class="d-flex flex-column justify-content-center align-items-center p-6 msds-bg-gray-gradient-6-reverse">
            <div class="msds-text-header-3 msds-text-danger-red-2 mb-2">Gray Gradient 6 Reverse</div>
            <div class="msds-text-body-2 msds-text-danger-red-2">msds-bg-gray-gradient-6-reverse</div>
        </div>        
    </div>
    <div class="col-12 col-sm-4 mb-4">
        <div class="d-flex flex-column justify-content-center align-items-center p-6 msds-bg-yellow-gradient">
            <div class="msds-text-header-3 msds-text-danger-red-2 mb-2">Yellow Gradient</div>
            <div class="msds-text-body-2 msds-text-danger-red-2">msds-bg-yellow-gradient</div>
        </div>        
    </div>
    <div class="col-12 col-sm-4 mb-4">
        <div class="d-flex flex-column justify-content-center align-items-center p-6 msds-bg-blue-to-yellow-gradient">
            <div class="msds-text-header-3 msds-text-danger-red-2 mb-2">Blue To Yellow Gradient</div>
            <div class="msds-text-body-2 msds-text-danger-red-2">msds-bg-blue-to-yellow-gradient</div>
        </div>        
    </div>
    <div class="col-12 col-sm-4 mb-4">
        <div class="d-flex flex-column justify-content-center align-items-center p-6 msds-bg-clear-blue-gradient">
            <div class="msds-text-header-3 msds-text-danger-red-2 mb-2">Clear Blue Gradient</div>
            <div class="msds-text-body-2 msds-text-danger-red-2">msds-bg-clear-blue-gradient</div>
        </div>        
    </div>
    <div class="col-12 col-sm-4 mb-4">
        <div class="d-flex flex-column justify-content-center align-items-center p-6 msds-bg-clear-blue-gradient-2">
            <div class="msds-text-header-3 msds-text-danger-red-2 mb-2">Clear Blue Gradient 2</div>
            <div class="msds-text-body-2 msds-text-danger-red-2">msds-bg-clear-blue-gradient-2</div>
        </div>        
    </div>
    <div class="col-12 col-sm-4 mb-4">
        <div class="d-flex flex-column justify-content-center align-items-center p-6 msds-bg-clear-blue-gradient-2-reverse">
            <div class="msds-text-header-3 msds-text-danger-red-2 mb-2">Clear Blue Gradient 2 Reverse</div>
            <div class="msds-text-body-2 msds-text-danger-red-2">msds-bg-clear-blue-gradient-2-reverse</div>
        </div>        
    </div>
    <div class="col-12 col-sm-4 mb-4">
        <div class="d-flex flex-column justify-content-center align-items-center p-6 msds-bg-dark-blue-gradient">
            <div class="msds-text-header-3 msds-text-danger-red-2 mb-2">Dark Blue Gradient</div>
            <div class="msds-text-body-2 msds-text-danger-red-2">msds-bg-dark-blue-gradient</div>
        </div>        
    </div>
    <div class="col-12 col-sm-4 mb-4">
        <div class="d-flex flex-column justify-content-center align-items-center p-6 msds-bg-dark-blue-gradient-2">
            <div class="msds-text-header-3 msds-text-danger-red-2 mb-2">Dark Blue Gradient 2</div>
            <div class="msds-text-body-2 msds-text-danger-red-2">msds-bg-dark-blue-gradient-2</div>
        </div>        
    </div>
    <div class="col-12 col-sm-4 mb-4">
        <div class="d-flex flex-column justify-content-center align-items-center p-6 msds-bg-dark-blue-gradient-2-reverse">
            <div class="msds-text-header-3 msds-text-danger-red-2 mb-2">Dark Blue Gradient 2 Reverse</div>
            <div class="msds-text-body-2 msds-text-danger-red-2">msds-bg-dark-blue-gradient-2-reverse</div>
        </div>        
    </div>
    <div class="col-12 col-sm-4 mb-4">
        <div class="d-flex flex-column justify-content-center align-items-center p-6 msds-bg-mixed-blue-gradient">
            <div class="msds-text-header-3 msds-text-danger-red-2 mb-2">Mixed Blue Gradient</div>
            <div class="msds-text-body-2 msds-text-danger-red-2">msds-bg-mixed-blue-gradient</div>
        </div>        
    </div>
    <div class="col-12 col-sm-4 mb-4">
        <div class="d-flex flex-column justify-content-center align-items-center p-6 msds-bg-husky-dark-blue-gradient">
            <div class="msds-text-header-3 msds-text-danger-red-2 mb-2">Husky Dark Blue Gradient</div>
            <div class="msds-text-body-2 msds-text-danger-red-2">msds-bg-husky-dark-blue-gradient</div>
        </div>        
    </div>
</div>