<div class="row">
    <div class="col-12 col-sm-4 mb-4">
        <div class="d-flex flex-column justify-content-center align-items-center p-6 msds-bg-white">
            <div class="msds-text-header-3 msds-text-danger-red-2 mb-2">White</div>
            <div class="msds-text-body-2 msds-text-danger-red-2">msds-bg-white</div>
        </div>        
    </div>
    <div class="col-xs col-sm-4 mb-4">
        <div class="d-flex flex-column justify-content-center align-items-center p-6 msds-bg-gray-1">
            <div class="msds-text-header-3 msds-text-danger-red-2 mb-2">Gray 2</div>
            <div class="msds-text-body-2 msds-text-danger-red-2">msds-bg-gray-1</div>
        </div>
    </div>
    <div class="col-xs col-sm-4 mb-4">
        <div class="d-flex flex-column justify-content-center align-items-center p-6 msds-bg-gray-3">
            <div class="msds-text-header-3 msds-text-danger-red-2 mb-2">Gray 3</div>
            <div class="msds-text-body-2 msds-text-danger-red-2">msds-bg-gray-3</div>
        </div>
    </div>
    <div class="col-xs col-sm-4 mb-4">
        <div class="d-flex flex-column justify-content-center align-items-center p-6 msds-bg-gray-4">
            <div class="msds-text-header-3 msds-text-danger-red-2 mb-2">Gray 4</div>
            <div class="msds-text-body-2 msds-text-danger-red-2">msds-bg-gray-4</div>
        </div>
    </div>
    <div class="col-xs col-sm-4 mb-4">
        <div class="d-flex flex-column justify-content-center align-items-center p-6 msds-bg-gray-5">
            <div class="msds-text-header-3 msds-text-danger-red-2 mb-2">Gray 5</div>
            <div class="msds-text-body-2 msds-text-danger-red-2">msds-bg-gray-5</div>
        </div>
    </div>
    <div class="col-xs col-sm-4 mb-4">
        <div class="d-flex flex-column justify-content-center align-items-center p-6 msds-bg-gray-8">
            <div class="msds-text-header-3 msds-text-danger-red-2 mb-2">Gray 8</div>
            <div class="msds-text-body-2 msds-text-danger-red-2">msds-bg-gray-8</div>
        </div>
    </div>
    <div class="col-xs col-sm-4 mb-4">
        <div class="d-flex flex-column justify-content-center align-items-center p-6 msds-bg-gray-9">
            <div class="msds-text-header-3 msds-text-danger-red-2 mb-2">Gray 9</div>
            <div class="msds-text-body-2 msds-text-danger-red-2">msds-bg-gray-9</div>
        </div>
    </div>
    <div class="col-xs col-sm-4 mb-4">
        <div class="d-flex flex-column justify-content-center align-items-center p-6 msds-bg-gray-10">
            <div class="msds-text-header-3 msds-text-danger-red-2 mb-2">Gray 10</div>
            <div class="msds-text-body-2 msds-text-danger-red-2">msds-bg-gray-10</div>
        </div>
    </div>
    <div class="col-xs col-sm-4 mb-4">
        <div class="d-flex flex-column justify-content-center align-items-center p-6 msds-bg-yellow">
            <div class="msds-text-header-3 msds-text-danger-red-2 mb-2">Milestone Yellow</div>
            <div class="msds-text-body-2 msds-text-danger-red-2">msds-bg-yellow</div>
        </div>
    </div>
    <div class="col-xs col-sm-4 mb-4">
        <div class="d-flex flex-column justify-content-center align-items-center p-6 msds-bg-clear-blue">
            <div class="msds-text-header-3 msds-text-danger-red-2 mb-2">Milestone Clear Blue</div>
            <div class="msds-text-body-2 msds-text-danger-red-2">msds-bg-clear-blue</div>
        </div>
    </div>
    <div class="col-xs col-sm-4 mb-4">
        <div class="d-flex flex-column justify-content-center align-items-center p-6 msds-bg-dark-blue">
            <div class="msds-text-header-3 msds-text-danger-red-2 mb-2">Milestone Dark Blue</div>
            <div class="msds-text-body-2 msds-text-danger-red-2">msds-bg-dark-blue</div>
        </div>
    </div>
    <div class="col-xs col-sm-4 mb-4">
        <div class="d-flex flex-column justify-content-center align-items-center p-6 msds-bg-orange">
            <div class="msds-text-header-3 msds-text-danger-red-2 mb-2">Orange</div>
            <div class="msds-text-body-2 msds-text-danger-red-2">msds-bg-orange</div>
        </div>
    </div>
    <div class="col-xs col-sm-4 mb-4">
        <div class="d-flex flex-column justify-content-center align-items-center p-6 msds-bg-dusty-green">
            <div class=" msds-text-header-3 msds-text-danger-red-2 mb-2">Dusty Green</div>
            <div class="msds-text-body-2 msds-text-danger-red-2">msds-bg-dusty-green</div>
        </div>
    </div>
    <div class="col-xs col-sm-4 mb-4">
        <div class="d-flex flex-column justify-content-center align-items-center p-6 msds-bg-husky-dark-blue">
            <div class="msds-text-header-3 msds-text-danger-red-2 mb-2">Husky Dark Blue</div>
            <div class="msds-text-body-2 msds-text-danger-red-2">msds-bg-husky-dark-blue</div>
        </div>
    </div>
</div>
