<div class="col-6">
    <div class="msds-radio-button">
        <input class="msds-radio-button__input" id="focused-radio-button" type="radio">
        <label class="msds-radio-button__label msds-text-body-1 msds-text-gray-10" for="focused-radio-button">
            Focus
        </label>
    </div>
</div>