<form class="msds-forms">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="msds-radio-button">
                    <input class="msds-radio-button__input" id="defaul-radio-button" type="radio" name="radio-button-group">
                    <label class="msds-radio-button__label msds-text-body-1 msds-text-gray-10" for="defaul-radio-button">
                        Default one
                    </label>
                </div>
                <div class="msds-radio-button">
                    <input class="msds-radio-button__input" id="defaul-radio-button-two" type="radio" name="radio-button-group">
                    <label class="msds-radio-button__label msds-text-body-1 msds-text-gray-10" for="defaul-radio-button-two">
                        Default two
                    </label>
                </div>
            </div>
        </div>
    </div>
</form>