<div class="col-6">
    <div class="msds-radio-button">
        <input class="msds-radio-button__input" id="disabled-radio-button" type="radio" disabled>
        <label class="msds-radio-button__label msds-text-body-1 msds-text-gray-10" for="disabled-radio-button">
            Disabled
        </label>
    </div>
</div>