<div class="col-6">
    <div class="msds-radio-button">
        <input class="msds-radio-button__input" id="checked-radio-button" type="radio" checked>
        <label class="msds-radio-button__label msds-text-body-1 msds-text-gray-10" for="checked-radio-button">
            Selected
        </label>
    </div>
</div>