<div class="col-6">
    <div class="msds-radio-button">
        <input class="msds-radio-button__input msds-radio-button__readonly" id="readonly-radio-button" tabindex="-1"
            type="radio" checked>
        <label class="msds-radio-button__label msds-text-body-1 msds-text-gray-10" for="readonly-radio-button">
            Readonly
        </label>
    </div>
</div>