<div class="row card-row">
    <div class="col-12 col-md-4">
        <div
            class="msds-generic-card msds-generic-card--vertical-aligned msds-generic-card--dark-theme msds-generic-card--svg">
            <a href="#" class="msds-generic-card--link">
                <div class="msds-generic-card__frame embed-responsive embed-responsive-2by1 msds-bg-gray-gradient-1">
                    <div class="msds-generic-card__frame-image embed-responsive-item msds-no-backup"></div>
                </div>
                <div class="msds-generic-card__body">
                    <h3 class="msds-generic-card__body-heading">
                        {{card.placeholderHeading}}
                    </h3>
                    <p class="msds-generic-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>