<div class="col-12 col-md-5">
    <div id="input-not-required" class="msds-select-input">
        <select name="color" class="msds-select-input__select" aria-placeholder="test">
        </select>
        <div class="msds-select-input__icon">
            <svg title="flat-icon">
                <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
            </svg>
        </div>
        <div class="msds-select-input__validation-msg msds-text-body-4 msds-text-danger-red-1"></div>
    </div>
</div>