
<div class="container">  
  <h1>Progress Bar</h1>                  
  <div class="row">    
    <div class="col-6">
      <h3>Large Version (default)</h3>
      <div id="ProgressBarSize1" class="msds-progress-bar">
        <span class="msds-progress-bar__progression-counter"></span>
        <div class="msds-progress-bar__base-bar">
          <div class="msds-progress-bar__progression-bar"></div>
        </div>
      </div>
    </div>          
  </div>
  <br />  
  <div class="row">    
    <div class="col-6">
      <h3>Small Version</h3>
      <div id="ProgressBarSize2" class="msds-progress-bar msds-progress-bar--small">
        <span class="msds-progress-bar__progression-counter"></span>
        <div class="msds-progress-bar__base-bar">
          <div class="msds-progress-bar__progression-bar"></div>
        </div>
      </div>          
    </div>            
  </div>  
</div>
<script>
  //Progress bar Size scripts------------------
  const progressBarSize1El = document.getElementById("ProgressBarSize1");
  if(progressBarSize1El) {
    const progressBarSize1 = Object.create(window.msdsProgressBar);
    progressBarSize1.init("ProgressBarSize1", 5, 2); //Initialize the progress bar with 5 steps.
  }    
          
  const progressBarSize2El = document.getElementById("ProgressBarSize2");
  if(progressBarSize2El) {
    //Set the progress bar to a specific step by default.
    const progressBarSize2 = Object.create(window.msdsProgressBar);      
    progressBarSize2.init("ProgressBarSize2", 5, 3); //Initialize the progress bar with 5 steps.
  }
</script>
<style>
  #ProgressBarSize1 .msds-progress-bar__progression-bar {
    width: 40%;
  }

  #ProgressBarSize2 .msds-progress-bar__progression-bar {
    width: 60%;
  }
</style>