<div class="container">  
  <h1>Progress Bar</h1>                  
  <div class="row">    
    <div class="col-6">
      <h3>By default the progress bar will start from 0</h3>
      <div id="ProgressBarFeatures1" class="msds-progress-bar">
        <span class="msds-progress-bar__progression-counter"></span>
        <div class="msds-progress-bar__base-bar">
          <div class="msds-progress-bar__progression-bar"></div>
        </div>
      </div>
    </div>          
  </div>
  <br />  
  <div class="row">    
    <div class="col-6">
      <h3>when "StartFromOne" variable is set to true, it will start from 1</h3>
      <div id="ProgressBarFeatures2" class="msds-progress-bar">
        <span class="msds-progress-bar__progression-counter"></span>
        <div class="msds-progress-bar__base-bar">
          <div class="msds-progress-bar__progression-bar"></div>
        </div>
      </div>          
    </div>            
  </div>  
  <br /> 
  <div class="row">    
    <div class="col-6">
      <h3>We can specifically set a step to the progress bar.</h3>
      <div id="ProgressBarFeatures3" class="msds-progress-bar">
        <span class="msds-progress-bar__progression-counter"></span>
        <div class="msds-progress-bar__base-bar">
          <div class="msds-progress-bar__progression-bar"></div>
        </div>
      </div>          
    </div>            
  </div>  
</div>
<script>
  //Progress Bar Features scripts------------------    
  const progressBarFeatures1El = document.getElementById("ProgressBarFeatures1");
  if(progressBarFeatures1El) {
    //Initialize the progress bar with 5 steps starting form the default value 0.
    const progressBarFeatures1 = Object.create(window.msdsProgressBar);
    progressBarFeatures1.init("ProgressBarFeatures1", 5, 0);
  }
      
  const progressBarFeatures2El = document.getElementById("ProgressBarFeatures2");
    if(progressBarFeatures2El) {
    //Initialize the progress bar with 5 steps starting form the 1.
    const progressBarFeatures2 = Object.create(window.msdsProgressBar);
    progressBarFeatures2.startFromOne = true; //Set "StartFromOne" variable to true.
    progressBarFeatures2.init("ProgressBarFeatures2", 5, 0); //Initialize the progress bar with 5 steps.
  }

  const progressBarFeatures3El = document.getElementById("ProgressBarFeatures3");
  if(progressBarFeatures3El) {
    //Set the progress bar to a specific step.
    const progressBarFeatures3 = Object.create(window.msdsProgressBar);
    progressBarFeatures3.init("ProgressBarFeatures3", 5, 3); //Initialize the progress bar with 5 steps.
  }
</script>
<style>
  #ProgressBarFeatures2 .msds-progress-bar__progression-bar {
    width: 20%;
  }

  #ProgressBarFeatures3 .msds-progress-bar__progression-bar {
    width: 60%;
  }
</style>