<div class="container">        
  <h1>Progress Bar</h1>     
  <div class="row">
    <div class="col-6">
      <div id="ProgressBarDefinition" class="msds-progress-bar">
        <span class="msds-progress-bar__progression-counter"></span>
        <div class="msds-progress-bar__base-bar">
          <div class="msds-progress-bar__progression-bar"></div>
        </div>
      </div>
    </div>
  </div>           
</div>
<script>
  //Progress bar Global Definition------------------
  //Initialize the progress bar with the element id, a progression of 5 steps and set a specific progression step by default          
  const ProgressBarDefinitionElement = document.getElementById("ProgressBarDefinition");
  if(ProgressBarDefinitionElement) {
    const ProgressBarDefinition = Object.create(window.msdsProgressBar);
    ProgressBarDefinition.init("ProgressBarDefinition", 5, 2);
  }
</script>
<style>
  #ProgressBarDefinition .msds-progress-bar__progression-bar {
    width: 40%;
  }
</style>