<div class="container">
  <div class="row">
    <div class="col-12">        
      <h1>Progress Bar</h1>
      <h2>Light Theme</h2>      
      <div class="row">          
          <div class="col-8">
            <div id="LightThemeProgressBar" class="msds-progress-bar">
              <span class="msds-progress-bar__progression-counter"></span>
              <div class="msds-progress-bar__base-bar">
                <div class="msds-progress-bar__progression-bar"></div>
              </div>
            </div>
          </div>
      </div>           
      <br /><br /><br />
      <div class="progress-element">                    
        <div class="basenumber">
            <label>Base number </label>
            <input id="LightThemeBaseNumber" type="number" value="5" >                            
        </div>
        <div id="LightThemePrevStep" class="prevStep"><</div>
        <div id="LightThemeNextStep" class="nextStep">></div>
        <input id="LightThemeStartFromOne" type="checkbox" name="LightThemeStartFromOne" />
        <label for="LightThemeStartFromOne">Start from 1</label>
      </div>      
    </div>
  </div>
</div>
<style> 
  .progress-element {
    text-align: center;
  }  

  .progress-element .basenumber {    
    display: inline-block;  
    vertical-align: text-bottom;  
  }
  
  .progress-element .basenumber input {    
    width: 50px;
  }

  .progress-element .prevStep, 
  .progress-element .nextStep {
    width: 20px;
    height: 21px;
    background: #303436;
    color: #fff;
    display: inline-block;
    vertical-align: text-bottom;
    cursor: pointer;
    line-height: 20px;
    user-select: none;
  }
</style>