<div class="container">
  <div class="row">
    <div class="col-12">        
      <h1>Progress Bar</h1>
      <h2>Dark Theme</h2>      
      <div class="row">          
          <div class="col-8">
            <div id="DarkThemeProgressBar" class="msds-progress-bar msds-progress-bar--dark">
              <span class="msds-progress-bar__progression-counter"></span>
              <div class="msds-progress-bar__base-bar">
                <div class="msds-progress-bar__progression-bar"></div>
              </div>
            </div>
          </div>
      </div>      
    </div>
  </div>
</div>
{{!-- <script>
  //Dark Theme scripts------------------        
  //Initialize the progress bar with 12 steps.    
  const darkThemeProgressBarEl = document.getElementById("DarkThemeProgressBar");
  if(darkThemeProgressBarEl) {
    const darkThemeProgressBar = Object.create(window.msdsProgressBar);      
    darkThemeProgressBar.init("DarkThemeProgressBar", 12, 0);  
  }
</script>
<style>
  .dark-theme {
    background: linear-gradient(90deg, #035d88 0%, #0099da 100%) !important;
  }
  .dark-theme h1{
    color: #ffffff;
  }
  .dark-theme h2{
    color: #ffffff;
  }
  #DarkThemeProgressBar .msds-progress-bar__progression-bar {
    width: 41.6667%;
  }
</style> --}}