<div class="row">
  <div class="col-4">
    <h3>Large</h3>
    <button type="button" class="msds-btn msds-btn--primary-dark msds-btn--lg" disabled>Disabled dark</button>
  </div>
  <div class="col-4">
    <h3>Medium (default)</h3>
    <button type="button" class="msds-btn msds-btn--secondary-dark" disabled>Disabled dark</button>
  </div>
  <div class="col-4">
    <h3>Small</h3>
    <button type="button" class="msds-btn msds-btn--danger-dark msds-btn--sm" disabled>Disabled dark</button>
  </div>
</div>

