<div class="row">
  <div class="col-4">
    <h3>Large</h3>
    <button type="button" class="msds-btn msds-btn--danger-dark msds-btn--lg">Danger dark</button>
  </div>
  <div class="col-4">
    <h3>Medium (default)</h3>
    <button type="button" class="msds-btn msds-btn--danger-dark">Danger dark</button>
  </div>
  <div class="col-4">
    <h3>Small</h3>
    <button type="button" class="msds-btn msds-btn--danger-dark msds-btn--sm">Danger dark</button>
  </div>
</div>

