<div class="row">
  <div class="col-4">
    <h3>Large</h3>
    <button type="button" class="msds-btn msds-btn--secondary-dark msds-btn--lg ">
        Read more
        <div class="msds-icon"><svg><use href="{{ path '/msds-spritemap.svg' }}#publish" /></svg></div>
      </button>
  </div>
  <div class="col-4">
    <h3>Medium (default)</h3>
    <button type="button" class="msds-btn msds-btn--secondary-dark ">
        Read more
        <div class="msds-icon"><svg><use href="{{ path '/msds-spritemap.svg' }}#publish" /></svg></div>
      </button>
  </div>
  <div class="col-4">
    <h3>Small</h3>
    <button type="button" class="msds-btn msds-btn--secondary-dark msds-btn--sm ">
        Read more
        <div class="msds-icon"><svg><use href="{{ path '/msds-spritemap.svg' }}#publish" /></svg></div>
      </button>
  </div>
</div>