.msds-container-contact-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  background: $white;
  padding-top: 22px;
  padding-bottom: 32px;
  box-shadow: $shadow-small;

  &--small {
    padding-top: 24px;
    padding-bottom: 32px;
    justify-content: flex-start;

    .msds-container-contact-card__body-contact-position {
      margin-bottom: 12px;
    }

    .msds-container-contact-card__caption {
      max-width: 146px;
      max-height: 146px;
      margin: 0 auto;
      z-index: 2;
    }
  }

  &__body {
    padding-left: 20px;
    padding-right: 20px;
  }

  &--without-image {
    padding-top: 0px;
    text-align: left;

    .msds-container-contact-card__headline {
      display: flex;
      text-align: center;
      background: $gray-3;
      margin: 0px;
      padding: 20px 20px 32px 20px;
      height: 72px;
    }

    .msds-container-contact-card__body {
      padding-top: 25px;
    }

    .msds-container-contact-card__body-contact-person {
      margin-bottom: 8px;
    }

    .msds-container-contact-card__body-contact-position {
      margin-bottom: 12px;
    }

    .msds-container-contact-card__body-contact-details {
      display: block;
    }

    .msds-container-contact-card__overlay {
      display: none;
    }
  }

  &--small-without-image {
    padding-top: 0px;
    text-align: left;

    .msds-container-contact-card__headline {
      display: flex;
      text-align: center;
      background: $gray-3;
      margin: 0px;
      padding: 12px 16px 32px;
      height: 56px;
    }

    .msds-container-contact-card__body {
      padding-top: 20px;
      padding-left: 16px;
      padding-right: 16px;
    }

    .msds-container-contact-card__body-contact-person {
      margin-bottom: 8px;
    }

    .msds-container-contact-card__body-contact-position {
      margin-bottom: 12px;
    }

    .msds-container-contact-card__body-contact-details {
      display: block;
    }

    .msds-container-contact-card__overlay {
      display: none;
    }
  }

  &__headline {
    color: $gray-10;
    margin-bottom: 16px;
    z-index: 2;
    @include msds-font('header-3');
  }

  &__body-contact-person {
    color: $gray-10;
    margin-bottom: 8px;
    @include msds-font('header-4');
  }

  &__body-contact-position {
    @include msds-font('body-1');
    color: $gray-8;
    margin-bottom: 24px;
  }

  &__body-contact-details {
    color: $clear-blue;
    @include msds-font('body-1');
    display: table;
    margin: 0 auto;

    .msds-container-contact-card__body-contact-details-wrapper {
      display: table-cell;
      text-align: left;
    }

    .msds-container-contact-card__icon {
      fill: $clear-blue;
      width: 15px;
      height: 11px;
      margin-right: 25px;
    }

    .msds-container-contact-card__link {
      color: $clear-blue;
      display: block;
      text-decoration: none;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__caption {
    max-width: 186px;
    max-height: 186px;
    margin: 0 auto 16px;
    z-index: 2;
  }

  &__caption-image {
    height: 100%;
    width: 100%;
    border: 8px solid rgba(2, 56, 82, 0.12);
  }

  &__overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 157px;
    background: $gray-3;
    z-index: 1;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .msds-container-contact-card__caption {
    max-width: 146px;
    max-height: 146px;
  }

  .msds-container-contact-card--small {
    .msds-container-contact-card__icon {
      margin-right: 15px;
    }
  }
}

@media (max-width: 768px) {
  .msds-container-contact-card {
    margin-bottom: 20px;
  }
}
