.msds-category-card {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 2px 0 rgba(2, 56, 82, 0.3);
  overflow-wrap: break-word;

  @keyframes rotate-clockwise {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  &:hover {
    .msds-category-card__header {
      color: $yellow;
    }
    .msds-category-card__header-icon {
      animation: rotate-clockwise 1 forwards 0.3s;
    }
  }

  &:active {
    .msds-category-card {
      overflow: visible;
    }
    .msds-category-card__header {
      box-shadow: inset 0 -1px 0 0 #0175a6, 0 0 0 4px $rgba-3;
    }

    .msds-category-card__content {
      border-top: 4px solid rgba(0, 153, 218, 0.5);
    }
  }

  &:focus {
    .msds-category-card__header {
      box-shadow: inset 0 -1px 0 0 #0175a6, 0 0 0 4px rgba(0, 153, 218, 0.5);
      border-radius: 2px 2px 0 0;
      &-body {
        color: $white;
      }
    }
  }

  &--small {
    .msds-category-card__header {
      &-body {
        padding: 16px 12px 16px 16px;
      }

      &-icon-container {
        padding-right: 12px;
      }

      &-icon {
        margin: 20px 0px 0px;
      }
    }

    .msds-category-card__content {
      &-body {
        padding: 20px 16px 32px;
      }
    }
  }

  &--dark {
    box-shadow: none;

    .msds-category-card__header {
      background: $rgba-10;
      &:active {
        box-shadow: 0 0 0 4px $rgba-7, $shadow-large;
      }
    }

    .msds-category-card__content {
      background: $rgba-11;

      &-body {
        color: $white;
      }
    }
  }

  &--disabled {
    pointer-events: none;
    .msds-category-card__header {
      background: $gray-4;
      position: relative;
      color: $gray-7;
      overflow: hidden;
    }

    .msds-category-card__header-icon {
      fill: $gray-7;
    }

    .msds-category-card__content-body {
      color: $gray-7;
    }

    &:hover {
      cursor: unset;
      .msds-category-card__header {
        color: $gray-7;
      }
    }

    &:active {
      .msds-category-card__header {
        box-shadow: unset;
      }
    }

    &.msds-category-card--dark {
      .msds-category-card__header {
        background: $rgba-10;
      }

      .msds-category-card__header-icon {
        fill: $rgba-7;
      }

      .msds-category-card__content {
        background: $rgba-11;
      }

      .msds-category-card__content-body {
        color: $white;
      }

      &:hover {
        .msds-category-card__header {
          color: $white;
        }
      }
    }
  }

  &__link {
    text-decoration: none;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    color: $white;
    @include msds-font('header-4');
    background: linear-gradient(90deg, $alt-blue-2 0%, $clear-blue 100%);
    border-radius: 2px 2px 0 0;

    &:active {
      .msds-category-card__header {
        box-shadow: inset 0 -1px 0 0 #0175a6, 0 0 0 4px $rgba-3;
      }
    }
  }

  &__header-body {
    padding: 24px 16px 24px 18px;
    width: 90%;
    height: fit-content;
  }

  &__header-icon-container {
    position: relative;
    overflow: hidden;
    width: 32px;
    height: auto;
  }

  &__header-icon {
    fill: $yellow;
    width: 16px;
    height: 16px;
    margin: 30px 0px 0px;
  }

  &__content {
    @include msds-font('body-1');
    border-radius: 2px;
    background-color: $white;
    border-radius: 0 0 2px 2px;
    border-top: 4px solid transparent;

    &-body {
      padding: 20px 20px 32px 20px;
      color: $gray-9;
    }
  }
}
