<h2>Below is an attempt to illustrate the different spacers.</h2>
<p>The spacer is the distance between the 2 elements, for more info go to component documentation or <a href="https://getbootstrap.com/docs/4.3/utilities/spacing/">Bootstrap documentation on spacing</a> </p>
<div><div class="spacing-preview msds-bg-clear-blue mr-1">mr-1</div><div class="spacing-preview msds-bg-yellow">end</div></div>
<div><div class="spacing-preview msds-bg-clear-blue mr-2">mr-2</div><div class="spacing-preview msds-bg-yellow">end</div></div>
<div><div class="spacing-preview msds-bg-clear-blue mr-3">mr-3</div><div class="spacing-preview msds-bg-yellow">end</div></div>
<div><div class="spacing-preview msds-bg-clear-blue mr-4">mr-4</div><div class="spacing-preview msds-bg-yellow">end</div></div>
<div><div class="spacing-preview msds-bg-clear-blue mr-5">mr-5</div><div class="spacing-preview msds-bg-yellow">end</div></div>
<div><div class="spacing-preview msds-bg-clear-blue mr-6">mr-6</div><div class="spacing-preview msds-bg-yellow">end</div></div>
<div><div class="spacing-preview msds-bg-clear-blue mr-7">mr-7</div><div class="spacing-preview msds-bg-yellow">end</div></div>
<div><div class="spacing-preview msds-bg-clear-blue mr-8">mr-8</div><div class="spacing-preview msds-bg-yellow">end</div></div>
<div><div class="spacing-preview msds-bg-clear-blue mr-9">mr-9</div><div class="spacing-preview msds-bg-yellow">end</div></div>
<div><div class="spacing-preview msds-bg-clear-blue mr-10">mr-10</div><div class="spacing-preview msds-bg-yellow">end</div></div>
<div><div class="spacing-preview msds-bg-clear-blue mr-11">mr-11</div><div class="spacing-preview msds-bg-yellow">end</div></div>
<div><div class="spacing-preview msds-bg-clear-blue mr-12">mr-12</div><div class="spacing-preview msds-bg-yellow">end</div></div>
<div><div class="spacing-preview msds-bg-clear-blue mr-13">mr-13</div><div class="spacing-preview msds-bg-yellow">end</div></div>
<div><div class="spacing-preview msds-bg-clear-blue mr-14">mr-14</div><div class="spacing-preview msds-bg-yellow">end</div></div>
<div><div class="spacing-preview msds-bg-clear-blue mr-15">mr-15</div><div class="spacing-preview msds-bg-yellow">end</div></div>
