<h2>Large Media cards</h2>
<div class="row card-row">
    <div class="col-12 col-md-4">
        <div class="msds-generic-card msds-generic-card--media msds-generic-card--vertical-aligned">
            <a href="#" class="msds-generic-card--link">
                <div class="msds-generic-card__frame embed-responsive embed-responsive-2by1">
                    <img class="msds-generic-card__frame-image embed-responsive-item" src={{card.placeholderImg}}
                        alt="Card image">
                </div>
                <div class="msds-generic-card__body">
                    <p class="mdsds-generic-card__body-text-above-headline">
                        MIPS 2020
                    </p>
                    <h3 class="msds-generic-card__body-heading aspect-2by1">
                        Orchestration - The Future of Open Platforms lorem ipsum dolorem sit malesuada
                    </h3>
                </div>
            </a>

            <div class="msds-generic-card__media-info">
                <div class="msds-generic-card__media-type">
                    <svg class="msds-generic-card__media-icon">
                        <use href="{{ path '/msds-spritemap.svg' }}#article" />
                    </svg>
                    Article
                </div>
                <div class="msds-generic-card__media-duration">
                    <svg class="msds-generic-card__media-icon">
                        <use href="{{ path '/msds-spritemap.svg' }}#clock" />
                    </svg>
                    6 min. read
                </div>
            </div>
        </div>
    </div>
</div>