/***************** MILESTONE DESIGN SYSTEM VARIABLES *****************/
// Colors Definitions ----------------------------------------------------------------------------------------------------------------------------
// Primary Colors
$clear-blue: #0099da;
$dark-blue: #023852;
$yellow: #ffe700;

// Gray, White and Black Colors
$gray-1: #f9f9f9;
$gray-2: #f5f6f7;
$gray-3: #ebeff2;
$gray-4: #dce2e6;
$gray-5: #ced3d7;
$gray-6: #b6bbc0;
$gray-7: #9dadb7;
$gray-8: #7c8b95;
$gray-9: #6d6f71;
$gray-10: #303436;
$white: #ffffff;
$black: #000000;

// Alternative Colors
$alt-blue-1: #50bfee;
$alt-blue-2: #0081c1;
$alt-blue-3: #035d88;
$alt-yellow-1: #ffd300;
$alt-yellow-2: #ffc000;
$confirm-green: #3cc003;
$danger-red-1: #ff285a;
$danger-red-2: #b23b57;
$sand: #9e9d8e;

//RGBA Definitions
$rgba-1: rgba(2, 56, 82, 0.17);
$rgba-2: rgba(2, 56, 82, 0.12);
$rgba-3: rgba(0, 153, 218, 0.5);
$rgba-4: rgba(157, 173, 183, 0.5);
$rgba-5: rgba(255, 40, 90, 0.5);

// Gradients
$clear-blue-gradient: linear-gradient(90deg, $alt-blue-2 0%, $clear-blue 100%);
$dark-blue-gradient: linear-gradient(270deg, $alt-blue-3 0%, $dark-blue 100%);
$mixed-blue-gradient: linear-gradient(90deg, $alt-blue-3 20%, $clear-blue 80%);
$yellow-gradient: linear-gradient(90deg, $alt-yellow-1 0%, $yellow 100%);
$gray-gradient-1: linear-gradient(90deg, $gray-3 0%, $white 100%);
$gray-gradient-2: linear-gradient(90deg, $gray-2 0%, $gray-1 100%);
$gray-gradient-3: linear-gradient(90deg, $gray-3 0%, $gray-2 100%);
$gray-gradient-4: linear-gradient(90deg, $gray-4 0%, $gray-3 100%);
$gray-gradient-5: linear-gradient(90deg, $gray-5 0%, $gray-4 100%);

// Shadows
$shadow-small: 0 1px 2px rgba(2, 56, 82, 0.17);
$shadow-medium: 0 2px 12px rgba(2, 56, 82, 0.17);
$shadow-large: 0 12px 36px 0 rgba(2, 56, 82, 0.12);

/***************** BOOTSTRAP CONFIGURATION VARIABLES *****************/
$grid-gutter-width: 20px;
$spacers: (
  1: 4px,
  2: 8px,
  3: 12px,
  4: 16px,
  5: 20px,
  6: 24px,
  7: 32px,
  8: 40px,
  9: 48px,
  10: 64px,
  11: 80px,
  12: 96px,
  13: 112px,
  14: 160px
);

$embed-responsive-aspect-ratios: ((16 9), (2 1));
$enable-responsive-font-sizes: true;
$rfs-factor: 4;

//Global typography
$font-size-base: 1rem;
$font-size-sm: $font-size-base * 0.875;
$font-size-lg: $font-size-base * 1.25;

$line-height-lg: 1.25;
$line-height-sm: 0.95;

$border-width: 1px;
$border-radius: 0.125rem; //2px
$border-radius-lg: 0.125rem;
$border-radius-sm: 0.125rem;

$component-active-bg: $clear-blue;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.
$label-margin-bottom: 0.5rem;
$input-btn-padding-y: 0.638rem; //0.6875rem; //.375rem;
$input-btn-padding-x: 3rem; //.75rem;
$input-btn-font-family: null;
$input-btn-font-size: $font-size-base;
$input-btn-line-height: 1.375;

$input-btn-focus-width: 0.2rem;
$input-btn-focus-color: rgba($component-active-bg, 0.25);
$input-btn-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color;

$input-btn-padding-y-sm: 0.5875rem; //0.6875rem;
$input-btn-padding-x-sm: 1.5rem;
$input-btn-font-size-sm: $font-size-sm;
$input-btn-line-height-sm: $line-height-sm;

$input-btn-padding-y-lg: 1.05rem; //1.09375rem; //.5rem;
$input-btn-padding-x-lg: 4.5rem; //1rem;
$input-btn-font-size-lg: $font-size-lg;
$input-btn-line-height-lg: $line-height-lg;

$input-btn-border-width: $border-width;

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.
$btn-padding-y: $input-btn-padding-y; //11px
$btn-padding-x: $input-btn-padding-x; //48px
$btn-font-family: $input-btn-font-family;
$btn-font-size: 0.875rem; //14px
$btn-line-height: $input-btn-line-height; //21px

$btn-padding-y-sm: $input-btn-padding-y-sm; //11px
$btn-padding-x-sm: $input-btn-padding-x-sm; //24px
$btn-font-size-sm: 0.8125rem; //13px
$btn-line-height-sm: $input-btn-line-height-sm; //20px

$btn-padding-y-lg: $input-btn-padding-y-lg; //17.5px
$btn-padding-x-lg: $input-btn-padding-x-lg; //72px
$btn-font-size-lg: 0.875rem; //14px
$btn-line-height-lg: $input-btn-line-height-lg; //21px

$btn-border-width: $input-btn-border-width;

$btn-font-weight: 700;
$btn-box-shadow: inset 0 -1px 0 0 $alt-blue-3, 0 0 0 4px rgba(0, 153, 218, 0.5); //by default uses the main blue box shadow
$btn-focus-width: $input-btn-focus-width;
$btn-focus-box-shadow: $input-btn-focus-box-shadow;

$btn-disabled-opacity: 1;

$btn-link-disabled-color: $gray-4;

$btn-block-spacing-y: 1.5rem; //.5rem ;

// Allows for customizing button radius independently from global border radius
$btn-border-radius: $border-radius; //2px
$btn-border-radius-lg: $border-radius-lg; //2px
$btn-border-radius-sm: $border-radius-sm; //2px

$btn-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
  box-shadow 0.15s ease-in-out;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold: 150 !default;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark: $gray-9;
$yiq-text-light: $white;
