<div class="row">
  <div class="col-4">
    <h3>Large</h3>
    <button type="button" class="msds-btn msds-btn--danger msds-btn--lg">Read more</button>
  </div>
  <div class="col-4">
    <h3>Medium (default)</h3>
    <button type="button" class="msds-btn msds-btn--danger">Read more</button>
  </div>
  <div class="col-4">
    <h3>Small</h3>
    <button type="button" class="msds-btn msds-btn--danger msds-btn--sm">Read more</button>
  </div>
</div>