<div class="row">
  <div class="col-4">
    <h3>Large</h3>
    <button type="button" class="msds-btn msds-btn--secondary msds-btn--lg msds-btn--icon">
        Read more
        <svg class="msds-icon"><use href="/msds-spritemap.svg#publish" /></svg>
      </button>
  </div>
  <div class="col-4">
    <h3>Medium (default)</h3>
    <button type="button" class="msds-btn msds-btn--secondary msds-btn--icon">
        Read more
        <svg class="msds-icon"><use href="/msds-spritemap.svg#publish" /></svg>
      </button>
  </div>
  <div class="col-4">
    <h3>Small</h3>
    <button type="button" class="msds-btn msds-btn--secondary msds-btn--sm msds-btn--icon">
        Read more
        <svg class="msds-icon"><use href="/msds-spritemap.svg#publish" /></svg>
      </button>
  </div>
</div>