<div class="row">
  <div class="col-6">
    <h3>Default alignment (icon aligned right)</h3>
    <button type="button" class="msds-btn msds-btn--primary msds-btn--lg msds-btn--icon">
      Read more
      <svg class="msds-icon"><use href="/msds-spritemap.svg#publish" /></svg>
    </button>
  </div>
  <div class="col-6">
    <h3>Icon aligned left</h3>
    <button type="button" class="msds-btn msds-btn--primary msds-btn--lg msds-btn--icon-left">
      Read more
      <svg class="msds-icon"><use href="/msds-spritemap.svg#publish" /></svg>
    </button>
  </div>          
</div>
