<div class="row">
  <div class="col-4">
    <h3>Hover, Active and Focus states</h3>
    <button type="button" class="msds-btn msds-btn--floating msds-btn--floating">
      <svg class="msds-icon">
        <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
      </svg>
      See more
    </button>
  </div>
  <div class="col-4">
    <h3>Disabled State</h3>
    <button type="button" class="msds-btn msds-btn--floating msds-btn--floating" disabled>
      <svg class="msds-icon">
        <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
      </svg>
      See more
    </button>
  </div>
</div>