.msds-alert {
  position: relative;
  padding: 40px 24px;
  background: $gray-2;
  box-shadow: $shadow-small;
  border-radius: 2px;
  border-left: 4px solid $danger-red-1;
  text-align: center;

  @include media-breakpoint-up(md) {
    padding: 32px 80px 40px 24px;
    text-align: left;
  }

  &__close {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 32px;
    height: 32px;
    opacity: 0.3;

    &:hover {
      opacity: 1;
    }

    &:before,
    &:after {
      position: absolute;
      right: 7px;
      top: 0;
      content: ' ';
      height: 16px;
      width: 2px;
      background-color: $gray-9;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  &__content-container {
    @include media-breakpoint-up(md) {
      display: flex;
    }
  }

  &__image {
    display: block;
    width: 70px;
    height: 90px;
    margin: 0 auto 16px auto;

    @include media-breakpoint-up(md) {
      width: 80px;
      height: 100px;
      margin-left: 46px;
      margin-right: 34px;
    }

    @include media-breakpoint-up(lg) {
      width: 105px;
      height: 130px;
    }
  }

  &__text-container {
    @include media-breakpoint-up(md) {
      margin-left: 56px;
    }
  }

  &__header {
    @include msds-font('header-3');
  }

  &__text {
    @include msds-font('body-2');
    margin-top: 16px;
    margin-bottom: 24px;
  }

  &__action-container {
    @include media-breakpoint-up(md) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-top: -10px;
    }
  }

  &__button {
    // THIS IS JUST PLACERHOLDER STYLING, DELETE THIS ONCE WE HAVE BUTTONS
    // IMPLEMENTED IN THE DESIGN SYSTEM
    height: 36px;
    padding: 0 20px;
    text-transform: uppercase;

    @include media-breakpoint-up(md) {
      margin-top: 10px;
      margin-right: 40px;
    }
  }

  &__checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;

    @include media-breakpoint-up(md) {
      margin-top: 10px;
    }
  }

  &__checkbox {
    height: 16px;
    width: 16px;
    margin-right: 10px;
  }

  &__checkbox-label {
    @include msds-font('body-3');
  }
}
