.msds-alert {
  position: relative;
  padding: 40px 24px;
  box-shadow: $shadow-small;
  border-radius: 2px;
  border-left: 4px solid $danger-red-1;
  text-align: center;

  @include media-breakpoint-up(md) {
    padding: 32px 80px 40px 24px;
    text-align: left;
  }

  @include media-breakpoint-up(xl) {
    padding: 40px 95px 48px 24px;
  }

  &--generic {
    border-color: $clear-blue;
  }

  &__close-click-area {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    right: 16px;
    top: 16px;
    width: 32px;
    height: 32px;

    &:hover {
      .msds-alert__close-icon {
        fill: $gray-9;
      }
    }
  }

  &__close-icon {
    width: 16px;
    height: 16px;
    fill: $gray-8;
    cursor: pointer;
  }

  &__content-container {
    @include media-breakpoint-up(md) {
      display: flex;
    }
  }

  &__image {
    display: block;
    flex-basis: 70px;
    height: 90px;
    margin: 0 auto 16px auto;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;

    @include media-breakpoint-up(md) {
      flex-basis: 80px;
      height: 100px;
      margin-left: 46px;
      margin-right: 34px;
    }

    @include media-breakpoint-up(lg) {
      flex-basis: 105px;
      height: 130px;
      margin-left: 72px;
      margin-right: 64px;
    }

    @include media-breakpoint-up(xl) {
      margin-left: 102px;
      margin-right: 69px;
    }
  }

  &__text-container {
    @include media-breakpoint-up(md) {
      margin-left: 56px;
    }

    @include media-breakpoint-up(xl) {
      margin-left: 71px;
    }
  }

  &__header {
    @extend .msds-text-header-3;
  }

  &__text {
    @extend .msds-text-body-2;
    margin-top: 16px;
    margin-bottom: 24px;
  }

  &__action-container {
    @include media-breakpoint-up(md) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 24px;
    }
  }

  .msds-btn {
    margin-top: 0px;
  }

  &__checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    margin-left: 40px;

    @include media-breakpoint-up(md) {
      margin-top: 0px;
    }
  }

  &__checkbox {
    height: 16px;
    width: 16px;
    margin-right: 10px;
    cursor: pointer;
  }

  &__checkbox-label {
    @extend .msds-text-body-3;
    color: $gray-9;
  }
}
