

<!DOCTYPE html>
<html class="msds-enable-font-family">
	<head>
    <meta charset="utf-8">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,300,400,600,700,800' rel='stylesheet' type='text/css' />
    <link media="all" rel="stylesheet" href="../../rich-icons-bundle.css">
    <link media="all" rel="stylesheet" href="../../main.css">
    <title>Preview Layout</title>
		<script defer src="../../main.js"></script>

    <style>
      body {
        margin: 10px 0 10px 0;
        padding: 0;
        background-color: #fff;
        background-image: linear-gradient(45deg, #eee 25%, transparent 25%), linear-gradient(-45deg, #eee 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #eee 75%), linear-gradient(-45deg, transparent 75%, #eee 75%);
        background-size: 20px 20px;
        background-position: 0 0, 0 10px, 10px -10px, -10px 0;
      }     
      
    </style>
	</head>
	<body>
		<div class="msds-accordion msds-accordion--floating-list-item msds-accordion--dark-yellow">
    <div class="msds-accordion__list-item">
        <input type="checkbox" class="msds-accordion__list-item-input" id="accordion-list-item_overview-medium-icon-left-floating-dark-yellow-1">
        <label class="msds-accordion__list-item-header 
                        msds-accordion__list-item-header--left-icon" 
               for="accordion-list-item_overview-medium-icon-left-floating-dark-yellow-1">
            <span class="msds-accordion__list-item-header-title">Accordion List Overview Item 1 </span>
            <span class="msds-accordion__list-item-header-icon">
                <div class="msds-btn-floating">
                    <svg class="msds-icon msds-icon--unchecked">
                        <use href="../../msds-spritemap.svg#knowledgebase"></use>
                    </svg>
                    <svg class="msds-icon msds-icon--checked">
                        <use href="../../msds-spritemap.svg#cross"></use>
                    </svg>
                </div>
            </span>
        </label>
        <div class="msds-accordion__list-item-body">
            <div class="msds-accordion__list-item-subtitle">
                This is the Accordion List Item 1 long title
            </div>
            <div class="msds-accordion__list-item-description">
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </span>
            </div>
        </div>
    </div>
      <div class="msds-accordion__list-item">
        <input type="checkbox" class="msds-accordion__list-item-input" id="accordion-list-item_overview-medium-icon-left-floating-dark-yellow-2">
        <label class="msds-accordion__list-item-header 
                        msds-accordion__list-item-header--left-icon" 
               for="accordion-list-item_overview-medium-icon-left-floating-dark-yellow-2">
            <span class="msds-accordion__list-item-header-title">Accordion List Overview Item 2 </span>
            <span class="msds-accordion__list-item-header-icon">
                <span class="msds-btn-floating">
                    <svg class="msds-icon msds-icon--unchecked">
                        <use href="../../msds-spritemap.svg#demo"></use>
                    </svg>
                    <svg class="msds-icon msds-icon--checked">
                        <use href="../../msds-spritemap.svg#cross"></use>
                    </svg>
                </span>
            </span>
        </label>
        <div class="msds-accordion__list-item-body">
            <div class="msds-accordion__list-item-subtitle">
                This is the Accordion List Item 1 long title
            </div>
            <div class="msds-accordion__list-item-description">
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </span>
            </div>
        </div>
    </div>
</div>

	</body>
</html>

