

<!DOCTYPE html>
<html class="msds-enable-font-family">
	<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../rich-icons-bundle.css">
    <link media="all" rel="stylesheet" href="../../main.css">
    <title>Dark Preview Layout</title>
		<script defer src="../../main.js"></script>    

    <style>
      body {
        margin: 100px 0 10px 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        background: linear-gradient(90deg, #035d88 0%, #0099da 100%);
        margin-bottom: 20px;
      }

      h1, h2, h3, h4, h5, h6, p{
        color: white;
      }

      
    </style>
	</head>
	<body>
		<div class="container">
  <div class="row card-row">
    <div class="col-12 col-md-4">
      <div class="msds-category-card msds-category-card--dark msds-category-card--disabled">
        <div class="msds-category-card__header">
          <div class="msds-category-card__header-body">Deployment Best Practices</div>
          <div class="msds-category-card__header-icon-container">
            <svg class="msds-category-card__header-icon">
              <use href="../../msds-spritemap.svg#right-arrow" />
            </svg>
          </div>
        </div>
        <div class="msds-category-card__content">
          <div class="msds-category-card__content-body">Ask ideas and share ideas and experiences.</div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="msds-category-card msds-category-card--dark msds-category-card--disabled">
        <div class="msds-category-card__header">
          <div class="msds-category-card__header-body">Deployment Best Practices</div>
          <div class="msds-category-card__header-icon-container">
            <svg class="msds-category-card__header-icon">
              <use href="../../msds-spritemap.svg#right-arrow" />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
	</body>
</html>

