

<!DOCTYPE html>
<html class="msds-enable-font-family">
	<head>
    <meta charset="utf-8">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,300,400,600,700,800' rel='stylesheet' type='text/css' />
    <link media="all" rel="stylesheet" href="../../rich-icons-bundle.css">
    <link media="all" rel="stylesheet" href="../../main.css">
    <title>Preview Layout</title>
		<script defer src="../../main.js"></script>

    <style>
      body {
        margin: 10px 0 10px 0;
        padding: 0;
        background-color: #fff;
        background-image: linear-gradient(45deg, #eee 25%, transparent 25%), linear-gradient(-45deg, #eee 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #eee 75%), linear-gradient(-45deg, transparent 75%, #eee 75%);
        background-size: 20px 20px;
        background-position: 0 0, 0 10px, 10px -10px, -10px 0;
      }     
      
    </style>
	</head>
	<body>
		<div class="container">
  <div class="row card-row">
    <div class="col-12 col-md-4">
      <div class="msds-contact-card msds-contact-card--vertically-aligned">
        <div class="msds-contact-card__overlay"></div>
        <div class="msds-contact-card__headline">
          President &amp; CEO
        </div>
        <div class="msds-contact-card__caption">
          <img class="msds-contact-card__caption-image rounded-circle" src="../../../src/demo-img/contact-card-image.png" alt="Card image">
        </div>
        <div class="msds-contact-card__body">
          <div class="msds-contact-card__body-contact-person">
            Lars Thinggaard
          </div>
          <div class="msds-contact-card__body-contact-position">
            President &amp; CEO, Milestone Systems
          </div>
          <div class="msds-contact-card__body-contact-details">
            <div class="msds-contact-card__body-contact-details-wrapper">
              <a class="msds-contact-card__link" href="#">
                <svg title="email" class="msds-contact-card__icon">
                  <use href="../../msds-spritemap.svg#email" />
                </svg>
                Contact
              </a>
              <a class="msds-contact-card__link" href="#">
                <svg title="linkedin" class="msds-contact-card__icon">
                  <use href="../../msds-spritemap.svg#linkedin" />
                </svg>
                Visit on LinkedIn
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
	</body>
</html>

