

<!DOCTYPE html>
<html class="msds-enable-font-family">
	<head>
    <meta charset="utf-8">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,300,400,600,700,800' rel='stylesheet' type='text/css' />
    <link media="all" rel="stylesheet" href="../../rich-icons-bundle.css">
    <link media="all" rel="stylesheet" href="../../main.css">
    <title>Preview Layout</title>
		<script defer src="../../main.js"></script>

    <style>
      body {
        margin: 10px 0 10px 0;
        padding: 0;
        background-color: #fff;
        background-image: linear-gradient(45deg, #eee 25%, transparent 25%), linear-gradient(-45deg, #eee 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #eee 75%), linear-gradient(-45deg, transparent 75%, #eee 75%);
        background-size: 20px 20px;
        background-position: 0 0, 0 10px, 10px -10px, -10px 0;
      }     
      
    </style>
	</head>
	<body>
		<h1>Cards Dark Theme Aspect 2 by 1</h1>
<div class="row card-row">
    <div class="col-12 col-md-4">
        <div class="msds-generic-card msds-generic-card--vertical-aligned msds-generic-card--dark-theme">
            <a href="#" class="msds-generic-card--link">
                <div class="msds-generic-card__frame embed-responsive embed-responsive-2by1">
                    <img class="msds-generic-card__frame-image embed-responsive-item" src=../../../src/demo-img/xprotect.jpg
                        alt="Card image">
                </div>
                <div class="msds-generic-card__body">
                    <h3 class="msds-generic-card__body-heading">
                        Headline lorem ipsum
                    </h3>
                    <p class="msds-generic-card__body-description">
                        Malesuada vestibulum morbi aliquam commodo. Rhoncus id semper pellentesque. Nibh conseqtetuer eros nullam.
                    </p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="msds-generic-card msds-generic-card--vertical-aligned msds-generic-card--dark-theme">
            <a href="#" class="msds-generic-card--link">
                <div class="msds-generic-card__frame embed-responsive embed-responsive-2by1">
                    <img class="msds-generic-card__frame-image embed-responsive-item" src=../../../src/demo-img/xprotect.jpg
                        alt="Card image">
                </div>
                <div class="msds-generic-card__body">
                    <h3 class="msds-generic-card__body-heading">
                        Headline lorem ipsum
                    </h3>
                    <p class="msds-generic-card__body-description">
                        Malesuada vestibulum morbi aliquam commodo. Rhoncus id semper pellentesque. Nibh conseqtetuer eros nullam.
                    </p>
                </div>
            </a>
        </div>
    </div>

    <div class="col-12 col-md-4">
        <div class="msds-generic-card msds-generic-card--vertical-aligned msds-generic-card--dark-theme">
            <a href="#" class="msds-generic-card--link">
                <div class="msds-generic-card__frame embed-responsive embed-responsive-2by1">
                    <img class="msds-generic-card__frame-image embed-responsive-item" src=../../../src/demo-img/xprotect.jpg
                        alt="Card image">
                </div>
                <div class="msds-generic-card__body">
                    <h3 class="msds-generic-card__body-heading">
                        Headline lorem ipsum
                    </h3>
                    <p class="msds-generic-card__body-description">
                        Malesuada vestibulum morbi aliquam commodo. Rhoncus id semper pellentesque. Nibh conseqtetuer eros nullam.
                    </p>
                </div>
            </a>
        </div>
    </div>

    <div class="col-12 col-md-4">
        <div class="msds-generic-card msds-generic-card--vertical-aligned msds-generic-card--dark-theme">
            <a href="#" class="msds-generic-card--link">
                <div class="msds-generic-card__frame embed-responsive embed-responsive-2by1">
                    <img class="msds-generic-card__frame-image embed-responsive-item" src=../../../src/demo-img/xprotect.jpg
                        alt="Card image">
                </div>
                <div class="msds-generic-card__body">
                    <h3 class="msds-generic-card__body-heading">
                        Headline lorem ipsum
                    </h3>
                    <p class="msds-generic-card__body-description">
                        Malesuada vestibulum morbi aliquam commodo. Rhoncus id semper pellentesque. Nibh conseqtetuer eros nullam.
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>

	</body>
</html>

