

<!DOCTYPE html>
<html class="msds-enable-font-family">
	<head>
    <meta charset="utf-8">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,300,400,600,700,800' rel='stylesheet' type='text/css' />
    <link media="all" rel="stylesheet" href="../../rich-icons-bundle.css">
    <link media="all" rel="stylesheet" href="../../main.css">
    <title>Preview Layout</title>
		<script defer src="../../main.js"></script>

    <style>
      body {
        margin: 10px 0 10px 0;
        padding: 0;
        background-color: #fff;
        background-image: linear-gradient(45deg, #eee 25%, transparent 25%), linear-gradient(-45deg, #eee 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #eee 75%), linear-gradient(-45deg, transparent 75%, #eee 75%);
        background-size: 20px 20px;
        background-position: 0 0, 0 10px, 10px -10px, -10px 0;
      }     
      .spacing-preview {display: inline-block;}
    </style>
	</head>
	<body>
		<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Below is an attempt to illustrate the different spacers.</h2>
            <p>The spacer is the distance between the 2 elements, for more info go to component documentation or <a href="https://getbootstrap.com/docs/4.3/utilities/spacing/">Bootstrap documentation on spacing</a> </p>
            <div><span class="spacing-preview msds-bg-clear-blue mr-1">mr-1</span><span class="spacing-preview msds-bg-yellow">end</span></div>
            <div><span class="spacing-preview msds-bg-clear-blue mr-2">mr-2</span><span class="spacing-preview msds-bg-yellow">end</span></div>
            <div><span class="spacing-preview msds-bg-clear-blue mr-3">mr-3</span><span class="spacing-preview msds-bg-yellow">end</span></div>
            <div><span class="spacing-preview msds-bg-clear-blue mr-4">mr-4</span><span class="spacing-preview msds-bg-yellow">end</span></div>
            <div><span class="spacing-preview msds-bg-clear-blue mr-5">mr-5</span><span class="spacing-preview msds-bg-yellow">end</span></div>
            <div><span class="spacing-preview msds-bg-clear-blue mr-6">mr-6</span><span class="spacing-preview msds-bg-yellow">end</span></div>
            <div><span class="spacing-preview msds-bg-clear-blue mr-7">mr-7</span><span class="spacing-preview msds-bg-yellow">end</span></div>
            <div><span class="spacing-preview msds-bg-clear-blue mr-8">mr-8</span><span class="spacing-preview msds-bg-yellow">end</span></div>
            <div><span class="spacing-preview msds-bg-clear-blue mr-9">mr-9</span><span class="spacing-preview msds-bg-yellow">end</span></div>
            <div><span class="spacing-preview msds-bg-clear-blue mr-10">mr-10</span><span class="spacing-preview msds-bg-yellow">end</span></div>
            <div><span class="spacing-preview msds-bg-clear-blue mr-11">mr-11</span><span class="spacing-preview msds-bg-yellow">end</span></div>
            <div><span class="spacing-preview msds-bg-clear-blue mr-12">mr-12</span><span class="spacing-preview msds-bg-yellow">end</span></div>
            <div><span class="spacing-preview msds-bg-clear-blue mr-13">mr-13</span><span class="spacing-preview msds-bg-yellow">end</span></div>
            <div><span class="spacing-preview msds-bg-clear-blue mr-14">mr-14</span><span class="spacing-preview msds-bg-yellow">end</span></div>
            <div><span class="spacing-preview msds-bg-clear-blue mr-15">mr-15</span><span class="spacing-preview msds-bg-yellow">end</span></div>
        </div>
    </div>
</div>
	</body>
</html>

