

<!DOCTYPE html>
<html class="msds-enable-font-family">
	<head>
    <meta charset="utf-8">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,300,400,600,700,800' rel='stylesheet' type='text/css' />
    <link media="all" rel="stylesheet" href="../../rich-icons-bundle.css">
    <link media="all" rel="stylesheet" href="../../main.css">
    <title>Preview Layout</title>
		<script defer src="../../main.js"></script>

    <style>
      body {
        margin: 10px 0 10px 0;
        padding: 0;
        background-color: #fff;
        background-image: linear-gradient(45deg, #eee 25%, transparent 25%), linear-gradient(-45deg, #eee 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #eee 75%), linear-gradient(-45deg, transparent 75%, #eee 75%);
        background-size: 20px 20px;
        background-position: 0 0, 0 10px, 10px -10px, -10px 0;
      }     
      .spacing-preview {display: inline-block;}
    </style>
	</head>
	<body>
		<div class="msds-bg-clear-blue">    
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="msds-block-padding-large msds-text-white">
                    <div class="msds-text-header-2-bold mb-4">PREVENT. PROTECT. PROVE.</div>
                    <div class="msds-text-body-1">
                        Milestone XProtect® video management software (VMS) brings all the puzzle pieces for video surveillance together in a perfect combination to create a solution that keeps people and property safe today – and tomorrow.
                    </div>                
                </div>
            </div>
        </div>        
    </div>      
</div>
	</body>
</html>

