

<!DOCTYPE html>
<html class="msds-enable-font-family">
	<head>
    <meta charset="utf-8">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,300,400,600,700,800' rel='stylesheet' type='text/css' />
    <link media="all" rel="stylesheet" href="../../rich-icons-bundle.css">
    <link media="all" rel="stylesheet" href="../../main.css">
    <title>Preview Layout</title>
		<script defer src="../../main.js"></script>

    <style>
      body {
        margin: 10px 0 10px 0;
        padding: 0;
        background-color: #fff;
        background-image: linear-gradient(45deg, #eee 25%, transparent 25%), linear-gradient(-45deg, #eee 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #eee 75%), linear-gradient(-45deg, transparent 75%, #eee 75%);
        background-size: 20px 20px;
        background-position: 0 0, 0 10px, 10px -10px, -10px 0;
      }     
      
    </style>
	</head>
	<body>
		<div class="d-inline-block msds-popover msds-popover--left">
    <div class="msds-text-header-1-bold msds-text-clear-blue mb-3">
        Invite a coworker
    </div>
    <div class="msds-text-body-2 msds-text-gray-9 mb-3">
        popover left
    </div>
    <div class="msds-popover__item msds-text-gray-10">
        <div class="msds-popover__content">
            <div class="msds-popover__header mb-4">
                <svg title="icon" class="msds-icon msds-text-alt-blue-1">
                    <use href="../../msds-spritemap.svg#colleague" />
                </svg>
                <div class="ml-2">
                    Invite a coworker
                </div>
            </div>
            <div class="msds-popover__description mb-1">
                <p class="mb-2">
                    Contact one of the below co-workers for permission to add more colleagues.
                </p>
                <p class="mb-2">John Doe</p>
                <p class="mb-2">Jane Doe</p>
                <p class="mb-2">Janie Doe</p>
                <p class="mb-2">Johnny Doe</p>
                <p class="mb-2">John Roe</p>
                <p class="mb-2">Richard Roe</p>
            </div>
        </div>
        <div class="msds-popover__arrow">
        </div>
    </div>
</div>
	</body>
</html>

