

<!DOCTYPE html>
<html class="msds-enable-font-family">
	<head>
    <meta charset="utf-8">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,300,400,600,700,800' rel='stylesheet' type='text/css' />
    <link media="all" rel="stylesheet" href="../../rich-icons-bundle.css">
    <link media="all" rel="stylesheet" href="../../main.css">
    <title>Preview Layout</title>
		<script defer src="../../main.js"></script>

    <style>
      body {
        margin: 10px 0 10px 0;
        padding: 0;
        background-color: #fff;
        background-image: linear-gradient(45deg, #eee 25%, transparent 25%), linear-gradient(-45deg, #eee 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #eee 75%), linear-gradient(-45deg, transparent 75%, #eee 75%);
        background-size: 20px 20px;
        background-position: 0 0, 0 10px, 10px -10px, -10px 0;
      }     
      
    </style>
	</head>
	<body>
		<form class="msds-forms">
    <div class="container">
        <div class="row">
            <div class="col-5">
                <div class="msds-form__input-container">
                    <textarea class="msds-form__input-container-text-area" placeholder="Enter your description*" maxlength="400"
                        type="textarea"></textarea>
                    <label class="msds-form__input-container-text-area-label"
                        for="default-input">Enter your description*</label>
                    <p class="msds-form__input-container-text-area-message">Please be aware that the description should not be longer than 500 characters. <span class="word-count"></span>
                    </p>
                </div>
            </div>

            <div class="col-5">
                <div class="msds-form__input-container">
                    <textarea class="msds-form__input-container-text-area msds-form__input-container-text-area--small"
                        placeholder="Enter your description*" maxlength="400" type="textarea"></textarea>
                    <label class="msds-form__input-container-text-area-label"
                        for="default-input">Enter your description*</label>
                    <p class="msds-form__input-container-text-area-message">Please be aware that the description should not be longer than 500 characters. <span class="word-count"></span>
                    </p>
                </div>
            </div>

            <div class="col-5">
                <div class="msds-form__input-container">
                    <textarea
                        class="msds-form__input-container-text-area msds-form__input-container-text-area--disabled"
                        disabled placeholder="Enter your description*" maxlength="400" type="textarea"></textarea>
                    <label class="msds-form__input-container-text-area-label"
                        for="default-input">Enter your description*</label>
                    <p class="msds-form__input-container-text-area-message">Please be aware that the description should not be longer than 500 characters. <span class="word-count"></span>
                    </p>
                </div>
            </div>

            <div class="col-5">
                <div class="msds-form__input-container">
                    <textarea
                        class="msds-form__input-container-text-area msds-form__input-container-text-area--small msds-form__input-container-text-area--disabled"
                        disabled placeholder="Enter your description*" maxlength="400" type="textarea"></textarea>
                    <label class="msds-form__input-container-text-area-label"
                        for="default-input">Enter your description*</label>
                    <p class="msds-form__input-container-text-area-message">Please be aware that the description should not be longer than 500 characters. <span class="word-count"></span>
                    </p>
                </div>
            </div>

            <div class="col-5">
                <div class="msds-form__input-container">
                    <textarea
                        class="msds-form__input-container-text-area msds-form__input-container-text-area--readonly"
                        readonly placeholder="Read Only" maxlength="400" type="textarea"></textarea>
                    <label class="msds-form__input-container-text-area-label"
                        for="default-input">Read Only</label>
                    <p class="msds-form__input-container-text-area-message">Please be aware that the description should not be longer than 500 characters. <span class="word-count"></span>
                    </p>
                </div>
            </div>

            <div class="col-5">
                <div class="msds-form__input-container">
                    <textarea
                        class="msds-form__input-container-text-area msds-form__input-container-text-area--small msds-form__input-container-text-area--readonly"
                        readonly placeholder="Enter your description*" maxlength="400" type="textarea">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie. Mauris malesuada nisi sit amet augue accumsan tincidunt. Maecenas tincidunt, velit ac porttitor pulvinar, tortor eros facilisis libero.</textarea>
                    <label class="msds-form__input-container-text-area-label"
                        for="default-input">Enter your description*</label>
                    <p class="msds-form__input-container-text-area-message">Please be aware that the description should not be longer than 500 characters. <span class="word-count"></span>
                    </p>
                </div>
            </div>

            <div class="col-5">
                <div class="msds-form__input-container">
                    <textarea class="msds-form__input-container-text-area msds-form__input-container-text-area--error"
                        placeholder="Enter your description*" maxlength="400" type="textarea"></textarea>
                    <label class="msds-form__input-container-text-area-label"
                        for="default-input">Enter your description*</label>
                    <p class="msds-form__input-container-text-area-message">Please be aware that the description should not be longer than 500 characters. <span class="word-count"></span>
                    </p>
                </div>
            </div>

            <div class="col-5">
                <div class="msds-form__input-container">
                    <textarea
                        class="msds-form__input-container-text-area msds-form__input-container-text-area--small msds-form__input-container-text-area--error"
                        placeholder="Enter your description*" maxlength="400" type="textarea"></textarea>
                    <label class="msds-form__input-container-text-area-label"
                        for="default-input">Enter your description*</label>
                    <p class="msds-form__input-container-text-area-message">Please be aware that the description should not be longer than 500 characters. <span class="word-count"></span>
                    </p>
                </div>
            </div>

            <div class="col-5">
                <div class="msds-form__input-container">
                    <textarea class="msds-form__input-container-text-area msds-form__input-container-text-area--success"
                        placeholder="Enter your description*" maxlength="400" type="textarea"></textarea>
                    <label class="msds-form__input-container-text-area-label"
                        for="default-input">Enter your description*</label>
                    <p class="msds-form__input-container-text-area-message">Please be aware that the description should not be longer than 500 characters. <span class="word-count"></span></p>
                </div>
            </div>

            <div class="col-5">
                <div class="msds-form__input-container">
                    <textarea
                        class="msds-form__input-container-text-area msds-form__input-container-text-area--small msds-form__input-container-text-area--success"
                        placeholder="Enter your description*" maxlength="400" type="textarea"></textarea>
                    <label class="msds-form__input-container-text-area-label"
                        for="default-input">Enter your description*</label>
                    <p class="msds-form__input-container-text-area-message">Please be aware that the description should not be longer than 500 characters. <span class="word-count"></span></p>
                </div>
            </div>
        </div>
    </div>
</form>
	</body>
</html>

