

<!DOCTYPE html>
<html class="msds-enable-font-family">
	<head>
    <meta charset="utf-8">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,300,400,600,700,800' rel='stylesheet' type='text/css' />
    <link media="all" rel="stylesheet" href="../../rich-icons-bundle.css">
    <link media="all" rel="stylesheet" href="../../main.css">
    <title>Preview Layout</title>
		<script defer src="../../main.js"></script>

    <style>
      body {
        margin: 10px 0 10px 0;
        padding: 0;
        background-color: #fff;
        background-image: linear-gradient(45deg, #eee 25%, transparent 25%), linear-gradient(-45deg, #eee 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #eee 75%), linear-gradient(-45deg, transparent 75%, #eee 75%);
        background-size: 20px 20px;
        background-position: 0 0, 0 10px, 10px -10px, -10px 0;
      }     
      
    </style>
	</head>
	<body>
		<div class="msds-text-body-0">Body text 0 - Regular</div>
<div class="msds-text-body-0-bold">Body text 0 - Bold</div>
<div class="msds-text-body-0-italic">Body text 0 - Italic</div>
<br />
<div class="msds-text-body-1">Body text 1 - Regular</div>
<div class="msds-text-body-1-bold">Body text 1 - Bold</div>
<div class="msds-text-body-1-italic">Body text 1 - Italic</div>
<br />
<div class="msds-text-body-2">Body text 2 - Regular</div>
<div class="msds-text-body-2-bold">Body text 2 - Bold</div>
<div class="msds-text-body-2-italic">Body text 2 - Italic</div>
<br />
<div class="msds-text-body-3">Body text 3 - Regular</div>
<div class="msds-text-body-3-bold">Body text 3 - Bold</div>
<div class="msds-text-body-3-italic">Body text 3 - Italic</div>
<br />
<div class="msds-text-body-4">Body text 4 - Regular</div>
<div class="msds-text-body-4-bold">Body text 4 - Bold</div>
<div class="msds-text-body-4-italic">Body text 4 - Italic</div>
<br />
<div class="msds-text-body-5">Body text 5 - Regular</div>
<div class="msds-text-body-5-bold">Body text 5 - Bold</div>
<div class="msds-text-body-5-italic">Body text 5 - Italic</div>

	</body>
</html>

