

<!DOCTYPE html>
<html class="msds-enable-font-family">
	<head>
    <meta charset="utf-8">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,300,400,600,700,800' rel='stylesheet' type='text/css' />
    <link media="all" rel="stylesheet" href="../../rich-icons-bundle.css">
    <link media="all" rel="stylesheet" href="../../main.css">
    <title>Preview Layout</title>
		<script defer src="../../main.js"></script>

    <style>
      body {
        margin: 10px 0 10px 0;
        padding: 0;
        background-color: #fff;
        background-image: linear-gradient(45deg, #eee 25%, transparent 25%), linear-gradient(-45deg, #eee 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #eee 75%), linear-gradient(-45deg, transparent 75%, #eee 75%);
        background-size: 20px 20px;
        background-position: 0 0, 0 10px, 10px -10px, -10px 0;
      }     
      
    </style>
	</head>
	<body>
		<div class="container-fluid">
  <div class="row">    
    <div class="col-12 col-sm-6 mb-5">
      <div class="msds-bg-white p-6">
        <h3 class="msds-text-gray-10">On White background</h3>
        <p class="msds-text-gray-10">Whether you have a small flower shop with a few cameras, or an airport with +1,000, we have a solution for you. With <a href="/docs/content/typography/links" class="msds-link--secondary">our product range</a> our product range you can choose the exact solution your business needs now.</p>
        <p class="msds-text-gray-10">You can easily <a href="/docs/content/typography/links" class="msds-link--secondary">upgrade or add functionality</a> should your needs change alter. Build your surveillance system on a <a href="/docs/content/typography/links" class="msds-link--secondary">solid foundation</a>. Build it with Milestone XProtect.</p>
      </div>
    </div>
    <div class="col-12 col-sm-6 mb-5">      
      <div class="msds-bg-yellow p-6">
        <h3 class="msds-text-clear-blue">On Yellow background</h3>
        <p class="msds-text-clear-blue">Whether you have a small flower shop with a few cameras, or an airport with +1,000, we have a solution for you. With <a href="/docs/content/typography/links" class="msds-link--secondary">our product range</a> our product range you can choose the exact solution your business needs now.</p>
        <p class="msds-text-clear-blue">You can easily <a href="/docs/content/typography/links" class="msds-link--secondary">upgrade or add functionality</a> should your needs change alter. Build your surveillance system on a <a href="/docs/content/typography/links" class="msds-link--secondary">solid foundation</a>. Build it with Milestone XProtect.</p>
      </div>
    </div>
    <div class="col-12 col-sm-6 mb-5">
      <div class="msds-bg-dark-blue p-6">
        <h3 class="msds-text-white">On Dark Blue Background</h3>
        <p class="msds-text-white">Whether you have a small flower shop with a few cameras, or an airport with +1,000, we have a solution for you. With <a href="/docs/content/typography/links" class="msds-link--secondary">our product range</a> our product range you can choose the exact solution your business needs now.</p>
        <p class="msds-text-white">You can easily <a href="/docs/content/typography/links" class="msds-link--secondary">upgrade or add functionality</a> should your needs change alter. Build your surveillance system on a <a href="/docs/content/typography/links" class="msds-link--secondary">solid foundation</a>. Build it with Milestone XProtect.</p>
      </div>
    </div>
    <div class="col-12 col-sm-6 mb-5">      
      <div class="msds-bg-mixed-blue-gradient p-6">
       <h3 class="msds-text-gray-4">On Mixed Blue Background</h3>
        <p class="msds-text-gray-4">Whether you have a small flower shop with a few cameras, or an airport with +1,000, we have a solution for you. With <a href="/docs/content/typography/links" class="msds-link--secondary">our product range</a> our product range you can choose the exact solution your business needs now.</p>
        <p class="msds-text-gray-4">You can easily <a href="/docs/content/typography/links" class="msds-link--secondary">upgrade or add functionality</a> should your needs change alter. Build your surveillance system on a <a href="/docs/content/typography/links" class="msds-link--secondary">solid foundation</a>. Build it with Milestone XProtect.</p>
      </div>
    </div>    
  </div>
</div>

	</body>
</html>

