<div class="container">
  <div class="row">
    <div class="col-12">        
      <h1>Progress Bar</h1>
      <h2>Dark Theme</h2>      
      <div class="row">          
          <div class="col-8">
            <div id="DarkThemeProgressBar" class="msds-progress-bar msds-progress-bar--dark">
              <span class="msds-progress-bar__progression-counter"></span>
              <div class="msds-progress-bar__base-bar">
                <div class="msds-progress-bar__progression-bar"></div>
              </div>
            </div>
            <div class="progress-pagination progress-pagination--dark">                    
              <div class="basenumber">
                  <label>Base number</label>
                  <input id="DarkThemeBaseNumber" type="number" value="5" >
              </div>
              <div id="DarkThemePrevStep" class="prevStep">Previous step</div>
              <div id="DarkThemeNextStep" class="nextStep">Next step</div>
              <input id="DarkThemeStartFromOne" type="checkbox" name="DarkThemeStartFromOne" />
              <label for="DarkThemeStartFromOne">Start from 1</label>
            </div>  
          </div>
      </div>      
    </div>
  </div>
</div>