
<div class="container">  
  <h1>Progress Bar</h1>                  
  <div class="row">    
    <div class="col-6">
      <h3>Large Version (default)</h3>
      <div id="ProgressBarSize1" class="msds-progress-bar">
        <span class="msds-progress-bar__progression-counter"></span>
        <div class="msds-progress-bar__base-bar">
          <div class="msds-progress-bar__progression-bar"></div>
        </div>
      </div>
    </div>          
  </div>
  <br />  
  <div class="row">    
    <div class="col-6">
      <h3>Small Version</h3>
      <div id="ProgressBarSize2" class="msds-progress-bar msds-progress-bar--small">
        <span class="msds-progress-bar__progression-counter"></span>
        <div class="msds-progress-bar__base-bar">
          <div class="msds-progress-bar__progression-bar"></div>
        </div>
      </div>          
    </div>            
  </div>  
</div>